.cards-wrapper :is(.relative) {
  position: relative
}

.cards-wrapper :is(.col-span-1) {
  grid-column: span 1 / span 1
}

.cards-wrapper :is(.m-0) {
  margin: 0px
}

.cards-wrapper :is(.mx-auto) {
  margin-left: auto;
  margin-right: auto
}

.cards-wrapper :is(.my-2) {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

.cards-wrapper :is(.mb-4) {
  margin-bottom: 1rem
}

.cards-wrapper :is(.\!line-clamp-2) {
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 2 !important
}

.cards-wrapper :is(.\!line-clamp-3) {
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 3 !important
}

.cards-wrapper :is(.\!line-clamp-4) {
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 4 !important
}

.cards-wrapper :is(.\!block) {
  display: block !important
}

.cards-wrapper :is(.block) {
  display: block
}

.cards-wrapper :is(.flex) {
  display: flex
}

.cards-wrapper :is(.inline-flex) {
  display: inline-flex
}

.cards-wrapper :is(.grid) {
  display: grid
}

.cards-wrapper :is(.\!h-16) {
  height: 4rem !important
}

.cards-wrapper :is(.\!h-20) {
  height: 5rem !important
}

.cards-wrapper :is(.\!h-24) {
  height: 6rem !important
}

.cards-wrapper :is(.h-48) {
  height: 12rem
}

.cards-wrapper :is(.h-52) {
  height: 13rem
}

.cards-wrapper :is(.w-full) {
  width: 100%
}

.cards-wrapper :is(.max-w-xl) {
  max-width: 36rem
}

.cards-wrapper :is(.transform) {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cards-wrapper :is(.cursor-pointer) {
  cursor: pointer
}

.cards-wrapper :is(.list-none) {
  list-style-type: none
}

.cards-wrapper :is(.grid-cols-1) {
  grid-template-columns: repeat(1, minmax(0, 1fr))
}

.cards-wrapper :is(.flex-col) {
  flex-direction: column
}

.cards-wrapper :is(.justify-center) {
  justify-content: center
}

.cards-wrapper :is(.gap-x-8) {
  -moz-column-gap: 2rem;
       column-gap: 2rem
}

.cards-wrapper :is(.gap-y-16) {
  row-gap: 4rem
}

.cards-wrapper :is(.overflow-hidden) {
  overflow: hidden
}

.cards-wrapper :is(.\!break-words) {
  overflow-wrap: break-word !important
}

.cards-wrapper :is(.rounded-lg) {
  border-radius: 0.5rem
}

.cards-wrapper :is(.rounded-b) {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem
}

.cards-wrapper :is(.rounded-t) {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem
}

.cards-wrapper :is(.border) {
  border-width: 1px
}

.cards-wrapper :is(.border-l-\[0\.5px\]) {
  border-left-width: 0.5px
}

.cards-wrapper :is(.border-gray-300) {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity))
}

.cards-wrapper :is(.bg-danaherlightblue-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(239 251 253 / var(--tw-bg-opacity))
}

.cards-wrapper :is(.bg-danaherpurple-800) {
  --tw-bg-opacity: 1;
  background-color: rgb(64 0 165 / var(--tw-bg-opacity))
}

.cards-wrapper :is(.bg-white) {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.cards-wrapper :is(.\!object-contain) {
  -o-object-fit: contain !important;
     object-fit: contain !important
}

.cards-wrapper :is(.p-0) {
  padding: 0px
}

.cards-wrapper :is(.p-4) {
  padding: 1rem
}

.cards-wrapper :is(.px-0) {
  padding-left: 0px;
  padding-right: 0px
}

.cards-wrapper :is(.py-2) {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.cards-wrapper :is(.pl-2) {
  padding-left: 0.5rem
}

.cards-wrapper :is(.pl-8) {
  padding-left: 2rem
}

.cards-wrapper :is(.pr-2) {
  padding-right: 0.5rem
}

.cards-wrapper :is(.pt-5) {
  padding-top: 1.25rem
}

.cards-wrapper :is(.text-3xl) {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.cards-wrapper :is(.text-base) {
  font-size: 1rem;
  line-height: 1.5rem
}

.cards-wrapper :is(.text-lg) {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.cards-wrapper :is(.text-sm) {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.cards-wrapper :is(.font-extrabold) {
  font-weight: 800
}

.cards-wrapper :is(.font-semibold) {
  font-weight: 700
}

.cards-wrapper :is(.leading-5) {
  line-height: 1.25rem
}

.cards-wrapper :is(.text-danahergray-900) {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity))
}

.cards-wrapper :is(.text-danaherpurple-500) {
  --tw-text-opacity: 1;
  color: rgb(117 35 255 / var(--tw-text-opacity))
}

.cards-wrapper :is(.text-gray-900) {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity))
}

.cards-wrapper :is(.shadow-lg) {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.cards-wrapper :is(.transition) {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.cards-wrapper :is(.duration-500) {
  transition-duration: 500ms
}

.cards-wrapper :is(.hover\:scale-105:hover) {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

@media (min-width: 640px) {
  .cards-wrapper :is(.sm\:grid-cols-2) {
    grid-template-columns: repeat(2, minmax(0, 1fr))
  }
}

@media (min-width: 1024px) {
  .cards-wrapper :is(.lg\:grid-cols-3) {
    grid-template-columns: repeat(3, minmax(0, 1fr))
  }

  .cards-wrapper :is(.lg\:grid-cols-4) {
    grid-template-columns: repeat(4, minmax(0, 1fr))
  }
}