.container {
    width: 100%
  }
  
  @media (min-width: 640px) {
    .container {
      max-width: 640px
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 768px
    }
  }
  
  @media (min-width: 1024px) {
    .container {
      max-width: 1024px
    }
  }
  
  @media (min-width: 1280px) {
    .container {
      max-width: 1280px
    }
  }
  
  @media (min-width: 1536px) {
    .container {
      max-width: 1536px
    }
  }
  
  .banner :is(.left-\[60px\]) {
    left: 60px
  }
  
  .banner :is(.left-\[818px\]) {
    left: 818px
  }
  
  .banner :is(.top-\[358px\]) {
    top: 358px
  }
  
  .banner :is(.block) {
    display: block
  }
  
  .banner :is(.flex) {
    display: flex
  }
  
  .banner :is(.inline-flex) {
    display: inline-flex
  }
  
  .banner :is(.w-\[1358px\]) {
    width: 1358px
  }
  
  .banner :is(.w-\[683px\]) {
    width: 683px
  }
  
  .banner :is(.w-8\/12) {
    width: 66.666667%
  }
  
  .banner :is(.items-start) {
    align-items: flex-start
  }
  
  .banner :is(.justify-start) {
    justify-content: flex-start
  }
  
  .banner :is(.justify-between) {
    justify-content: space-between
  }
  
  .banner :is(.gap-4) {
    gap: 1rem
  }
  
  .banner :is(.gap-6) {
    gap: 1.5rem
  }
  
  .banner :is(.break-normal) {
    overflow-wrap: normal;
    word-break: normal
  }
  
  .banner :is(.bg-danaherlightblue-50) {
    --tw-bg-opacity: 1;
    background-color: rgb(239 251 253 / var(--tw-bg-opacity))
  }
  
  .banner :is(.bg-danaherpurple-800) {
    --tw-bg-opacity: 1;
    background-color: rgb(64 0 165 / var(--tw-bg-opacity))
  }
  
  .banner :is(.font-\[\'TWK_Lausanne_Pan\'\]) {
    font-family: 'TWK Lausanne Pan'
  }
  
  .banner :is(.text-4xl) {
    font-size: 2.25rem;
    line-height: 2.5rem
  }
  
  .banner :is(.text-base) {
    font-size: 1rem;
    line-height: 1.5rem
  }
  
  .banner :is(.font-bold) {
    font-weight: 700
  }
  
  .banner :is(.font-normal) {
    font-weight: 200
  }
  
  .banner :is(.font-extralight) {
    font-weight: 200
  }
  
  .banner :is(.leading-snug) {
    line-height: 1.375
  }
  
  .banner :is(.text-black) {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity))
  }