.blog-hero-wrapper :is(.my-2) {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

.blog-hero-wrapper :is(.mt-8) {
  margin-top: 2rem
}

.blog-hero-wrapper :is(.block) {
  display: block
}

.blog-hero-wrapper :is(.bg-danaherlightblue-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(239 251 253 / var(--tw-bg-opacity))
}

.blog-hero-wrapper :is(.px-2) {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.blog-hero-wrapper :is(.text-xl) {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.blog-hero-wrapper :is(.leading-8) {
  line-height: 2rem
}

.blog-hero-wrapper :is(.text-gray-500) {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity))
}

.blog-hero-wrapper :is(.text-gray-900) {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity))
}