.marketo-form-wrapper :is(.relative) {
  position: relative
}

.marketo-form-wrapper :is(.z-0) {
  z-index: 0
}

.marketo-form-wrapper :is(.z-\[9\]) {
  z-index: 9
}

.marketo-form-wrapper :is(.mx-auto) {
  margin-left: auto;
  margin-right: auto
}

.marketo-form-wrapper :is(.mb-0) {
  margin-bottom: 0px
}

.marketo-form-wrapper :is(.mb-4) {
  margin-bottom: 1rem
}

.marketo-form-wrapper :is(.mb-8) {
  margin-bottom: 2rem
}

.marketo-form-wrapper :is(.ml-0) {
  margin-left: 0px
}

.marketo-form-wrapper :is(.mr-4) {
  margin-right: 1rem
}

.marketo-form-wrapper :is(.mt-0) {
  margin-top: 0px
}

.marketo-form-wrapper :is(.block) {
  display: block
}

.marketo-form-wrapper :is(.flex) {
  display: flex
}

.marketo-form-wrapper :is(.h-80) {
  height: 20rem
}

.marketo-form-wrapper :is(.max-w-7xl) {
  max-width: 80rem
}

.marketo-form-wrapper :is(.flex-col) {
  flex-direction: column
}

.marketo-form-wrapper :is(.items-center) {
  align-items: center
}

.marketo-form-wrapper :is(.justify-center) {
  justify-content: center
}

.marketo-form-wrapper :is(.break-all) {
  word-break: break-all
}

.marketo-form-wrapper :is(.bg-danaherlightblue-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(239 251 253 / var(--tw-bg-opacity))
}

.marketo-form-wrapper :is(.bg-danaherpurple-800) {
  --tw-bg-opacity: 1;
  background-color: rgb(64 0 165 / var(--tw-bg-opacity))
}

.marketo-form-wrapper :is(.bg-white) {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.marketo-form-wrapper :is(.text-3xl) {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.marketo-form-wrapper :is(.text-lg) {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.marketo-form-wrapper :is(.font-bold) {
  font-weight: 700
}

.marketo-form-wrapper :is(.font-normal) {
  font-weight: 200
}

.marketo-form-wrapper :is(.text-gray-700) {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity))
}

.marketo-form-wrapper :is(.underline) {
  text-decoration-line: underline
}

.marketo-form-wrapper :is(.decoration-\[\#7523FF\]) {
  text-decoration-color: #7523FF
}

.marketo-form-wrapper :is(.decoration-\[3px\]) {
  text-decoration-thickness: 3px
}

.marketo-form-wrapper :is(.transition) {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.marketo-form-wrapper :is(.duration-700) {
  transition-duration: 700ms
}

.marketo-form-wrapper :is(.ease-in-out) {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.marketo-form-wrapper :is(.hover\:bg-\[\#7523FF\]:hover) {
  --tw-bg-opacity: 1;
  background-color: rgb(117 35 255 / var(--tw-bg-opacity))
}

.marketo-form-wrapper :is(.hover\:text-white:hover) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

@media (min-width: 768px) {
  .marketo-form-wrapper :is(.md\:mb-16) {
    margin-bottom: 4rem
  }

  .marketo-form-wrapper :is(.md\:break-normal) {
    overflow-wrap: normal;
    word-break: normal
  }
}