.learn-more-wrapper :is(.mx-auto) {
  margin-left: auto;
  margin-right: auto
}

.learn-more-wrapper :is(.mt-10) {
  margin-top: 2.5rem
}

.learn-more-wrapper :is(.mt-2) {
  margin-top: 0.5rem
}

.learn-more-wrapper :is(.block) {
  display: block
}

.learn-more-wrapper :is(.flex) {
  display: flex
}

.learn-more-wrapper :is(.min-w-\[120px\]) {
  min-width: 120px
}

.learn-more-wrapper :is(.max-w-\[1100px\]) {
  max-width: 1100px
}

.learn-more-wrapper :is(.cursor-pointer) {
  cursor: pointer
}

.learn-more-wrapper :is(.flex-col) {
  flex-direction: column
}

.learn-more-wrapper :is(.items-start) {
  align-items: flex-start
}

.learn-more-wrapper :is(.justify-between) {
  justify-content: space-between
}

.learn-more-wrapper :is(.gap-6) {
  gap: 1.5rem
}

.learn-more-wrapper :is(.space-y-1 > :not([hidden]) ~ :not([hidden])) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.25rem * var(--tw-space-y-reverse))
}

.learn-more-wrapper :is(.space-y-6 > :not([hidden]) ~ :not([hidden])) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse))
}

.learn-more-wrapper :is(.border-t) {
  border-top-width: 1px
}

.learn-more-wrapper :is(.border-gray-300) {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity))
}

.learn-more-wrapper :is(.bg-danaherlightblue-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(239 251 253 / var(--tw-bg-opacity))
}

.learn-more-wrapper :is(.bg-danaherpurple-800) {
  --tw-bg-opacity: 1;
  background-color: rgb(64 0 165 / var(--tw-bg-opacity))
}

.learn-more-wrapper :is(.px-4) {
  padding-left: 1rem;
  padding-right: 1rem
}

.learn-more-wrapper :is(.pt-6) {
  padding-top: 1.5rem
}

.learn-more-wrapper :is(.text-center) {
  text-align: center
}

.learn-more-wrapper :is(.text-right) {
  text-align: right
}

.learn-more-wrapper :is(.text-sm) {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.learn-more-wrapper :is(.text-xl) {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.learn-more-wrapper :is(.font-medium) {
  font-weight: 500
}

.learn-more-wrapper :is(.font-semibold) {
  font-weight: 700
}

.learn-more-wrapper :is(.text-black) {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.learn-more-wrapper :is(.text-gray-700) {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity))
}

.learn-more-wrapper :is(.text-violet-600) {
  --tw-text-opacity: 1;
  color: rgb(124 58 237 / var(--tw-text-opacity))
}

.learn-more-wrapper :is(.hover\:underline:hover) {
  text-decoration-line: underline
}

@media (min-width: 768px) {
  .learn-more-wrapper :is(.md\:flex-row) {
    flex-direction: row
  }

  .learn-more-wrapper :is(.md\:gap-12) {
    gap: 3rem
  }

  .learn-more-wrapper :is(.md\:text-left) {
    text-align: left
  }
}