.container {
  width: 100%
}

@media (min-width: 640px) {
  .container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px
  }
}

.product-category-wrapper :is(.relative) {
  position: relative
}

.product-category-wrapper :is(.col-span-1) {
  grid-column: span 1 / span 1
}

.product-category-wrapper :is(.mx-auto) {
  margin-left: auto;
  margin-right: auto
}

.product-category-wrapper :is(.mb-3) {
  margin-bottom: 0.75rem
}

.product-category-wrapper :is(.mb-4) {
  margin-bottom: 1rem
}

.product-category-wrapper :is(.mt-3) {
  margin-top: 0.75rem
}

.product-category-wrapper :is(.\!line-clamp-3) {
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 3 !important
}

.product-category-wrapper :is(.line-clamp-4) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4
}

.product-category-wrapper :is(.block) {
  display: block
}

.product-category-wrapper :is(.flex) {
  display: flex
}

.product-category-wrapper :is(.inline-flex) {
  display: inline-flex
}

.product-category-wrapper :is(.grid) {
  display: grid
}

.product-category-wrapper :is(.\!h-14) {
  height: 3.5rem !important
}

.product-category-wrapper :is(.\!h-20) {
  height: 5rem !important
}

.product-category-wrapper :is(.w-full) {
  width: 100%
}

.product-category-wrapper :is(.max-w-7xl) {
  max-width: 80rem
}

.product-category-wrapper :is(.max-w-xl) {
  max-width: 36rem
}

.product-category-wrapper :is(.transform) {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.product-category-wrapper :is(.grid-cols-1) {
  grid-template-columns: repeat(1, minmax(0, 1fr))
}

.product-category-wrapper :is(.flex-col) {
  flex-direction: column
}

.product-category-wrapper :is(.items-center) {
  align-items: center
}

.product-category-wrapper :is(.justify-center) {
  justify-content: center
}

.product-category-wrapper :is(.justify-items-center) {
  justify-items: center
}

.product-category-wrapper :is(.gap-6) {
  gap: 1.5rem
}

.product-category-wrapper :is(.space-x-4 > :not([hidden]) ~ :not([hidden])) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)))
}

.product-category-wrapper :is(.overflow-hidden) {
  overflow: hidden
}

.product-category-wrapper :is(.\!break-words) {
  overflow-wrap: break-word !important
}

.product-category-wrapper :is(.break-words) {
  overflow-wrap: break-word
}

.product-category-wrapper :is(.\!rounded-full) {
  border-radius: 9999px !important
}

.product-category-wrapper :is(.rounded-lg) {
  border-radius: 0.5rem
}

.product-category-wrapper :is(.border) {
  border-width: 1px
}

.product-category-wrapper :is(.border-8) {
  border-width: 8px
}

.product-category-wrapper :is(.bg-danaherlightblue-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(239 251 253 / var(--tw-bg-opacity))
}

.product-category-wrapper :is(.bg-gray-100) {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}

.product-category-wrapper :is(.bg-white) {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.product-category-wrapper :is(.\!px-7) {
  padding-left: 1.75rem !important;
  padding-right: 1.75rem !important
}

.product-category-wrapper :is(.px-2) {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.product-category-wrapper :is(.px-4) {
  padding-left: 1rem;
  padding-right: 1rem
}

.product-category-wrapper :is(.px-6) {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.product-category-wrapper :is(.py-4) {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.product-category-wrapper :is(.py-5) {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem
}

.product-category-wrapper :is(.\!pb-0) {
  padding-bottom: 0px !important
}

.product-category-wrapper :is(.\!text-lg) {
  font-size: 1.125rem !important;
  line-height: 1.75rem !important
}

.product-category-wrapper :is(.text-sm) {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.product-category-wrapper :is(.\!font-semibold) {
  font-weight: 700 !important
}

.product-category-wrapper :is(.\!text-danahergray-900) {
  --tw-text-opacity: 1 !important;
  color: rgb(17 24 39 / var(--tw-text-opacity)) !important
}

.product-category-wrapper :is(.text-gray-900) {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity))
}

.product-category-wrapper :is(.shadow-lg) {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.product-category-wrapper :is(.filter) {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.product-category-wrapper :is(.transition) {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.product-category-wrapper :is(.duration-500) {
  transition-duration: 500ms
}

.product-category-wrapper :is(.hover\:scale-105:hover) {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

@media (min-width: 640px) {
  .product-category-wrapper :is(.sm\:grid-cols-2) {
    grid-template-columns: repeat(2, minmax(0, 1fr))
  }

  .product-category-wrapper :is(.sm\:px-0) {
    padding-left: 0px;
    padding-right: 0px
  }
}

@media (min-width: 1024px) {
  .product-category-wrapper :is(.lg\:grid-cols-4) {
    grid-template-columns: repeat(4, minmax(0, 1fr))
  }
}