.container {
  width: 100%
}

@media (min-width: 640px) {
  .container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px
  }
}

.product-category-wrapper :is(.absolute) {
  position: absolute
}

.product-category-wrapper :is(.relative) {
  position: relative
}

.product-category-wrapper :is(.mb-4) {
  margin-bottom: 1rem
}

.product-category-wrapper :is(.mt-8) {
  margin-top: 2rem
}

.product-category-wrapper :is(.block) {
  display: block
}

.product-category-wrapper :is(.flex) {
  display: flex
}

.product-category-wrapper :is(.inline-flex) {
  display: inline-flex
}

.product-category-wrapper :is(.grid) {
  display: grid
}

.product-category-wrapper :is(.h-10) {
  height: 2.5rem
}

.product-category-wrapper :is(.h-5) {
  height: 1.25rem
}

.product-category-wrapper :is(.h-6) {
  height: 1.5rem
}

.product-category-wrapper :is(.w-10) {
  width: 2.5rem
}

.product-category-wrapper :is(.w-5) {
  width: 1.25rem
}

.product-category-wrapper :is(.w-6) {
  width: 1.5rem
}

.product-category-wrapper :is(.w-72) {
  width: 18rem
}

.product-category-wrapper :is(.w-full) {
  width: 100%
}

.product-category-wrapper :is(.cursor-pointer) {
  cursor: pointer
}

.product-category-wrapper :is(.flex-col) {
  flex-direction: column
}

.product-category-wrapper :is(.flex-wrap) {
  flex-wrap: wrap
}

.product-category-wrapper :is(.items-center) {
  align-items: center
}

.product-category-wrapper :is(.justify-start) {
  justify-content: flex-start
}

.product-category-wrapper :is(.justify-end) {
  justify-content: flex-end
}

.product-category-wrapper :is(.justify-center) {
  justify-content: center
}

.product-category-wrapper :is(.justify-between) {
  justify-content: space-between
}

.product-category-wrapper :is(.gap-2) {
  gap: 0.5rem
}

.product-category-wrapper :is(.gap-3) {
  gap: 0.75rem
}

.product-category-wrapper :is(.gap-4) {
  gap: 1rem
}

.product-category-wrapper :is(.gap-5) {
  gap: 1.25rem
}

.product-category-wrapper :is(.gap-6) {
  gap: 1.5rem
}

.product-category-wrapper :is(.overflow-hidden) {
  overflow: hidden
}

.product-category-wrapper :is(.whitespace-nowrap) {
  white-space: nowrap
}

.product-category-wrapper :is(.rounded-bl-\[20px\]) {
  border-bottom-left-radius: 20px
}

.product-category-wrapper :is(.rounded-br-\[20px\]) {
  border-bottom-right-radius: 20px
}

.product-category-wrapper :is(.rounded-tl-\[20px\]) {
  border-top-left-radius: 20px
}

.product-category-wrapper :is(.rounded-tr-\[20px\]) {
  border-top-right-radius: 20px
}

.product-category-wrapper :is(.bg-danaherlightblue-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(239 251 253 / var(--tw-bg-opacity))
}

.product-category-wrapper :is(.bg-danaherpurple-800) {
  --tw-bg-opacity: 1;
  background-color: rgb(64 0 165 / var(--tw-bg-opacity))
}

.product-category-wrapper :is(.bg-violet-600) {
  --tw-bg-opacity: 1;
  background-color: rgb(124 58 237 / var(--tw-bg-opacity))
}

.product-category-wrapper :is(.bg-white) {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.product-category-wrapper :is(.fill-current) {
  fill: currentColor
}

.product-category-wrapper :is(.px-3) {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.product-category-wrapper :is(.py-2) {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.product-category-wrapper :is(.py-6) {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem
}

.product-category-wrapper :is(.font-\[\"TWK_Lausanne_Pan\"\]) {
  font-family: "TWK Lausanne Pan"
}

.product-category-wrapper :is(.text-2xl) {
  font-size: 1.5rem;
  line-height: 2rem
}

.product-category-wrapper :is(.text-base) {
  font-size: 1rem;
  line-height: 1.5rem
}

.product-category-wrapper :is(.font-bold) {
  font-weight: 700
}

.product-category-wrapper :is(.font-normal) {
  font-weight: 200
}

.product-category-wrapper :is(.leading-loose) {
  line-height: 2
}

.product-category-wrapper :is(.leading-snug) {
  line-height: 1.375
}

.product-category-wrapper :is(.text-black) {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.product-category-wrapper :is(.text-gray-600) {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity))
}

.product-category-wrapper :is(.text-violet-600) {
  --tw-text-opacity: 1;
  color: rgb(124 58 237 / var(--tw-text-opacity))
}

.product-category-wrapper :is(.text-white) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.product-category-wrapper :is(.outline) {
  outline-style: solid
}

.product-category-wrapper :is(.outline-1) {
  outline-width: 1px
}

.product-category-wrapper :is(.outline-offset-\[-1px\]) {
  outline-offset: -1px
}

.product-category-wrapper :is(.outline-violet-600) {
  outline-color: #7c3aed
}

.product-category-wrapper :is(.hover\:underline:hover) {
  text-decoration-line: underline
}

@media (min-width: 640px) {
  .product-category-wrapper :is(.sm\:flex-row) {
    flex-direction: row
  }

  .product-category-wrapper :is(.sm\:flex-nowrap) {
    flex-wrap: nowrap
  }
}

.product-category-wrapper :is(.\[\&_svg\>use\]\:stroke-gray-600 svg>use) {
  stroke: #4b5563
}

.product-category-wrapper :is(.\[\&_svg\>use\]\:stroke-white svg>use) {
  stroke: #fff
}