.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.href-text a {
  position: relative;
  z-index: 0;
  text-decoration-line: underline;
  text-decoration-color: #7523FF;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
  text-decoration-style: solid;
  word-break: break-words;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.href-text a:hover {
  color: rgb(255 255 255);
  background-color: #7523FF;
}

.btn-outline-trending-brand {
  color: #7523FF;
  background-color: rgb(255 255 255);
  border-color: #7523FF;
  border-width: 2px;
}

.btn-outline-trending-brand:hover {
  color: rgb(255 255 255);
  background-color: #7523FF;
}

.columns-wrapper :is(.absolute) {
  position: absolute;
}

.columns-wrapper :is(.relative) {
  position: relative;
}

.columns-wrapper :is(.bottom-0) {
  bottom: 0px;
}

.columns-wrapper :is(.order-none) {
  order: 0;
}

.columns-wrapper :is(.mx-auto) {
  margin-left: auto;
  margin-right: auto;
}

.columns-wrapper :is(.my-0) {
  margin-top: 0px;
  margin-bottom: 0px;
}

.columns-wrapper :is(.my-6) {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.columns-wrapper :is(.mt-6) {
  margin-top: 1.5rem;
}

.columns-wrapper :is(.\!block) {
  display: block !important;
}

.columns-wrapper :is(.block) {
  display: block;
}

.columns-wrapper :is(.flex) {
  display: flex;
}

.columns-wrapper :is(.inline-flex) {
  display: inline-flex;
}

.columns-wrapper :is(.grid) {
  display: grid;
}

.columns-wrapper :is(.h-12) {
  height: 3rem;
}

.columns-wrapper :is(.h-4) {
  height: 1rem;
}

.columns-wrapper :is(.h-48) {
  height: 12rem;
}

.columns-wrapper :is(.h-full) {
  height: 100%;
}

.columns-wrapper :is(.w-12) {
  width: 3rem;
}

.columns-wrapper :is(.w-4) {
  width: 1rem;
}

.columns-wrapper :is(.w-full) {
  width: 100%;
}

.columns-wrapper :is(.max-w-7xl) {
  max-width: 80rem;
}

.columns-wrapper :is(.shrink-0) {
  flex-shrink: 0;
}

.columns-wrapper :is(.list-disc) {
  list-style-type: disc;
}

.columns-wrapper :is(.grid-cols-1) {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.columns-wrapper :is(.flex-col-reverse) {
  flex-direction: column-reverse;
}

.columns-wrapper :is(.items-center) {
  align-items: center;
}

.columns-wrapper :is(.justify-items-center) {
  justify-items: center;
}

.columns-wrapper :is(.gap-x-12) {
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}

.columns-wrapper :is(.gap-x-8) {
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}

.columns-wrapper :is(.gap-y-4) {
  row-gap: 1rem;
}

.columns-wrapper :is(.space-y-2 > :not([hidden]) ~ :not([hidden])) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

.columns-wrapper :is(.rounded) {
  border-radius: 0.25rem;
}

.columns-wrapper :is(.rounded-full) {
  border-radius: 9999px;
}

.columns-wrapper :is(.rounded-md) {
  border-radius: 0.375rem;
}

.columns-wrapper :is(.border) {
  border-width: 1px;
}

.columns-wrapper :is(.border-0) {
  border-width: 0px;
}

.columns-wrapper :is(.border-b) {
  border-bottom-width: 1px;
}

.columns-wrapper :is(.border-solid) {
  border-style: solid;
}

.columns-wrapper :is(.border-black) {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity));
}

.columns-wrapper :is(.border-danaherpurple-500) {
  --tw-border-opacity: 1;
  border-color: rgb(117 35 255 / var(--tw-border-opacity));
}

.columns-wrapper :is(.bg-danaherblue-900) {
  --tw-bg-opacity: 1;
  background-color: rgb(6 28 68 / var(--tw-bg-opacity));
}

.columns-wrapper :is(.bg-danaherlightblue-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(239 251 253 / var(--tw-bg-opacity));
}

.columns-wrapper :is(.bg-danaherred-800) {
  --tw-bg-opacity: 1;
  background-color: rgb(122 25 127 / var(--tw-bg-opacity));
}

.columns-wrapper :is(.bg-transparent) {
  background-color: transparent;
}

.columns-wrapper :is(.object-cover) {
  -o-object-fit: cover;
     object-fit: cover;
}

.columns-wrapper :is(.px-5) {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.columns-wrapper :is(.px-6) {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.columns-wrapper :is(.py-0) {
  padding-top: 0px;
  padding-bottom: 0px;
}

.columns-wrapper :is(.py-2) {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.columns-wrapper :is(.py-3) {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.columns-wrapper :is(.pb-10) {
  padding-bottom: 2.5rem;
}

.columns-wrapper :is(.pb-4) {
  padding-bottom: 1rem;
}

.columns-wrapper :is(.pb-7) {
  padding-bottom: 1.75rem;
}

.columns-wrapper :is(.pb-8) {
  padding-bottom: 2rem;
}

.columns-wrapper :is(.pl-10) {
  padding-left: 2.5rem;
}

.columns-wrapper :is(.align-text-top) {
  vertical-align: text-top;
}

.columns-wrapper :is(.text-4xl2) {
  font-size: 2.5rem;
}

.columns-wrapper :is(.text-base) {
  font-size: 1rem;
  line-height: 1.5rem;
}

.columns-wrapper :is(.text-lg) {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.columns-wrapper :is(.text-sm) {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.columns-wrapper :is(.font-bold) {
  font-weight: 700;
}

.columns-wrapper :is(.font-medium) {
  font-weight: 500;
}

.columns-wrapper :is(.leading-10) {
  line-height: 2.5rem;
}

.columns-wrapper :is(.leading-5) {
  line-height: 1.25rem;
}

.columns-wrapper :is(.leading-7) {
  line-height: 1.75rem;
}

.columns-wrapper :is(.\!text-white) {
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
}

.columns-wrapper :is(.text-danahergray-700) {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}

.columns-wrapper :is(.text-danahergray-900) {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}

.columns-wrapper :is(.text-danaherpurple-500) {
  --tw-text-opacity: 1;
  color: rgb(117 35 255 / var(--tw-text-opacity));
}

.columns-wrapper :is(.text-white) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.columns-wrapper :is(.\!no-underline) {
  text-decoration-line: none !important;
}

.columns-wrapper :is(.no-underline) {
  text-decoration-line: none;
}

.columns-wrapper :is(.shadow) {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.columns-wrapper :is(.brightness-0) {
  --tw-brightness: brightness(0);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.columns-wrapper :is(.invert) {
  --tw-invert: invert(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.columns-wrapper :is(.transition-all) {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.columns-wrapper :is(.duration-150) {
  transition-duration: 150ms;
}

.columns-wrapper :is(.ease-in-out) {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.columns-wrapper :is(.hover\:bg-danaherpurple-500:hover) {
  --tw-bg-opacity: 1;
  background-color: rgb(117 35 255 / var(--tw-bg-opacity));
}

.columns-wrapper :is(.hover\:text-white:hover) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

@media (min-width: 768px) {
  .columns-wrapper :is(.md\:inset-y-0) {
    top: 0px;
    bottom: 0px;
  }

  .columns-wrapper :is(.md\:h-\[27rem\]) {
    height: 27rem;
  }

  .columns-wrapper :is(.md\:pr-16) {
    padding-right: 4rem;
  }
}

@media (min-width: 1024px) {
  .columns-wrapper :is(.lg\:absolute) {
    position: absolute;
  }

  .columns-wrapper :is(.lg\:inset-y-0) {
    top: 0px;
    bottom: 0px;
  }

  .columns-wrapper :is(.lg\:right-2) {
    right: 0.5rem;
  }

  .columns-wrapper :is(.lg\:my-4) {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .columns-wrapper :is(.lg\:mt-56) {
    margin-top: 14rem;
  }

  .columns-wrapper :is(.lg\:w-1\/2) {
    width: 50%;
  }

  .columns-wrapper :is(.lg\:grid-cols-2) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .columns-wrapper :is(.lg\:grid-cols-3) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .columns-wrapper :is(.lg\:flex-col-reverse) {
    flex-direction: column-reverse;
  }
}