.eyebrow {
  color: #4000A5;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.75rem
}

.accordion-wrapper :is(.static) {
  position: static
}

.accordion-wrapper :is(.absolute) {
  position: absolute
}

.accordion-wrapper :is(.relative) {
  position: relative
}

.accordion-wrapper :is(.right-0) {
  right: 0px
}

.accordion-wrapper :is(.mx-auto) {
  margin-left: auto;
  margin-right: auto
}

.accordion-wrapper :is(.my-0) {
  margin-top: 0px;
  margin-bottom: 0px
}

.accordion-wrapper :is(.mr-12) {
  margin-right: 3rem
}

.accordion-wrapper :is(.block) {
  display: block
}

.accordion-wrapper :is(.flex) {
  display: flex
}

.accordion-wrapper :is(.grid) {
  display: grid
}

.accordion-wrapper :is(.hidden) {
  display: none
}

.accordion-wrapper :is(.h-6) {
  height: 1.5rem
}

.accordion-wrapper :is(.h-full) {
  height: 100%
}

.accordion-wrapper :is(.w-6) {
  width: 1.5rem
}

.accordion-wrapper :is(.w-full) {
  width: 100%
}

.accordion-wrapper :is(.max-w-7xl) {
  max-width: 80rem
}

.accordion-wrapper :is(.cursor-pointer) {
  cursor: pointer
}

.accordion-wrapper :is(.grid-cols-1) {
  grid-template-columns: repeat(1, minmax(0, 1fr))
}

.accordion-wrapper :is(.items-center) {
  align-items: center
}

.accordion-wrapper :is(.justify-between) {
  justify-content: space-between
}

.accordion-wrapper :is(.gap-16) {
  gap: 4rem
}

.accordion-wrapper :is(.divide-y > :not([hidden]) ~ :not([hidden])) {
  --tw-divide-y-reverse: 0;
  border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse))
}

.accordion-wrapper :is(.divide-gray-900\/10 > :not([hidden]) ~ :not([hidden])) {
  border-color: rgb(17 24 39 / 0.1)
}

.accordion-wrapper :is(.overflow-hidden) {
  overflow: hidden
}

.accordion-wrapper :is(.bg-danaherlightblue-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(239 251 253 / var(--tw-bg-opacity))
}

.accordion-wrapper :is(.bg-danaherpurple-800) {
  --tw-bg-opacity: 1;
  background-color: rgb(64 0 165 / var(--tw-bg-opacity))
}

.accordion-wrapper :is(.fill-current) {
  fill: currentColor
}

.accordion-wrapper :is(.py-2) {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.accordion-wrapper :is(.pt-4) {
  padding-top: 1rem
}

.accordion-wrapper :is(.text-left) {
  text-align: left
}

.accordion-wrapper :is(.align-middle) {
  vertical-align: middle
}

.accordion-wrapper :is(.\!text-xl) {
  font-size: 1.25rem !important;
  line-height: 1.75rem !important
}

.accordion-wrapper :is(.text-base) {
  font-size: 1rem;
  line-height: 1.5rem
}

.accordion-wrapper :is(.text-sm) {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.accordion-wrapper :is(.font-bold) {
  font-weight: 700
}

.accordion-wrapper :is(.font-medium) {
  font-weight: 500
}

.accordion-wrapper :is(.font-semibold) {
  font-weight: 700
}

.accordion-wrapper :is(.leading-7) {
  line-height: 1.75rem
}

.accordion-wrapper :is(.text-danaherpurple-500) {
  --tw-text-opacity: 1;
  color: rgb(117 35 255 / var(--tw-text-opacity))
}

.accordion-wrapper :is(.text-gray-400) {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity))
}

.accordion-wrapper :is(.\!no-underline) {
  text-decoration-line: none !important
}

.accordion-wrapper :is(.filter) {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.accordion-wrapper :is(.transition-all) {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.accordion-wrapper :is(.duration-300) {
  transition-duration: 300ms
}

.accordion-wrapper :is(.ease-in-out) {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

@media (min-width: 1024px) {
  .accordion-wrapper :is(.lg\:block) {
    display: block
  }

  .accordion-wrapper :is(.lg\:grid-cols-2) {
    grid-template-columns: repeat(2, minmax(0, 1fr))
  }

  .accordion-wrapper :is(.lg\:pl-44) {
    padding-left: 11rem
  }

  .accordion-wrapper :is(.lg\:text-center) {
    text-align: center
  }
}

.accordion-wrapper :is(.\[\&_svg\>use\]\:stroke-gray-400 svg>use) {
  stroke: #9ca3af
}