.offer-banner-wrapper :is(.mx-auto) {
  margin-left: auto;
  margin-right: auto
}

.offer-banner-wrapper :is(.mt-4) {
  margin-top: 1rem
}

.offer-banner-wrapper :is(.block) {
  display: block
}

.offer-banner-wrapper :is(.flex) {
  display: flex
}

.offer-banner-wrapper :is(.h-16) {
  height: 4rem
}

.offer-banner-wrapper :is(.w-auto) {
  width: auto
}

.offer-banner-wrapper :is(.max-w-3xl) {
  max-width: 48rem
}

.offer-banner-wrapper :is(.max-w-\[1200px\]) {
  max-width: 1200px
}

.offer-banner-wrapper :is(.flex-col) {
  flex-direction: column
}

.offer-banner-wrapper :is(.items-start) {
  align-items: flex-start
}

.offer-banner-wrapper :is(.items-center) {
  align-items: center
}

.offer-banner-wrapper :is(.gap-1) {
  gap: 0.25rem
}

.offer-banner-wrapper :is(.gap-16) {
  gap: 4rem
}

.offer-banner-wrapper :is(.rounded-md) {
  border-radius: 0.375rem
}

.offer-banner-wrapper :is(.bg-danaherlightblue-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(239 251 253 / var(--tw-bg-opacity))
}

.offer-banner-wrapper :is(.bg-danaherpurple-800) {
  --tw-bg-opacity: 1;
  background-color: rgb(64 0 165 / var(--tw-bg-opacity))
}

.offer-banner-wrapper :is(.bg-gray-100) {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}

.offer-banner-wrapper :is(.px-24) {
  padding-left: 6rem;
  padding-right: 6rem
}

.offer-banner-wrapper :is(.py-10) {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem
}

.offer-banner-wrapper :is(.pl-8) {
  padding-left: 2rem
}

.offer-banner-wrapper :is(.text-2xl) {
  font-size: 1.5rem;
  line-height: 2rem
}

.offer-banner-wrapper :is(.text-sm) {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.offer-banner-wrapper :is(.font-bold) {
  font-weight: 700
}

.offer-banner-wrapper :is(.font-semibold) {
  font-weight: 700
}

.offer-banner-wrapper :is(.leading-snug) {
  line-height: 1.375
}

.offer-banner-wrapper :is(.text-gray-900) {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity))
}

.offer-banner-wrapper :is(.text-purple-700) {
  --tw-text-opacity: 1;
  color: rgb(126 34 206 / var(--tw-text-opacity))
}

.offer-banner-wrapper :is(.hover\:underline:hover) {
  text-decoration-line: underline
}

@media (min-width: 768px) {
  .offer-banner-wrapper :is(.md\:flex-row) {
    flex-direction: row
  }
}