.dhls-container {
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 48px
}

.dhls-arrow-right-icon {
  height: 1rem;
  width: 1rem;
  margin-top: 2px;
  margin-left: 4px
}

.dhls-container .font-medium {
  font-weight: 400;
  font-family: TWK Lausanne EDS
}

.dhls-container .text-xs {
  font-size: 12px
}

.dhls-container .text-sm {
  font-size: 14px
}

.dhls-container .text-base {
  font-size: 16px
}

.dhls-container .text-lg {
  font-size: 18px
}

.dhls-container .text-xl {
  font-size: 20px
}

.dhls-container .text-2xl {
  font-size: 24px
}

.dhls-container .text-3xl {
  font-size: 32px !important
}

.dhls-container .text-4xl {
  font-size: 40px !important
}

.offer-banner-wrapper :is(.mx-5) {
  margin-left: 1.25rem;
  margin-right: 1.25rem
}

.offer-banner-wrapper :is(.mt-4) {
  margin-top: 1rem
}

.offer-banner-wrapper :is(.block) {
  display: block
}

.offer-banner-wrapper :is(.flex) {
  display: flex
}

.offer-banner-wrapper :is(.h-16) {
  height: 4rem
}

.offer-banner-wrapper :is(.w-auto) {
  width: auto
}

.offer-banner-wrapper :is(.max-w-3xl) {
  max-width: 48rem
}

.offer-banner-wrapper :is(.flex-col) {
  flex-direction: column
}

.offer-banner-wrapper :is(.items-start) {
  align-items: flex-start
}

.offer-banner-wrapper :is(.items-center) {
  align-items: center
}

.offer-banner-wrapper :is(.gap-16) {
  gap: 4rem
}

.offer-banner-wrapper :is(.bg-danaherlightblue-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(239 251 253 / var(--tw-bg-opacity))
}

.offer-banner-wrapper :is(.bg-danaherpurple-800) {
  --tw-bg-opacity: 1;
  background-color: rgb(64 0 165 / var(--tw-bg-opacity))
}

.offer-banner-wrapper :is(.bg-gray-100) {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}

.offer-banner-wrapper :is(.fill-current) {
  fill: currentColor
}

.offer-banner-wrapper :is(.p-6) {
  padding: 1.5rem
}

.offer-banner-wrapper :is(.text-3xl) {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.offer-banner-wrapper :is(.text-base) {
  font-size: 1rem;
  line-height: 1.5rem
}

.offer-banner-wrapper :is(.font-medium) {
  font-weight: 500
}

.offer-banner-wrapper :is(.font-semibold) {
  font-weight: 700
}

.offer-banner-wrapper :is(.leading-10) {
  line-height: 2.5rem
}

.offer-banner-wrapper :is(.text-black) {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.offer-banner-wrapper :is(.text-danaherpurple-500) {
  --tw-text-opacity: 1;
  color: rgb(117 35 255 / var(--tw-text-opacity))
}

.offer-banner-wrapper :is(.hover\:text-danaherpurple-800:hover) {
  --tw-text-opacity: 1;
  color: rgb(64 0 165 / var(--tw-text-opacity))
}

@media (min-width: 768px) {
  .offer-banner-wrapper :is(.md\:flex-row) {
    flex-direction: row
  }

  .offer-banner-wrapper :is(.md\:items-center) {
    align-items: center
  }

  .offer-banner-wrapper :is(.md\:p-12) {
    padding: 3rem
  }

  .offer-banner-wrapper :is(.md\:pl-8) {
    padding-left: 2rem
  }
}

@media (min-width: 1280px) {
  .offer-banner-wrapper :is(.dhlsBp\:mx-auto) {
    margin-left: auto;
    margin-right: auto
  }
}

.offer-banner-wrapper :is(.\[\&_svg\>use\]\:stroke-danaherpurple-500 svg>use) {
  stroke: #7523FF
}

.offer-banner-wrapper :is(.\[\&_svg\>use\]\:hover\:stroke-danaherpurple-800:hover svg>use) {
  stroke: #4000A5
}