.container {
  width: 100%
}

@media (min-width: 640px) {
  .container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px
  }
}

.product-hero-content-wrapper :is(.mb-2) {
  margin-bottom: 0.5rem
}

.product-hero-content-wrapper :is(.block) {
  display: block
}

.product-hero-content-wrapper :is(.inline) {
  display: inline
}

.product-hero-content-wrapper :is(.flex) {
  display: flex
}

.product-hero-content-wrapper :is(.w-1\/4) {
  width: 25%
}

.product-hero-content-wrapper :is(.w-3\/4) {
  width: 75%
}

.product-hero-content-wrapper :is(.max-w-\[1200px\]) {
  max-width: 1200px
}

.product-hero-content-wrapper :is(.flex-wrap) {
  flex-wrap: wrap
}

.product-hero-content-wrapper :is(.justify-start) {
  justify-content: flex-start
}

.product-hero-content-wrapper :is(.bg-danaherlightblue-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(239 251 253 / var(--tw-bg-opacity))
}

.product-hero-content-wrapper :is(.bg-danaherpurple-800) {
  --tw-bg-opacity: 1;
  background-color: rgb(64 0 165 / var(--tw-bg-opacity))
}

.product-hero-content-wrapper :is(.text-3xl) {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.product-hero-content-wrapper :is(.text-base) {
  font-size: 1rem;
  line-height: 1.5rem
}

.product-hero-content-wrapper :is(.font-extralight) {
  font-weight: 200
}

.product-hero-content-wrapper :is(.font-medium) {
  font-weight: 500
}

.product-hero-content-wrapper :is(.font-normal) {
  font-weight: 200
}

.product-hero-content-wrapper :is(.leading-10) {
  line-height: 2.5rem
}

.product-hero-content-wrapper :is(.leading-snug) {
  line-height: 1.375
}

.product-hero-content-wrapper :is(.text-black) {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.product-hero-content-wrapper :is(.text-violet-600) {
  --tw-text-opacity: 1;
  color: rgb(124 58 237 / var(--tw-text-opacity))
}

.product-hero-content-wrapper :is(.hover\:underline:hover) {
  text-decoration-line: underline
}