.timeline > *:not(:last-child) {
  .t-line::after {
    position: absolute
  }
  .t-line::after {
    left: 38%
  }
  .t-line::after {
    top: 3.5rem
  }
  .t-line::after {
    bottom: 0px
  }
  .t-line::after {
    height: 100%
  }
  .t-line::after {
    width: 1px
  }
  .t-line::after {
    --tw-bg-opacity: 1;
    background-color: rgb(209 213 219 / var(--tw-bg-opacity))
  }
  .t-line::after {
    --tw-content: "";
    content: var(--tw-content)
  }
  @media (min-width: 768px) {
    .t-line::after {
      left: 18%
    }
  }
  @media (min-width: 1024px) {
    .t-line::after {
      left: 28%
    }
  }
}