.left {
    grid-column: 2 / 2;
    grid-row: 1;
}
.right {
    grid-column: 2 / 2;
    grid-row: 1;
}
.t-rap {
    grid-column: 1 / 1;
    grid-row: 1 / 3;
}
.t-line:after {
    left: 50% !important;
}