.container {
  width: 100%
}

@media (min-width: 640px) {
  .container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px
  }
}

.category-family-wrapper :is(.pointer-events-none) {
  pointer-events: none
}

.category-family-wrapper :is(.absolute) {
  position: absolute
}

.category-family-wrapper :is(.relative) {
  position: relative
}

.category-family-wrapper :is(.left-0) {
  left: 0px
}

.category-family-wrapper :is(.z-10) {
  z-index: 10
}

.category-family-wrapper :is(.col-span-1) {
  grid-column: span 1 / span 1
}

.category-family-wrapper :is(.col-span-2) {
  grid-column: span 2 / span 2
}

.category-family-wrapper :is(.col-span-4) {
  grid-column: span 4 / span 4
}

.category-family-wrapper :is(.m-1) {
  margin: 0.25rem
}

.category-family-wrapper :is(.mx-auto) {
  margin-left: auto;
  margin-right: auto
}

.category-family-wrapper :is(.mb-2) {
  margin-bottom: 0.5rem
}

.category-family-wrapper :is(.mb-4) {
  margin-bottom: 1rem
}

.category-family-wrapper :is(.mt-3) {
  margin-top: 0.75rem
}

.category-family-wrapper :is(.mt-4) {
  margin-top: 1rem
}

.category-family-wrapper :is(.mt-6) {
  margin-top: 1.5rem
}

.category-family-wrapper :is(.\!line-clamp-3) {
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 3 !important
}

.category-family-wrapper :is(.line-clamp-4) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4
}

.category-family-wrapper :is(.block) {
  display: block
}

.category-family-wrapper :is(.flex) {
  display: flex
}

.category-family-wrapper :is(.inline-flex) {
  display: inline-flex
}

.category-family-wrapper :is(.grid) {
  display: grid
}

.category-family-wrapper :is(.contents) {
  display: contents
}

.category-family-wrapper :is(.hidden) {
  display: none
}

.category-family-wrapper :is(.\!h-14) {
  height: 3.5rem !important
}

.category-family-wrapper :is(.\!h-20) {
  height: 5rem !important
}

.category-family-wrapper :is(.h-10) {
  height: 2.5rem
}

.category-family-wrapper :is(.h-2) {
  height: 0.5rem
}

.category-family-wrapper :is(.h-24) {
  height: 6rem
}

.category-family-wrapper :is(.h-3) {
  height: 0.75rem
}

.category-family-wrapper :is(.h-4) {
  height: 1rem
}

.category-family-wrapper :is(.h-48) {
  height: 12rem
}

.category-family-wrapper :is(.h-5) {
  height: 1.25rem
}

.category-family-wrapper :is(.h-7) {
  height: 1.75rem
}

.category-family-wrapper :is(.h-72) {
  height: 18rem
}

.category-family-wrapper :is(.h-8) {
  height: 2rem
}

.category-family-wrapper :is(.h-full) {
  height: 100%
}

.category-family-wrapper :is(.w-2\/4) {
  width: 50%
}

.category-family-wrapper :is(.w-2\/5) {
  width: 40%
}

.category-family-wrapper :is(.w-3\/4) {
  width: 75%
}

.category-family-wrapper :is(.w-4) {
  width: 1rem
}

.category-family-wrapper :is(.w-4\/5) {
  width: 80%
}

.category-family-wrapper :is(.w-64) {
  width: 16rem
}

.category-family-wrapper :is(.w-9) {
  width: 2.25rem
}

.category-family-wrapper :is(.w-\[15rem\]) {
  width: 15rem
}

.category-family-wrapper :is(.w-full) {
  width: 100%
}

.category-family-wrapper :is(.max-w-5xl) {
  max-width: 64rem
}

.category-family-wrapper :is(.max-w-sm) {
  max-width: 24rem
}

.category-family-wrapper :is(.max-w-xl) {
  max-width: 36rem
}

.category-family-wrapper :is(.max-w-xs) {
  max-width: 20rem
}

.category-family-wrapper :is(.grow) {
  flex-grow: 1
}

.category-family-wrapper :is(.transform) {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

@keyframes pulse {
  50% {
    opacity: .5
  }
}

.category-family-wrapper :is(.animate-pulse) {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite
}

.category-family-wrapper :is(.cursor-pointer) {
  cursor: pointer
}

.category-family-wrapper :is(.grid-cols-1) {
  grid-template-columns: repeat(1, minmax(0, 1fr))
}

.category-family-wrapper :is(.grid-cols-3) {
  grid-template-columns: repeat(3, minmax(0, 1fr))
}

.category-family-wrapper :is(.grid-rows-1) {
  grid-template-rows: repeat(1, minmax(0, 1fr))
}

.category-family-wrapper :is(.flex-row) {
  flex-direction: row
}

.category-family-wrapper :is(.flex-col) {
  flex-direction: column
}

.category-family-wrapper :is(.items-start) {
  align-items: flex-start
}

.category-family-wrapper :is(.items-center) {
  align-items: center
}

.category-family-wrapper :is(.justify-center) {
  justify-content: center
}

.category-family-wrapper :is(.justify-between) {
  justify-content: space-between
}

.category-family-wrapper :is(.gap-1) {
  gap: 0.25rem
}

.category-family-wrapper :is(.gap-2) {
  gap: 0.5rem
}

.category-family-wrapper :is(.gap-4) {
  gap: 1rem
}

.category-family-wrapper :is(.gap-5) {
  gap: 1.25rem
}

.category-family-wrapper :is(.gap-6) {
  gap: 1.5rem
}

.category-family-wrapper :is(.gap-x-10) {
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem
}

.category-family-wrapper :is(.gap-y-2) {
  row-gap: 0.5rem
}

.category-family-wrapper :is(.gap-y-4) {
  row-gap: 1rem
}

.category-family-wrapper :is(.space-x-2 > :not([hidden]) ~ :not([hidden])) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)))
}

.category-family-wrapper :is(.space-x-4 > :not([hidden]) ~ :not([hidden])) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)))
}

.category-family-wrapper :is(.space-y-1 > :not([hidden]) ~ :not([hidden])) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.25rem * var(--tw-space-y-reverse))
}

.category-family-wrapper :is(.overflow-hidden) {
  overflow: hidden
}

.category-family-wrapper :is(.truncate) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.category-family-wrapper :is(.\!break-words) {
  overflow-wrap: break-word !important
}

.category-family-wrapper :is(.break-words) {
  overflow-wrap: break-word
}

.category-family-wrapper :is(.\!rounded-full) {
  border-radius: 9999px !important
}

.category-family-wrapper :is(.rounded) {
  border-radius: 0.25rem
}

.category-family-wrapper :is(.rounded-full) {
  border-radius: 9999px
}

.category-family-wrapper :is(.rounded-lg) {
  border-radius: 0.5rem
}

.category-family-wrapper :is(.rounded-md) {
  border-radius: 0.375rem
}

.category-family-wrapper :is(.rounded-none) {
  border-radius: 0px
}

.category-family-wrapper :is(.border) {
  border-width: 1px
}

.category-family-wrapper :is(.border-8) {
  border-width: 8px
}

.category-family-wrapper :is(.\!border-gray-300) {
  --tw-border-opacity: 1 !important;
  border-color: rgb(209 213 219 / var(--tw-border-opacity)) !important
}

.category-family-wrapper :is(.bg-danaheratomicgrey-200) {
  --tw-bg-opacity: 1;
  background-color: rgb(229 232 232 / var(--tw-bg-opacity))
}

.category-family-wrapper :is(.bg-danaherlightblue-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(239 251 253 / var(--tw-bg-opacity))
}

.category-family-wrapper :is(.bg-gray-100) {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}

.category-family-wrapper :is(.bg-neutral-300) {
  --tw-bg-opacity: 1;
  background-color: rgb(212 212 212 / var(--tw-bg-opacity))
}

.category-family-wrapper :is(.bg-white) {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.category-family-wrapper :is(.\!fill-current) {
  fill: currentColor !important
}

.category-family-wrapper :is(.object-contain) {
  -o-object-fit: contain;
     object-fit: contain
}

.category-family-wrapper :is(.p-0) {
  padding: 0px
}

.category-family-wrapper :is(.p-0\.5) {
  padding: 0.125rem
}

.category-family-wrapper :is(.p-1) {
  padding: 0.25rem
}

.category-family-wrapper :is(.p-4) {
  padding: 1rem
}

.category-family-wrapper :is(.\!px-7) {
  padding-left: 1.75rem !important;
  padding-right: 1.75rem !important
}

.category-family-wrapper :is(.px-2) {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.category-family-wrapper :is(.px-6) {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.category-family-wrapper :is(.px-9) {
  padding-left: 2.25rem;
  padding-right: 2.25rem
}

.category-family-wrapper :is(.py-1) {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.category-family-wrapper :is(.py-4) {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.category-family-wrapper :is(.py-5) {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem
}

.category-family-wrapper :is(.py-\[0\.625rem\]) {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem
}

.category-family-wrapper :is(.pl-0) {
  padding-left: 0px
}

.category-family-wrapper :is(.pr-2) {
  padding-right: 0.5rem
}

.category-family-wrapper :is(.pt-10) {
  padding-top: 2.5rem
}

.category-family-wrapper :is(.text-left) {
  text-align: left
}

.category-family-wrapper :is(.align-middle) {
  vertical-align: middle
}

.category-family-wrapper :is(.\!text-lg) {
  font-size: 1.125rem !important;
  line-height: 1.75rem !important
}

.category-family-wrapper :is(.text-lg) {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.category-family-wrapper :is(.text-sm) {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.category-family-wrapper :is(.text-xs) {
  font-size: 0.75rem;
  line-height: 1rem
}

.category-family-wrapper :is(.\!font-semibold) {
  font-weight: 700 !important
}

.category-family-wrapper :is(.font-bold) {
  font-weight: 700
}

.category-family-wrapper :is(.\!text-danahergray-900) {
  --tw-text-opacity: 1 !important;
  color: rgb(17 24 39 / var(--tw-text-opacity)) !important
}

.category-family-wrapper :is(.text-gray-900) {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity))
}

.category-family-wrapper :is(.shadow) {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.category-family-wrapper :is(.shadow-lg) {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.category-family-wrapper :is(.filter) {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.category-family-wrapper :is(.transition) {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.category-family-wrapper :is(.duration-500) {
  transition-duration: 500ms
}

.category-family-wrapper :is(.hover\:scale-105:hover) {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.category-family-wrapper :is(.hover\:bg-gray-100:hover) {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}

@media (min-width: 768px) {
  .category-family-wrapper :is(.md\:h-6) {
    height: 1.5rem
  }

  .category-family-wrapper :is(.md\:grid-cols-2) {
    grid-template-columns: repeat(2, minmax(0, 1fr))
  }

  .category-family-wrapper :is(.md\:flex-row) {
    flex-direction: row
  }
}

@media (min-width: 1024px) {
  .category-family-wrapper :is(.lg\:grid-cols-3) {
    grid-template-columns: repeat(3, minmax(0, 1fr))
  }

  .category-family-wrapper :is(.lg\:grid-cols-5) {
    grid-template-columns: repeat(5, minmax(0, 1fr))
  }

  .category-family-wrapper :is(.lg\:flex-row) {
    flex-direction: row
  }
}

.category-family-wrapper :is(.\[\&\:not\(\:first-child\)\:even\]\:opacity-40:not(:first-child):even) {
  opacity: 0.4
}

.category-family-wrapper :is(.\[\&\:not\(\:first-child\)\:odd\]\:opacity-20:not(:first-child):odd) {
  opacity: 0.2
}

.category-family-wrapper :is(.\[\&\:not\(\:first-child\)\]\:opacity-20:not(:first-child)) {
  opacity: 0.2
}

.category-family-wrapper :is(.\[\&\:not\(\:first-child\)\]\:opacity-40:not(:first-child)) {
  opacity: 0.4
}