.page-jump-menu-wrapper :is(.absolute) {
  position: absolute
}

.page-jump-menu-wrapper :is(.relative) {
  position: relative
}

.page-jump-menu-wrapper :is(.left-0) {
  left: 0px
}

.page-jump-menu-wrapper :is(.top-\[2px\]) {
  top: 2px
}

.page-jump-menu-wrapper :is(.z-10) {
  z-index: 10
}

.page-jump-menu-wrapper :is(.block) {
  display: block
}

.page-jump-menu-wrapper :is(.flex) {
  display: flex
}

.page-jump-menu-wrapper :is(.inline-flex) {
  display: inline-flex
}

.page-jump-menu-wrapper :is(.hidden) {
  display: none
}

.page-jump-menu-wrapper :is(.h-12) {
  height: 3rem
}

.page-jump-menu-wrapper :is(.w-1) {
  width: 0.25rem
}

.page-jump-menu-wrapper :is(.w-48) {
  width: 12rem
}

.page-jump-menu-wrapper :is(.cursor-pointer) {
  cursor: pointer
}

.page-jump-menu-wrapper :is(.flex-col) {
  flex-direction: column
}

.page-jump-menu-wrapper :is(.items-start) {
  align-items: flex-start
}

.page-jump-menu-wrapper :is(.items-center) {
  align-items: center
}

.page-jump-menu-wrapper :is(.justify-start) {
  justify-content: flex-start
}

.page-jump-menu-wrapper :is(.gap-1) {
  gap: 0.25rem
}

.page-jump-menu-wrapper :is(.gap-3) {
  gap: 0.75rem
}

.page-jump-menu-wrapper :is(.self-stretch) {
  align-self: stretch
}

.page-jump-menu-wrapper :is(.rounded-\[5px\]) {
  border-radius: 5px
}

.page-jump-menu-wrapper :is(.border-r) {
  border-right-width: 1px
}

.page-jump-menu-wrapper :is(.border-gray-200) {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity))
}

.page-jump-menu-wrapper :is(.bg-danaherlightblue-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(239 251 253 / var(--tw-bg-opacity))
}

.page-jump-menu-wrapper :is(.bg-danaherpurple-800) {
  --tw-bg-opacity: 1;
  background-color: rgb(64 0 165 / var(--tw-bg-opacity))
}

.page-jump-menu-wrapper :is(.bg-violet-600) {
  --tw-bg-opacity: 1;
  background-color: rgb(124 58 237 / var(--tw-bg-opacity))
}

.page-jump-menu-wrapper :is(.px-6) {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.page-jump-menu-wrapper :is(.py-4) {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.page-jump-menu-wrapper :is(.text-base) {
  font-size: 1rem;
  line-height: 1.5rem
}

.page-jump-menu-wrapper :is(.font-bold) {
  font-weight: 700
}

.page-jump-menu-wrapper :is(.font-normal) {
  font-weight: 200
}

.page-jump-menu-wrapper :is(.leading-snug) {
  line-height: 1.375
}

.page-jump-menu-wrapper :is(.text-black) {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.page-jump-menu-wrapper :is(.text-violet-600) {
  --tw-text-opacity: 1;
  color: rgb(124 58 237 / var(--tw-text-opacity))
}

.page-jump-menu-wrapper :is(.filter) {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}