<div>
  <div>
    <p>Legal</p>
    <ul>
      <li><a href="/us/en/legal/cookies.html" data-di-id="di-id-adcddc70-cc542477">Cookie Policy</a></li>
      <li><a href="/us/en/legal/ccpa.html" data-di-id="di-id-a53e4638-c2111297">Do Not Sell or Share My Data</a></li>
      <li><a href="/#" class="ot-sdk-show-settings" data-di-id="di-id-3f579141-a8240a98">Cookies Settings</a></li>
      <li><a href="/us/en/legal/privacy-policy.html" data-di-id="di-id-ab2b5037-f6e4a0ae">Privacy Policy</a></li>
      <li><a href="/us/en/legal/terms-of-use.html" data-di-id="di-id-f5071e26-5a66acbe">Terms of Use</a></li>
    </ul>
  </div>
  <div>
    <p>Quick Links</p>
    <ul>
      <li><a href="https://www.danaher.com/?utm_source=dhls_website&amp;utm_medium=referral&amp;utm_content=footer" data-di-id="di-id-4e9cbf68-dfe8c4b3">Danaher Corporation</a></li>
      <li><a href="/us/en/expert.html" data-di-id="di-id-f869cd6e-32bc91f">Our Experts</a></li>
      <li><a href="/us/en/connect/newsletter.html" data-di-id="di-id-f5071e26-18c2802d">Subscribe to Our Newsletter</a></li>
    </ul>
  </div>
  <div>
    <p>© 2023 DH Life Sciences, LLC. All Rights Reserved.</p>
  </div>
</div>
<div class="sticky-footer">
  <div class="btn-group">
    <a href="https://lifesciences.danaher.com/us/en/expert.html?utm_previouspage=https%3A%2F%2Flifesciences.danaher.com%2F" class="btn" title="Talk to an Expert">
      <svg xmlns="http://www.w3.org/2000/svg" aria-label="Talk to an Expert" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="w-5 h-5 users">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z"></path>
      </svg>
      <span class="hidden md:block">Talk to an Expert</span>
    </a>
    <button class="btn scroll-top" title="Top" aria-label="scroll to top of the page">
      <span class="icon icon-chevron-up block w-5 h-5">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="w-5 h-5">
          <path fill-rule="evenodd" d="M11.47 7.72a.75.75 0 0 1 1.06 0l7.5 7.5a.75.75 0 1 1-1.06 1.06L12 9.31l-6.97 6.97a.75.75 0 0 1-1.06-1.06l7.5-7.5z" clip-rule="evenodd"></path>
        </svg>
      </span>
      <span class="hidden md:block">Top</span>
    </button>
  </div>
  <button class="accessibility" aria-label="users" data-acsb-custom-trigger="true">
    <span class="icon icon-accessibe block w-5 md:w-6 h-5 md:h-6">
      <svg xmlns="http://www.w3.org/2000/svg">
        <use href="#icons-sprite-accessibe"></use>
      </svg>
    </span>
  </button>
</div>