<div class="footer" style="content-visibility: auto">
  <footer class="bg-gray-800" aria-labelledby="footer-heading">
    <p id="footer-heading" class="sr-only">Footer</p>
    <div class="max-w-7xl mx-auto py-12 px-6 sm:px-6 lg:py-16 lg:px-8">
      <div class="sm:grid sm:grid-cols-4 xl:gap-8">
        <div class="mt-12 md:mt-0">
          <p class="text-sm font-semibold text-gray-400 tracking-wider uppercase">Solutions</p>
          <ul role="list" class="mt-4 space-y-4">
            <li>
              <a href="/us/en/solutions/mabs/cell-line-development.html"
                class="text-base text-gray-300 hover:text-white " x-cq-linkchecker="skip">Cell Line Development</a>
            </li>
            <li>
              <a href="/us/en/solutions/mrna-therapy.html" class="text-base text-gray-300 hover:text-white "
                x-cq-linkchecker="skip">mRNA Development</a>
            </li>
            <li>
              <a href="/us/en/solutions/oligonucleotide-therapy/antisense-oligonucleotide-development-manufacturing.html"
                class="text-base text-gray-300 hover:text-white " x-cq-linkchecker="skip">Antisense Oligonucleotide</a>
            </li>
            <li>
              <a href="/us/en/solutions/pdna-synthesis.html" class="text-base text-gray-300 hover:text-white "
                x-cq-linkchecker="skip">pDNA Synthesis</a>
            </li>
            <li>
              <a href="/us/en/solutions/cell-therapy.html" class="text-base text-gray-300 hover:text-white "
                x-cq-linkchecker="skip">Cell Therapy</a>
            </li>
            <li>
              <a href="/us/en/solutions/gene-therapy.html" class="text-base text-gray-300 hover:text-white "
                x-cq-linkchecker="skip">Gene Therapy</a>
            </li>
          </ul>
        </div>
        <div class="mt-12 md:mt-0">
          <p class="text-sm font-semibold text-gray-400 tracking-wider uppercase">Useful Links</p>
          <ul role="list" class="mt-4 space-y-4">
            <li>
              <a href="/us/en/products.html" class="text-base text-gray-300 hover:text-white"
                x-cq-linkchecker="skip">Products</a>
            </li>
            <li>
              <a href="/us/en/solutions.html" class="text-base text-gray-300 hover:text-white"
                x-cq-linkchecker="skip">Solutions</a>
            </li>
            <li>
              <a href="/us/en/applications.html" class="text-base text-gray-300 hover:text-white"
                x-cq-linkchecker="skip">Applications</a>
            </li>
            <li>
              <a href="/us/en/library.html" class="text-base text-gray-300 hover:text-white"
                x-cq-linkchecker="skip">Technical Library</a>
            </li>
            <li>
              <a href="/us/en/expert.html" class="text-base text-gray-300 hover:text-white" x-cq-linkchecker="skip">Talk
                to an Expert</a>
            </li>
            <li>
              <a href="/us/en/quote-cart.html" class="text-base text-gray-300 hover:text-white"
                x-cq-linkchecker="skip">Request a Quote</a>
            </li>
          </ul>
        </div>
        <div class="mt-12 md:mt-0">
          <p class="text-sm font-semibold text-gray-400 tracking-wider uppercase">Company</p>
          <ul role="list" class="mt-4 space-y-4">
            <li>
              <a href="/us/en/about-us.html" class="text-base text-gray-300 hover:text-white"
                x-cq-linkchecker="skip">About</a>
            </li>
            <li>
              <a href="/us/en/news.html" class="text-base text-gray-300 hover:text-white"
                x-cq-linkchecker="skip">News</a>
            </li>
            <li>
              <a href="/us/en/blog.html" class="text-base text-gray-300 hover:text-white"
                x-cq-linkchecker="skip">Blog</a>
            </li>
            <li>
              <a href="https://jobs.danaher.com/global/en?utm_source=dhls_website&utm_medium=referral&utm_content=footer"
                class="text-base text-gray-300 hover:text-white" x-cq-linkchecker="skip">Careers</a>
            </li>
          </ul>
        </div>
        <div class="mt-12 md:mt-0">
          <p class="text-sm font-semibold text-gray-400 tracking-wider uppercase">Legal</p>
          <ul role="list" class="mt-4 space-y-4">
            <li>
              <a href="/us/en/legal/cookies.html" class="text-base text-gray-300 hover:text-white "
                x-cq-linkchecker="skip">Cookie Policy</a>
            </li>
            <li>
              <a href="/us/en/legal/ccpa.html" class="text-base text-gray-300 hover:text-white"
                x-cq-linkchecker="skip">Do Not Sell or Share My Data</a>
            </li>
            <li>
              <a href="#" class="text-base text-gray-300 hover:text-white ot-sdk-show-settings"
                x-cq-linkchecker="skip">Manage Cookies</a>
            </li>
            <li>
              <a href="/us/en/legal/privacy-policy.html" class="text-base text-gray-300 hover:text-white"
                x-cq-linkchecker="skip">Privacy Policy</a>
            </li>
            <li>
              <a href="/us/en/legal/terms-of-use.html" class="text-base text-gray-300 hover:text-white"
                x-cq-linkchecker="skip">Terms of Use</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="mt-8 border-t border-gray-700 pt-8 sm:mt-8 lg:mt-8 lg:flex lg:items-center lg:justify-between">
        <div>
          <h3 class="text-sm font-semibold text-gray-400 tracking-wider uppercase">Subscribe to our newsletter</h3>
          <p class="mt-2 leading-6 text-base text-gray-300">The latest news, articles, and resources, sent to your inbox
            weekly.</p>
        </div>
        <div class="mt-6 sm:flex sm:max-w-md lg:mt-0">
          <div class="mt-4 sm:ml-4 sm:mt-0 sm:flex-shrink-0">
            <a href="/us/en/connect/newsletter.html" x-cq-linkchecker="skip"
              class="btn border-2 px-8 my-auto ml-auto btn-primary">Subscribe</a>
          </div>
        </div>
      </div>

      <div class="mt-8 border-t border-gray-700 pt-8 md:flex md:items-center md:justify-between">
        <div class="flex space-x-6 md:order-2">
          <a href="https://www.linkedin.com/company/danaher-life-sciences/" class="text-gray-500 hover:text-gray-400">
            <span class="sr-only">LinkedIn</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #9ca3af;"><path d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z"/></svg>
          </a>
        </div>
        <p class="mt-8 text-base text-gray-400 md:mt-0 md:order-1"> © 2023 DH Life Sciences, LLC. All Rights Reserved.
        </p>
      </div>
    </div>
  </footer>
</div>
