
<html>
<head>
  <title>Search Test</title>
  <script>
        (async () => {
          await customElements.whenDefined('atomic-search-interface');
          const searchInterface = document.querySelector('#search');

          await searchInterface.initialize({
            accessToken:'...',
            organizationId: '...',
            organizationEndpoints: await searchInterface.getOrganizationEndpoints('...'),
          });
          searchInterface.executeFirstSearch();
        })();
  </script>
</head>
<body>
  <div style="height: 100px;">
      <script type="module" src="https://static.cloud.coveo.com/atomic/v2/atomic.esm.js"></script>
      <style rel="stylesheet" href="https://static.cloud.coveo.com/atomic/v2/themes/coveo.css"></style>
      <atomic-search-interface
          class="search-bar hydrated"
          search-hub="DanaherMainSearch"
          pipeline="Danaher Marketplace"
          language="en"
          reflect-state-in-url=""
          scroll-container="atomic-search-interface"
          language-assets-path="./lang"
          icon-assets-path="./assets"
          enable-relevance-inspector=""
          id="search">
          <atomic-search-box
          redirection-url="https://lifesciences.danaher.com/us/en/search.html"
          data-atomic-rendered="true"
          data-atomic-loaded="true"
          class="hydrated"
          number-of-queries="8"
          minimum-query-length="0"
          clear-filters="">
              <atomic-search-box-recent-queries max-with-query="3" class="hydrated"></atomic-search-box-recent-queries>
              <atomic-search-box-query-suggestions class="hydrated"></atomic-search-box-query-suggestions>
          </atomic-search-box>
      </atomic-search-interface>
  </div>
</body>
</html>