<div class="outer">
  <div id="wesee-main" class="main relative mx-auto max-w-7xl px-4 lg:px-0 pt-6 pb-6">
    <div class="mx-auto lg:max-w-4xl px-4 mt-2 mb-12 lg:mb-0 z-10">
      <h1 class="heading rellax" data-scroll data-animation="fadeInGrowFast">
        We see a way to accelerate the drug development time curve by 50%
      </h1>
    </div>
    <div class="section1 relative">
      <div
        class="text-rap rellax z-10"
        data-rellax-speed="0"
        data-scroll
        data-animation="fadeInLeftUp"
      >
        <h2>We partner deep</h2>
        <p class="my-2 md:my-4">
          The right team will help you achieve measurably improved outcomes in utilization, cost,
          capacity, risk, and time. By offering you one point of contact, we source the right
          expertise from Danaher Life Sciences’ entire ecosystem of engineering, science, and
          technology innovators.
        </p>
        <a class="cta h-full" href="/us/en/expert.html">Talk to an Expert</a>
      </div>
      <div class="img-rap rellax" data-rellax-speed="1" data-scroll data-animation="fadeInUp">
        <picture>
          <source type="image/webp" srcset="/images/wesee/scientist-microscope.webp">
          <img loading="lazy" class="w-full h-full object-cover" alt="scientist" src="/images/wesee/scientist-microscope.png">
        </picture>
      </div>
    </div>
    <div
      class="bubble1 rellax rounded-full flex flex-col items-center justify-center"
      data-rellax-speed="0"
    >
      <div class="text-left" data-scroll data-animation="fadeInGrow">
        <p class="heading">We see a way</p>
        <p>to identify high</p>
        <p>producers in</p>
        <p class="number">&lt;15</p>
        <p>minutes in cell</p>
        <p>line development</p>
      </div>
    </div>
    <div class="section2 relative">
      <div class="text-rap rellax" data-rellax-speed="1" data-scroll data-animation="fadeInRightUp">
        <h2 data-scroll>Integrated workflows</h2>
        <p class="my-2 md:my-4">
          Critical to your team and unique to Danaher are Solution Architects, who look at your
          entire bioprocess—not just fragments of it— to eliminate bottlenecks, pain points, and
          redundant steps along your R&D pathway. How? We innovatively integrate, automate, and
          digitalize your complex workflows— end to end—to deliver quantifiable value across your
          labs.
        </p>
        <a class="cta h-full" href="/us/en/solutions.html">See Our Workflows</a>
      </div>
      <div class="img-rap rellax" data-rellax-speed="2" data-scroll data-animation="fadeInUp">
        <picture>
          <source type="image/webp" srcset="/images/wesee/automation.webp">
          <img loading="lazy" class="w-full h-full object-cover" alt="Echo 525" src="/images/wesee/automation.png">
        </picture>
      </div>
    </div>
    <div
      class="bubble2 rellax rounded-full flex flex-col items-center justify-center"
      data-rellax-speed="1"
    >
      <div class="text-left pl-5" data-scroll data-animation="fadeInGrow">
        <div><span class="font-medium">We see a way</span> to cut</div>
        <p>the per-sample cost</p>
        <p>of purifying AAV by</p>
        <p class="number">250x</p>
        <p>vs affinity chromatography</p>
      </div>
    </div>
    <div class="section3 relative">
      <div class="text-rap rellax" data-rellax-speed="1" data-scroll data-animation="fadeInLeftUp">
        <h2>Driving efficiency</h2>
        <p class="my-2 md:my-4">
          The Danaher Business System powers our constant cycle of change and improvement. This
          unique approach allows our exceptional people to develop innovative recommendations, then
          realize them using world-class solutions and products to construct sustainable processes,
          resulting in superior outcomes.
        </p>
        <a class="cta h-full" href="/us/en/about-us/danaher-business-system.html">See Our Process</a>
      </div>
      <div class="img-rap rellax" data-rellax-speed="2" data-scroll data-animation="fadeInUp">
        <picture>
          <source type="image/webp" srcset="/images/wesee/petri-dish.webp">
          <img loading="lazy" class="w-full h-full object-cover" alt="petri dish" src="/images/wesee/petri-dish.png">
        </picture>
      </div>
    </div>
    <div
      class="bubble3 rellax rounded-full flex flex-col items-center justify-center"
      data-rellax-speed="1"
    >
      <div class="text-left pl-8" data-scroll data-animation="fadeInGrow">
        <p><span class="font-medium">We see a way</span> to save over</p>
        <p class="number">14,000</p>
        <p>hours of manual data-handling</p>
        <p>time per year in a cell line</p>
        <p>development department</p>
      </div>
    </div>
  </div>
</div>

<style>
  html {
    scroll-behavior: smooth;
  }

  .section.we-see-container {
    overflow: hidden !important;
    background: #fcf6fe;
    background: linear-gradient(90deg, #fcf6fe, #efedfe);
  }

  .main {
    font-family: fort;
    min-width: 360px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.25;
  }

  .main,
  h1.heading {
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
  }

  h1.heading {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: -4.5rem;
    font-size: 47px;
    font-weight: 500;
    line-height: 1.125;
  }

  h2 {
    font-size: 36px;
    font-weight: 500;
  }

  .text-rap,
  h1 {
    z-index: 10;
  }

  .cta {
    display: inline-block;
    margin-top: 1.5rem;
    border-radius: 0.5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke,
      opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke,
      opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke,
      opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
  }

  .cta:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width)
      var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width))
      var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    --tw-ring-offset-width: 1px;
  }

  .cta {
    border: 1px solid #6b4098;
    background: hsla(0, 0%, 100%, 0.1);
    color: #6b4098;
    font-size: 20px;
  }

  .cta:hover,
  cta:active {
    background: #6b4098;
    color: #fff;
  }

  @media (max-width: 12440px) {
    .section1 {
      height: 750px;
    }

    .section1 .text-rap {
      max-width: 22.5rem;
      position: absolute;
      top: 11rem;
      left: 17%;
    }

    .section1 .img-rap {
      position: absolute;
      top: 3.5rem;
      right: 0;
      width: 52%;
      height: 40.5rem;
    }

    .section2 {
      height: 650px;
      margin-top: 2rem;
    }

    .section2 .text-rap {
      max-width: 24rem;
      position: absolute;
      top: -2rem;
      right: 17%;
    }

    .section2 .img-rap {
      position: absolute;
      top: 0;
      left: 0;
      height: 36.5rem;
      width: 50%;
    }

    .section3 {
      height: 840px;
    }

    .section3 .text-rap {
      max-width: 30rem;
      position: absolute;
      top: 0;
      left: 7%;
    }

    .section3 .img-rap {
      position: absolute;
      top: 5rem;
      right: 0;
      width: 56%;
      height: 32.5rem;
    }

    .bubble1 {
      height: 24rem;
      width: 24rem;
      background: #e4f1fc;
      position: absolute;
      top: 26%;
      left: 2rem;
      z-index: 10;
      color: #6b4098;
      font-size: 26px;
      font-weight: 400;
    }

    .bubble1 .heading {
      font-weight: 500;
      color: #6b4098;
    }

    .bubble1 .number {
      font-size: 144px;
      font-weight: 300;
      letter-spacing: 2px;
      line-height: 1;
    }

    .bubble2 {
      height: 27.5rem;
      width: 27.5rem;
      background: #e6dbf1;
      position: absolute;
      top: 52%;
      right: 2rem;
      z-index: 10;
      color: #6b4098;
      font-size: 26px;
      font-weight: 400;
    }

    .bubble2 .heading {
      display: inline-block;
      font-weight: 500;
      color: #6b4098;
    }

    .bubble2 .number {
      font-size: 144px;
      font-weight: 300;
      letter-spacing: 2px;
      line-height: 1;
    }

    .bubble3 {
      height: 32.5rem;
      width: 32.5rem;
      background: #e4f1fc;
      position: absolute;
      top: 77%;
      left: 4rem;
      z-index: 10;
      color: #6b4098;
      font-size: 26px;
      font-weight: 400;
    }

    .bubble3 .heading {
      font-weight: 700;
      color: #6b4098;
    }

    .bubble3 .number {
      font-size: 144px;
      font-weight: 300;
      letter-spacing: 2px;
      line-height: 1;
    }
  }

  @media (max-width: 1023px) {
    .section1 {
      height: 29rem;
    }

    .section1 .text-rap {
      max-width: 50%;
      position: relative;
      top: 7rem;
      left: 0;
    }

    .section1 .img-rap {
      position: absolute;
      top: 2.5rem;
      right: 0;
      width: 52%;
      height: 36.5rem;
    }

    .bubble1 {
      position: relative;
      top: revert;
      left: 4rem;
      height: 21rem;
      width: 21rem;
      font-size: 22px;
    }

    .bubble1 .number {
      font-size: 128px;
    }

    .section2 {
      height: 24rem;
      margin-top: 2rem;
    }

    .section2 .text-rap {
      max-width: 50%;
      right: 4%;
    }

    .section2 .img-rap {
      position: absolute;
      top: 0;
      left: 0;
      height: 33.5rem;
      width: 53%;
    }

    .bubble2 {
      top: 0;
      left: 46%;
      height: 23.5rem;
      width: 23.5rem;
      font-size: 22px;
      position: relative;
    }

    .bubble2 .number {
      font-size: 128px;
    }

    .section3 {
      height: 24rem;
      margin-top: 2rem;
    }

    .section3 .text-rap {
      top: 0;
      left: 0;
      position: relative;
      max-width: 30rem;
    }

    .section3 .img-rap {
      width: 42%;
      height: 81%;
    }

    .bubble3 {
      position: relative;
      top: -5rem;
      left: 3%;
    }

    .cta {
      background: hsla(0, 0%, 100%, 0.6);
      color: #6b4098;
    }
  }

  @media (max-width: 768px) {
    h1.heading {
      font-size: 36px;
      font-weight: 600;
      line-height: 1.125;
      text-align: center;
    }

    .section1 {
      height: 24rem;
    }

    .section1 .text-rap {
      position: relative;
      top: 4rem;
      max-width: 56%;
    }

    .section1 .img-rap {
      position: absolute;
      top: 2rem;
      left: 53%;
      width: 47%;
      height: 100%;
    }

    .section2 {
      margin-top: 1rem;
      height: 26rem;
    }

    .section2 .text-rap {
      position: relative;
      top: 2rem;
      left: 0;
      left: 50%;
      max-width: 50%;
    }

    .section2 .img-rap {
      position: absolute;
      top: 0;
      left: 0;
      width: 51%;
      height: 100%;
    }

    .section3 {
      height: 21rem;
      margin-top: 2rem;
    }

    .section3 .text-rap {
      position: relative;
      top: revert;
      right: revert;
      left: revert;
      max-width: 63%;
    }

    .section3 .img-rap {
      position: absolute;
      top: 0;
      width: 58%;
      height: 97%;
      left: 53%;
    }

    .bubble1 {
      position: relative;
      top: revert;
      left: revert;
      height: 20rem;
      width: 20rem;
      margin: auto;
      font-size: 18px;
    }

    .bubble1 .number {
      font-size: 110px;
    }

    .bubble2 {
      position: relative;
      top: revert;
      left: revert;
      right: revert;
      height: 20rem;
      width: 20rem;
      margin: auto;
      font-size: 18px;
    }

    .bubble2 .number {
      font-size: 110px;
    }

    .bubble3 {
      position: relative;
      top: revert;
      left: revert;
      right: revert;
      height: 20rem;
      width: 20rem;
      margin: auto;
      font-size: 18px;
    }

    .bubble3 .number {
      font-size: 90px;
    }
  }

  @media (max-width: 767px) {
    h1.heading {
      font-size: 32px;
      font-weight: 600;
      line-height: 1.125;
      text-align: left;
    }

    h2 {
      font-size: 26px;
    }

    .section1 {
      height: auto;
    }

    .section1 .text-rap {
      position: relative;
      top: 4rem;
      max-width: 100%;
      border-radius: 1em;
    }

    .section1 .img-rap {
      position: relative;
      top: 7px;
      left: 32%;
      width: 75%;
      height: 68%;
    }

    .section2 {
      margin-top: 0;
      height: auto;
    }

    .section2 .text-rap {
      position: relative;
      top: 1rem;
      right: revert;
      left: revert;
      max-width: 100%;
    }

    .section2 .img-rap {
      position: relative;
      width: 75%;
      height: 45%;
    }

    .section3 {
      height: 31.5rem;
      margin-top: 1rem;
    }

    .section3 .text-rap {
      position: relative;
      top: revert;
      right: revert;
      left: revert;
      max-width: 100%;
    }

    .section3 .img-rap {
      position: relative;
      left: 31%;
      width: 91%;
      height: 47%;
    }

    .bubble1 {
      position: relative;
      top: revert;
      left: revert;
      height: 20rem;
      width: 20rem;
      margin: auto;
      font-size: 18px;
    }

    .bubble1 .number {
      font-size: 110px;
    }

    .bubble2 {
      position: relative;
      top: revert;
      left: revert;
      right: revert;
      height: 20rem;
      width: 20rem;
      margin: auto;
      font-size: 18px;
    }

    .bubble2 .number {
      font-size: 110px;
    }

    .bubble3 {
      position: relative;
      top: revert;
      left: revert;
      right: revert;
      height: 20rem;
      width: 20rem;
      margin: auto;
      font-size: 18px;
    }

    .bubble3 .number {
      font-size: 90px;
    }
  }

  @keyframes fadeInLeftUp-4453a1f9 {
    0% {
      opacity: 0;
      transform: translate3d(0, 35%, 0);
    }

    to {
      opacity: 1;
      transform: translateZ(0);
    }
  }

  .fadeInLeftUp {
    animation: fadeInLeftUp-4453a1f9 1.5s;
  }

  @keyframes fadeInRightUp-4453a1f9 {
    0% {
      opacity: 0;
      transform: translate3d(0, 35%, 0);
    }

    to {
      opacity: 1;
      transform: translateZ(0);
    }
  }

  .fadeInRightUp {
    animation: fadeInRightUp-4453a1f9 1.5s;
  }

  @keyframes fadeInUp-4453a1f9 {
    0% {
      opacity: 0;
      transform: translate3d(0, 35%, 0);
    }

    to {
      opacity: 1;
      transform: translateZ(0);
    }
  }

  .fadeInUp {
    animation: fadeInUp-4453a1f9 1s;
  }

  @keyframes fadeInGrow-4453a1f9 {
    0% {
      opacity: 0;
      transform: scale3d(0, 0, 0);
    }

    to {
      opacity: 1;
      transform: scaleX(1);
    }
  }

  .fadeInGrow {
    animation: fadeInGrow-4453a1f9 1.5s;
  }

  .fadeInGrowFast {
    animation: fadeInGrow-4453a1f9 1.4s;
  }
</style>
