header {
  height: 52px;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

@media (min-width: 768px) {
  header {
    height: 80px
  }
}

@media (min-width: 1024px) {
  header {
    height: 179px
  }
}

@media print {
  header {
    display: none
  }
}

.navbar-wrapper:has(.mobile-search.show) {
  padding-bottom: 0px
}

@media (min-width: 1024px) {
  .remove-descedents .open-side-menu {
    display: block
  }
}

.remove-descedents .extended-section {
  grid-template-rows: repeat(1, minmax(0, 1fr))
}

.remove-descedents .mega-menu-off-scroll {
  display: none
}

.remove-descedents .brand-logo {
  height: 2.5rem
}

button.suggestion.selected {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}
