header {
  @apply bg-white print:hidden;
}

.navbar-wrapper:has(.mobile-search.show) {
  @apply pb-0;
}

.remove-descedents .open-side-menu {
  @apply lg:block;
}

.remove-descedents .extended-section {
  @apply grid-rows-1;
}

.remove-descedents .mega-menu-off-scroll {
  @apply hidden;
}

.remove-descedents .brand-logo {
  @apply h-10;
}

button.suggestion.selected {
  @apply bg-danahergray-100;
}
