.product-hero-container {
    @apply bg-gray-50 px-2 pt-2 pb-32;
}

.product-hero {
    @apply p-4;
}

.product-hero .btn-outline-trending-brand {
    @apply text-center;
}

.product-hero .product-hero-content {
    @apply flex flex-col md:flex-row lg:gap-16 md:gap-12 gap-2;
}

.product-hero .hero-default-content {
    @apply md:col-span-6;
}

.product-hero .hero-default-content > div {
    @apply w-full h-full text-left;
}

.product-hero .hero-default-content > div .category-name {
    @apply text-sm font-normal leading-5 text-danaherpurple-500;
}

.product-hero .hero-default-content > div h1.title {
    @apply mt-3 text-4xl font-extrabold leading-10 text-gray-900 mb-3;
}

.product-hero .hero-default-content > div h4 {
    @apply font-bold;
}

.product-hero .hero-default-content > div ul,
.product-hero .hero-default-content > div p {
    @apply text-base;
}

.product-hero .hero-default-content > div ul {
    @apply list-disc ml-12 mt-3;
}

.product-hero .hero-default-content > div ul li {
    @apply mb-2.5;
}

.product-hero .hero-default-content > div .basic-info {
    @apply flex justify-between mt-8;
}

.product-hero .hero-default-content > div .basic-info div > p:nth-child(1) {
    @apply text-base font-bold;
}

.product-hero .hero-default-content > div .basic-info a {
    @apply border-b-2 border-danaherpurple-500;
}

.product-hero .vertical-gallery-container {
    @apply shrink-0 order-first;
}

.product-hero .vertical-gallery-container > div {
    @apply flex flex-col lg:flex-row gap-3 bg-transparent overflow-hidden;
}

.product-hero .vertical-gallery-container > div div:nth-child(1) {
    @apply relative bg-white shadow-lg md:shadow-none;
}

.product-hero .vertical-gallery-container > div div:nth-child(1) img {
    @apply w-[400px] h-[400px] max-w-[400px] mx-auto shadow-none md:shadow-lg object-contain transition duration-700;
}

.product-hero .vertical-gallery-container > div > div:not(:nth-child(1)) {
    @apply w-full lg:w-20 flex flex-row lg:flex-col lg:order-first gap-2 overflow-auto bg-transparent scroll-pl-6 snap-x;
}

.product-hero .vertical-gallery-container .view-more {
    @apply flex flex-col p-2 text-white self-center select-none text-sm font-medium bg-gray-400 border-gray-300 cursor-pointer rounded-md hover:rounded shadow-lg hover:shadow-md;
}

.product-hero .vertical-gallery-container > div > div:not(:nth-child(1)) img {
    @apply w-[75px] h-[75px] object-cover border border-gray-300 cursor-pointer transition duration-500 hover:border hover:border-danaherpurple-500 hover:scale-95;
}

.product-hero .vertical-gallery-container > div div:not(:nth-child(1)) picture.active img {
    @apply border border-2 border-danaherpurple-500 opacity-80 scale-95;
}