.btn-outline-trending-brand {
  color: #7523FF;
  background-color: rgb(255 255 255);
  border-color: #7523FF;
  border-width: 2px;
}

.btn-outline-trending-brand:hover {
  color: rgb(255 255 255);
  background-color: #7523FF;
}

.product-hero-wrapper :is(.relative) {
  position: relative;
}

.product-hero-wrapper :is(.col-span-10) {
  grid-column: span 10 / span 10;
}

.product-hero-wrapper :is(.col-span-2) {
  grid-column: span 2 / span 2;
}

.product-hero-wrapper :is(.mx-2) {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.product-hero-wrapper :is(.-mt-\[21px\]) {
  margin-top: -21px;
}

.product-hero-wrapper :is(.mb-2) {
  margin-bottom: 0.5rem;
}

.product-hero-wrapper :is(.mt-2) {
  margin-top: 0.5rem;
}

.product-hero-wrapper :is(.mt-5) {
  margin-top: 1.25rem;
}

.product-hero-wrapper :is(.mt-\[-256px\]) {
  margin-top: -256px;
}

.product-hero-wrapper :is(.block) {
  display: block;
}

.product-hero-wrapper :is(.flex) {
  display: flex;
}

.product-hero-wrapper :is(.inline-flex) {
  display: inline-flex;
}

.product-hero-wrapper :is(.hidden) {
  display: none;
}

.product-hero-wrapper :is(.h-0) {
  height: 0px;
}

.product-hero-wrapper :is(.h-16) {
  height: 4rem;
}

.product-hero-wrapper :is(.h-4) {
  height: 1rem;
}

.product-hero-wrapper :is(.h-\[17rem\]) {
  height: 17rem;
}

.product-hero-wrapper :is(.w-12) {
  width: 3rem;
}

.product-hero-wrapper :is(.w-14) {
  width: 3.5rem;
}

.product-hero-wrapper :is(.w-16) {
  width: 4rem;
}

.product-hero-wrapper :is(.w-20) {
  width: 5rem;
}

.product-hero-wrapper :is(.w-24) {
  width: 6rem;
}

.product-hero-wrapper :is(.w-28) {
  width: 7rem;
}

.product-hero-wrapper :is(.w-4) {
  width: 1rem;
}

.product-hero-wrapper :is(.w-48) {
  width: 12rem;
}

.product-hero-wrapper :is(.w-\[714px\]) {
  width: 714px;
}

.product-hero-wrapper :is(.w-\[98\%\]) {
  width: 98%;
}

.product-hero-wrapper :is(.w-full) {
  width: 100%;
}

.product-hero-wrapper :is(.flex-1) {
  flex: 1 1 0%;
}

.product-hero-wrapper :is(.origin-top-left) {
  transform-origin: top left;
}

.product-hero-wrapper :is(.rotate-90) {
  --tw-rotate: 90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.product-hero-wrapper :is(.cursor-pointer) {
  cursor: pointer;
}

.product-hero-wrapper :is(.flex-col) {
  flex-direction: column;
}

.product-hero-wrapper :is(.flex-wrap) {
  flex-wrap: wrap;
}

.product-hero-wrapper :is(.items-start) {
  align-items: flex-start;
}

.product-hero-wrapper :is(.items-center) {
  align-items: center;
}

.product-hero-wrapper :is(.justify-start) {
  justify-content: flex-start;
}

.product-hero-wrapper :is(.justify-center) {
  justify-content: center;
}

.product-hero-wrapper :is(.justify-between) {
  justify-content: space-between;
}

.product-hero-wrapper :is(.gap-2) {
  gap: 0.5rem;
}

.product-hero-wrapper :is(.gap-2\.5) {
  gap: 0.625rem;
}

.product-hero-wrapper :is(.gap-3) {
  gap: 0.75rem;
}

.product-hero-wrapper :is(.gap-4) {
  gap: 1rem;
}

.product-hero-wrapper :is(.gap-5) {
  gap: 1.25rem;
}

.product-hero-wrapper :is(.gap-9) {
  gap: 2.25rem;
}

.product-hero-wrapper :is(.gap-x-4) {
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}

.product-hero-wrapper :is(.self-stretch) {
  align-self: stretch;
}

.product-hero-wrapper :is(.overflow-hidden) {
  overflow: hidden;
}

.product-hero-wrapper :is(.rounded-\[30px\]) {
  border-radius: 30px;
}

.product-hero-wrapper :is(.rounded-full) {
  border-radius: 9999px;
}

.product-hero-wrapper :is(.rounded-md) {
  border-radius: 0.375rem;
}

.product-hero-wrapper :is(.border-b) {
  border-bottom-width: 1px;
}

.product-hero-wrapper :is(.border-gray-300) {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
}

.product-hero-wrapper :is(.bg-danaherlightblue-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(239 251 253 / var(--tw-bg-opacity));
}

.product-hero-wrapper :is(.bg-danaherpurple-800) {
  --tw-bg-opacity: 1;
  background-color: rgb(64 0 165 / var(--tw-bg-opacity));
}

.product-hero-wrapper :is(.bg-violet-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(245 243 255 / var(--tw-bg-opacity));
}

.product-hero-wrapper :is(.bg-violet-600) {
  --tw-bg-opacity: 1;
  background-color: rgb(124 58 237 / var(--tw-bg-opacity));
}

.product-hero-wrapper :is(.bg-white) {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.product-hero-wrapper :is(.px-4) {
  padding-left: 1rem;
  padding-right: 1rem;
}

.product-hero-wrapper :is(.px-6) {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.product-hero-wrapper :is(.py-1) {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.product-hero-wrapper :is(.py-1\.5) {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}

.product-hero-wrapper :is(.py-2) {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.product-hero-wrapper :is(.py-3) {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.product-hero-wrapper :is(.pt-6) {
  padding-top: 1.5rem;
}

.product-hero-wrapper :is(.text-center) {
  text-align: center;
}

.product-hero-wrapper :is(.text-right) {
  text-align: right;
}

.product-hero-wrapper :is(.font-\[\'Inter\'\]) {
  font-family: 'Inter';
}

.product-hero-wrapper :is(.font-\[\'TWK_Lausanne_Pan\'\]) {
  font-family: 'TWK Lausanne Pan';
}

.product-hero-wrapper :is(.text-4xl) {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.product-hero-wrapper :is(.text-base) {
  font-size: 1rem;
  line-height: 1.5rem;
}

.product-hero-wrapper :is(.text-lg) {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.product-hero-wrapper :is(.text-sm) {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.product-hero-wrapper :is(.font-bold) {
  font-weight: 700;
}

.product-hero-wrapper :is(.font-extralight) {
  font-weight: 200;
}

.product-hero-wrapper :is(.font-medium) {
  font-weight: 500;
}

.product-hero-wrapper :is(.font-normal) {
  font-weight: 200;
}

.product-hero-wrapper :is(.leading-4) {
  line-height: 1rem;
}

.product-hero-wrapper :is(.leading-6) {
  line-height: 1.5rem;
}

.product-hero-wrapper :is(.leading-\[48px\]) {
  line-height: 48px;
}

.product-hero-wrapper :is(.leading-normal) {
  line-height: 1.5;
}

.product-hero-wrapper :is(.leading-snug) {
  line-height: 1.375;
}

.product-hero-wrapper :is(.text-black) {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.product-hero-wrapper :is(.text-gray-400) {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

.product-hero-wrapper :is(.text-gray-700) {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}

.product-hero-wrapper :is(.text-violet-600) {
  --tw-text-opacity: 1;
  color: rgb(124 58 237 / var(--tw-text-opacity));
}

.product-hero-wrapper :is(.text-violet-900) {
  --tw-text-opacity: 1;
  color: rgb(76 29 149 / var(--tw-text-opacity));
}

.product-hero-wrapper :is(.text-white) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.product-hero-wrapper :is(.\!no-underline) {
  text-decoration-line: none !important;
}

.product-hero-wrapper :is(.shadow-\[0px_1px_2px_0px_rgba\(0\2c 0\2c 0\2c 0\.05\)\]) {
  --tw-shadow: 0px 1px 2px 0px rgba(0,0,0,0.05);
  --tw-shadow-colored: 0px 1px 2px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.product-hero-wrapper :is(.shadow-lg) {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.product-hero-wrapper :is(.shadow-sm) {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.product-hero-wrapper :is(.outline) {
  outline-style: solid;
}

.product-hero-wrapper :is(.outline-1) {
  outline-width: 1px;
}

.product-hero-wrapper :is(.outline-offset-\[-0\.50px\]) {
  outline-offset: -0.50px;
}

.product-hero-wrapper :is(.outline-offset-\[-1px\]) {
  outline-offset: -1px;
}

.product-hero-wrapper :is(.outline-gray-300) {
  outline-color: #d1d5db;
}

.product-hero-wrapper :is(.outline-violet-600) {
  outline-color: #7c3aed;
}

@media (min-width: 1024px) {
  .product-hero-wrapper :is(.lg\:w-55) {
    width: 14rem;
  }
}

.product-hero-wrapper :is(.\[\&_svg\>use\]\:stroke-black svg>use) {
  stroke: #000;
}

.product-hero-wrapper :is(.\[\&_svg\>use\]\:stroke-danaherpurple-500 svg>use) {
  stroke: #7523FF;
}