.order-status-wraper :is(.mx-auto) {
  margin-left: auto;
  margin-right: auto
}

.order-status-wraper :is(.mb-1) {
  margin-bottom: 0.25rem
}

.order-status-wraper :is(.mb-2) {
  margin-bottom: 0.5rem
}

.order-status-wraper :is(.mb-4) {
  margin-bottom: 1rem
}

.order-status-wraper :is(.mb-5) {
  margin-bottom: 1.25rem
}

.order-status-wraper :is(.mt-1) {
  margin-top: 0.25rem
}

.order-status-wraper :is(.mt-2) {
  margin-top: 0.5rem
}

.order-status-wraper :is(.mt-4) {
  margin-top: 1rem
}

.order-status-wraper :is(.mt-6) {
  margin-top: 1.5rem
}

.order-status-wraper :is(.mt-\[100px\]) {
  margin-top: 100px
}

.order-status-wraper :is(.block) {
  display: block
}

.order-status-wraper :is(.flex) {
  display: flex
}

.order-status-wraper :is(.h-\[60px\]) {
  height: 60px
}

.order-status-wraper :is(.w-1\/2) {
  width: 50%
}

.order-status-wraper :is(.w-\[250px\]) {
  width: 250px
}

.order-status-wraper :is(.w-\[30\%\]) {
  width: 30%
}

.order-status-wraper :is(.w-\[340px\]) {
  width: 340px
}

.order-status-wraper :is(.w-\[60px\]) {
  width: 60px
}

.order-status-wraper :is(.w-\[65\%\]) {
  width: 65%
}

.order-status-wraper :is(.max-w-\[1100px\]) {
  max-width: 1100px
}

.order-status-wraper :is(.flex-col) {
  flex-direction: column
}

.order-status-wraper :is(.items-start) {
  align-items: flex-start
}

.order-status-wraper :is(.items-end) {
  align-items: flex-end
}

.order-status-wraper :is(.justify-between) {
  justify-content: space-between
}

.order-status-wraper :is(.gap-4) {
  gap: 1rem
}

.order-status-wraper :is(.gap-\[130px\]) {
  gap: 130px
}

.order-status-wraper :is(.space-y-1 > :not([hidden]) ~ :not([hidden])) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.25rem * var(--tw-space-y-reverse))
}

.order-status-wraper :is(.space-y-4 > :not([hidden]) ~ :not([hidden])) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse))
}

.order-status-wraper :is(.rounded-full) {
  border-radius: 9999px
}

.order-status-wraper :is(.rounded-lg) {
  border-radius: 0.5rem
}

.order-status-wraper :is(.border) {
  border-width: 1px
}

.order-status-wraper :is(.border-2) {
  border-width: 2px
}

.order-status-wraper :is(.border-\[\#1b2dd3\]) {
  --tw-border-opacity: 1;
  border-color: rgb(27 45 211 / var(--tw-border-opacity))
}

.order-status-wraper :is(.border-gray-200) {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity))
}

.order-status-wraper :is(.border-gray-300) {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity))
}

.order-status-wraper :is(.bg-\[\#1b2dd3\]) {
  --tw-bg-opacity: 1;
  background-color: rgb(27 45 211 / var(--tw-bg-opacity))
}

.order-status-wraper :is(.bg-danaherlightblue-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(239 251 253 / var(--tw-bg-opacity))
}

.order-status-wraper :is(.bg-danaherpurple-800) {
  --tw-bg-opacity: 1;
  background-color: rgb(64 0 165 / var(--tw-bg-opacity))
}

.order-status-wraper :is(.bg-transparent) {
  background-color: transparent
}

.order-status-wraper :is(.bg-white) {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.order-status-wraper :is(.object-contain) {
  -o-object-fit: contain;
     object-fit: contain
}

.order-status-wraper :is(.p-2) {
  padding: 0.5rem
}

.order-status-wraper :is(.p-4) {
  padding: 1rem
}

.order-status-wraper :is(.px-\[30px\]) {
  padding-left: 30px;
  padding-right: 30px
}

.order-status-wraper :is(.py-\[12px\]) {
  padding-top: 12px;
  padding-bottom: 12px
}

.order-status-wraper :is(.pl-2) {
  padding-left: 0.5rem
}

.order-status-wraper :is(.pr-\[20px\]) {
  padding-right: 20px
}

.order-status-wraper :is(.pt-\[50px\]) {
  padding-top: 50px
}

.order-status-wraper :is(.text-left) {
  text-align: left
}

.order-status-wraper :is(.text-right) {
  text-align: right
}

.order-status-wraper :is(.text-\[13px\]) {
  font-size: 13px
}

.order-status-wraper :is(.text-\[14px\]) {
  font-size: 14px
}

.order-status-wraper :is(.text-\[16px\]) {
  font-size: 16px
}

.order-status-wraper :is(.text-\[18px\]) {
  font-size: 18px
}

.order-status-wraper :is(.text-\[28px\]) {
  font-size: 28px
}

.order-status-wraper :is(.text-sm) {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.order-status-wraper :is(.font-bold) {
  font-weight: 700
}

.order-status-wraper :is(.font-normal) {
  font-weight: 200
}

.order-status-wraper :is(.font-semibold) {
  font-weight: 700
}

.order-status-wraper :is(.text-\[\#1b2dd3\]) {
  --tw-text-opacity: 1;
  color: rgb(27 45 211 / var(--tw-text-opacity))
}

.order-status-wraper :is(.text-black) {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.order-status-wraper :is(.text-gray-500) {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity))
}

.order-status-wraper :is(.text-gray-600) {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity))
}

.order-status-wraper :is(.text-gray-700) {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity))
}

.order-status-wraper :is(.text-gray-800) {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity))
}

.order-status-wraper :is(.text-white) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.order-status-wraper :is(.shadow-sm) {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.order-status-wraper :is(.transition-all) {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.order-status-wraper :is(.hover\:bg-\[\#040f79\]:hover) {
  --tw-bg-opacity: 1;
  background-color: rgb(4 15 121 / var(--tw-bg-opacity))
}

.order-status-wraper :is(.hover\:text-white:hover) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}