.productbrandhome main .section {
  @apply py-8 sm:py-8 px-5 xl:px-0 empty:hidden;
}
.productbrandhome .columns > div div > p:not(.button-container) {
  @apply font-extralight text-base leading-5;
}

.productbrandhome main .columns-3-cols h4 {
  @apply !mt-0;
}

.productbrandhome main .columns-2-cols > div {
  @apply gap-x-6;
}

.productbrandhome .columns h2 {
  @apply my-0 font-normal text-3xl inline-flex leading-10 text-danahergray-900;
}

.productbrandhome main .columns > div > div > p:not(.button-container) {
  @apply mt-3 leading-7 text-base text-danahergray-700;
}

.productbrandhome main .cols-3 > div > div > p:not(.button-container) {
  @apply !mt-0 leading-7 text-base text-danahergray-700;
}

.productbrandhome main .columns > div > div > h3 {
  @apply !mt-0;
}

.productbrandhome main .section.default-content-wrapper > p {
  @apply mt-3 leading-7 text-base text-danahergray-700;
}

.productbrandhome main > div.columns-container > div.columns-wrapper {
  @apply py-6;
}