.container {
  width: 100%
}

@media (min-width: 640px) {
  .container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px
  }
}

.page-tabs-wrapper :is(.sticky) {
  position: sticky
}

.page-tabs-wrapper :is(.inset-x-0) {
  left: 0px;
  right: 0px
}

.page-tabs-wrapper :is(.top-\[83px\]) {
  top: 83px
}

.page-tabs-wrapper :is(.top-\[87px\]) {
  top: 87px
}

.page-tabs-wrapper :is(.z-50) {
  z-index: 50
}

.page-tabs-wrapper :is(.mb-2) {
  margin-bottom: 0.5rem
}

.page-tabs-wrapper :is(.ml-\[-4px\]) {
  margin-left: -4px
}

.page-tabs-wrapper :is(.ml-\[auto\]) {
  margin-left: auto
}

.page-tabs-wrapper :is(.mr-\[auto\]) {
  margin-right: auto
}

.page-tabs-wrapper :is(.mt-4) {
  margin-top: 1rem
}

.page-tabs-wrapper :is(.block) {
  display: block
}

.page-tabs-wrapper :is(.inline-flex) {
  display: inline-flex
}

.page-tabs-wrapper :is(.hidden) {
  display: none
}

.page-tabs-wrapper :is(.h-8) {
  height: 2rem
}

.page-tabs-wrapper :is(.w-8) {
  width: 2rem
}

.page-tabs-wrapper :is(.w-\[1000px\]) {
  width: 1000px
}

.page-tabs-wrapper :is(.w-\[300px\]) {
  width: 300px
}

.page-tabs-wrapper :is(.cursor-pointer) {
  cursor: pointer
}

.page-tabs-wrapper :is(.flex-col) {
  flex-direction: column
}

.page-tabs-wrapper :is(.justify-between) {
  justify-content: space-between
}

.page-tabs-wrapper :is(.border-l) {
  border-left-width: 1px
}

.page-tabs-wrapper :is(.border-r) {
  border-right-width: 1px
}

.page-tabs-wrapper :is(.border-gray-500) {
  --tw-border-opacity: 1;
  border-color: rgb(107 114 128 / var(--tw-border-opacity))
}

.page-tabs-wrapper :is(.border-violet-500) {
  --tw-border-opacity: 1;
  border-color: rgb(139 92 246 / var(--tw-border-opacity))
}

.page-tabs-wrapper :is(.bg-danaherlightblue-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(239 251 253 / var(--tw-bg-opacity))
}

.page-tabs-wrapper :is(.bg-danaherpurple-800) {
  --tw-bg-opacity: 1;
  background-color: rgb(64 0 165 / var(--tw-bg-opacity))
}

.page-tabs-wrapper :is(.bg-gray-100) {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}

.page-tabs-wrapper :is(.bg-white) {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.page-tabs-wrapper :is(.stroke-danaherpurple-500) {
  stroke: #7523FF
}

.page-tabs-wrapper :is(.stroke-1) {
  stroke-width: 1
}

.page-tabs-wrapper :is(.px-4) {
  padding-left: 1rem;
  padding-right: 1rem
}

.page-tabs-wrapper :is(.py-2) {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.page-tabs-wrapper :is(.py-4) {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.page-tabs-wrapper :is(.pl-\[20px\]) {
  padding-left: 20px
}

.page-tabs-wrapper :is(.text-base) {
  font-size: 1rem;
  line-height: 1.5rem
}

.page-tabs-wrapper :is(.text-sm) {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.page-tabs-wrapper :is(.font-bold) {
  font-weight: 700
}

.page-tabs-wrapper :is(.tracking-wider) {
  letter-spacing: 0.05em
}

.page-tabs-wrapper :is(.text-violet-600) {
  --tw-text-opacity: 1;
  color: rgb(124 58 237 / var(--tw-text-opacity))
}

.page-tabs-wrapper :is(.filter) {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.page-tabs-wrapper :is(.group:hover .group-hover\:stroke-white) {
  stroke: #fff
}

@media (min-width: 768px) {
  .page-tabs-wrapper :is(.\[\&_\.page-tabs-wrapper\]\:md\:max-w-7xl .page-tabs-wrapper) {
    max-width: 80rem
  }

  .page-tabs-wrapper :is(.\[\&_\.page-tabs-wrapper\]\:md\:max-w-max .page-tabs-wrapper) {
    max-width: -moz-max-content;
    max-width: max-content
  }
}

.page-tabs-wrapper :is(.\[\&_li\>a\>span\.icon-chevron-down\]\:hidden li>a>span.icon-chevron-down) {
  display: none
}

.page-tabs-wrapper :is(.\[\&_svg\]\:stroke-danaherpurple-500 svg) {
  stroke: #7523FF
}

.page-tabs-wrapper :is(.\[\&_svg\]\:stroke-white svg) {
  stroke: #fff
}

.page-tabs-wrapper :is(.\[\&_svg\]\:stroke-1 svg) {
  stroke-width: 1
}

.page-tabs-wrapper :is(.\[\&_svg\]\:duration-300 svg) {
  transition-duration: 300ms
}

.page-tabs-wrapper :is(.group:hover .\[\&_svg\]\:group-hover\:translate-y-1 svg) {
  --tw-translate-y: 0.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.page-tabs-wrapper :is(.group:hover .\[\&_svg\]\:group-hover\:stroke-white svg) {
  stroke: #fff
}

.page-tabs-wrapper :is(.\[\&_ul\>li\>a\]\:h-full ul>li>a) {
  height: 100%
}

.page-tabs-wrapper :is(.\[\&_ul\>li\>a\]\:flex-row ul>li>a) {
  flex-direction: row
}

.page-tabs-wrapper :is(.\[\&_ul\>li\>a\]\:items-start ul>li>a) {
  align-items: flex-start
}

.page-tabs-wrapper :is(.\[\&_ul\>li\>a\]\:justify-center ul>li>a) {
  justify-content: center
}

.page-tabs-wrapper :is(.\[\&_ul\]\:divide-x ul > :not([hidden]) ~ :not([hidden])) {
  --tw-divide-x-reverse: 0;
  border-right-width: calc(1px * var(--tw-divide-x-reverse));
  border-left-width: calc(1px * calc(1 - var(--tw-divide-x-reverse)))
}