svg symbol path {
  stroke: inherit;
}

.page-tabs-container {
  z-index: 10;
}

.page-tab {
  min-height: 24rem;
}

.page-tabs a .icon svg > use {
  stroke: #94a3b8;
}

.page-tabs li:hover > a,
.page-tabs li[aria-selected="true"] > a {
  --tw-bg-opacity: 1;
  background-color: rgb(117 35 255 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.page-tabs li:hover > a .icon svg > use,
.page-tabs li[aria-selected="true"] > a .icon svg > use {
  stroke: #fff;
}

.page-tabs li:hover > a .icon-view svg,
.page-tabs li[aria-selected="true"] > a .icon-view svg {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.page-tabs-container.fixed {
  margin-top: 0px;
  --tw-bg-opacity: 1;
  background-color: rgb(117 35 255 / var(--tw-bg-opacity));
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.page-tabs-container.fixed .page-tabs-wrapper {
  padding-top: 1rem;
}

.page-tabs-container.fixed nav > div {
  justify-content: flex-start;
}

.page-tabs-container.fixed ul {
  border-radius: 0px;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.page-tabs-container.fixed li {
  height: 2.5rem;
  width: 9rem;
  --tw-bg-opacity: 1;
  background-color: rgb(117 35 255 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.page-tabs-container.fixed li > a {
  flex-direction: row;
  --tw-bg-opacity: 1;
  background-color: rgb(117 35 255 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.page-tabs-container.fixed li:hover > a,
.page-tabs-container.fixed li[aria-selected="true"] > a {
  border-radius: 9999px;
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(117 35 255 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(117 35 255 / var(--tw-text-opacity));
}

.page-tabs-container.fixed li a .icon svg > use {
  stroke: #fff;
}

.page-tabs-container.fixed li:hover > a .icon svg > use,
.page-tabs-container.fixed li[aria-selected="true"] > a .icon svg > use {
  stroke: #7523FF;
}

.page-tabs-container.fixed .icon {
  margin-right: 0.5rem;
}

.page-tabs-container.fixed .icon-view {
  display: none;
}
