svg symbol path {
  stroke: inherit;
}

.page-tabs-container.fixed {
  margin-top: -1px;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.page-tabs-container.fixed ul {
  border-radius: 0px;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.page-tabs-container li[aria-selected="false"] > a {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.page-tabs-container li[aria-selected="true"] svg {
  stroke: #fff;
}

.page-tabs-container.fixed li > a {
  border-radius: 9999px;
}

.page-tabs-container li:hover > a,
.page-tabs-container li[aria-selected="true"] > a {
  --tw-bg-opacity: 1;
  background-color: rgb(117 35 255 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.page-tabs-container.fixed li:hover > a .icon svg > use,
.page-tabs-container.fixed li[aria-selected="true"] > a .icon svg > use {
  stroke: #fff;
}
