.container {
  width: 100%
}

@media (min-width: 640px) {
  .container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px
  }
}

.insight-wrapper :is(.mx-auto) {
  margin-left: auto;
  margin-right: auto
}

.insight-wrapper :is(.mb-1) {
  margin-bottom: 0.25rem
}

.insight-wrapper :is(.mb-3) {
  margin-bottom: 0.75rem
}

.insight-wrapper :is(.mb-4) {
  margin-bottom: 1rem
}

.insight-wrapper :is(.ml-1) {
  margin-left: 0.25rem
}

.insight-wrapper :is(.mt-1) {
  margin-top: 0.25rem
}

.insight-wrapper :is(.block) {
  display: block
}

.insight-wrapper :is(.flex) {
  display: flex
}

.insight-wrapper :is(.h-6) {
  height: 1.5rem
}

.insight-wrapper :is(.w-6) {
  width: 1.5rem
}

.insight-wrapper :is(.w-full) {
  width: 100%
}

.insight-wrapper :is(.max-w-\[1200px\]) {
  max-width: 1200px
}

.insight-wrapper :is(.flex-shrink-0) {
  flex-shrink: 0
}

.insight-wrapper :is(.flex-col) {
  flex-direction: column
}

.insight-wrapper :is(.items-start) {
  align-items: flex-start
}

.insight-wrapper :is(.items-center) {
  align-items: center
}

.insight-wrapper :is(.gap-1) {
  gap: 0.25rem
}

.insight-wrapper :is(.gap-4) {
  gap: 1rem
}

.insight-wrapper :is(.gap-6) {
  gap: 1.5rem
}

.insight-wrapper :is(.divide-y > :not([hidden]) ~ :not([hidden])) {
  --tw-divide-y-reverse: 0;
  border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse))
}

.insight-wrapper :is(.divide-gray-200 > :not([hidden]) ~ :not([hidden])) {
  --tw-divide-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-divide-opacity))
}

.insight-wrapper :is(.bg-danaherlightblue-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(239 251 253 / var(--tw-bg-opacity))
}

.insight-wrapper :is(.bg-danaherpurple-800) {
  --tw-bg-opacity: 1;
  background-color: rgb(64 0 165 / var(--tw-bg-opacity))
}

.insight-wrapper :is(.object-contain) {
  -o-object-fit: contain;
     object-fit: contain
}

.insight-wrapper :is(.py-6) {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem
}

.insight-wrapper :is(.pl-0) {
  padding-left: 0px
}

.insight-wrapper :is(.pr-0) {
  padding-right: 0px
}

.insight-wrapper :is(.text-2xl) {
  font-size: 1.5rem;
  line-height: 2rem
}

.insight-wrapper :is(.text-base) {
  font-size: 1rem;
  line-height: 1.5rem
}

.insight-wrapper :is(.text-lg) {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.insight-wrapper :is(.text-sm) {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.insight-wrapper :is(.font-semibold) {
  font-weight: 700
}

.insight-wrapper :is(.leading-relaxed) {
  line-height: 1.625
}

.insight-wrapper :is(.text-black) {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.insight-wrapper :is(.text-gray-700) {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity))
}

.insight-wrapper :is(.text-purple-700) {
  --tw-text-opacity: 1;
  color: rgb(126 34 206 / var(--tw-text-opacity))
}

.insight-wrapper :is(.hover\:underline:hover) {
  text-decoration-line: underline
}

@media (min-width: 768px) {
  .insight-wrapper :is(.md\:w-1\/2) {
    width: 50%
  }

  .insight-wrapper :is(.md\:flex-row) {
    flex-direction: row
  }

  .insight-wrapper :is(.md\:pl-6) {
    padding-left: 1.5rem
  }

  .insight-wrapper :is(.md\:pr-6) {
    padding-right: 1.5rem
  }

  .insight-wrapper :is(.md\:text-3xl) {
    font-size: 1.875rem;
    line-height: 2.25rem
  }
}