.container {
  width: 100%
}

@media (min-width: 640px) {
  .container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px
  }
}

.top-selling-wrapper :is(.mx-auto) {
  margin-left: auto;
  margin-right: auto
}

.top-selling-wrapper :is(.mb-1) {
  margin-bottom: 0.25rem
}

.top-selling-wrapper :is(.mb-2) {
  margin-bottom: 0.5rem
}

.top-selling-wrapper :is(.mb-4) {
  margin-bottom: 1rem
}

.top-selling-wrapper :is(.ml-1) {
  margin-left: 0.25rem
}

.top-selling-wrapper :is(.mt-2) {
  margin-top: 0.5rem
}

.top-selling-wrapper :is(.mt-3) {
  margin-top: 0.75rem
}

.top-selling-wrapper :is(.line-clamp-2) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2
}

.top-selling-wrapper :is(.line-clamp-3) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3
}

.top-selling-wrapper :is(.block) {
  display: block
}

.top-selling-wrapper :is(.flex) {
  display: flex
}

.top-selling-wrapper :is(.h-20) {
  height: 5rem
}

.top-selling-wrapper :is(.w-12) {
  width: 3rem
}

.top-selling-wrapper :is(.w-32) {
  width: 8rem
}

.top-selling-wrapper :is(.w-full) {
  width: 100%
}

.top-selling-wrapper :is(.max-w-\[1440px\]) {
  max-width: 1440px
}

.top-selling-wrapper :is(.flex-1) {
  flex: 1 1 0%
}

.top-selling-wrapper :is(.flex-shrink-0) {
  flex-shrink: 0
}

.top-selling-wrapper :is(.flex-col) {
  flex-direction: column
}

.top-selling-wrapper :is(.items-start) {
  align-items: flex-start
}

.top-selling-wrapper :is(.items-center) {
  align-items: center
}

.top-selling-wrapper :is(.justify-start) {
  justify-content: flex-start
}

.top-selling-wrapper :is(.justify-center) {
  justify-content: center
}

.top-selling-wrapper :is(.justify-between) {
  justify-content: space-between
}

.top-selling-wrapper :is(.gap-2) {
  gap: 0.5rem
}

.top-selling-wrapper :is(.gap-4) {
  gap: 1rem
}

.top-selling-wrapper :is(.rounded) {
  border-radius: 0.25rem
}

.top-selling-wrapper :is(.rounded-full) {
  border-radius: 9999px
}

.top-selling-wrapper :is(.rounded-lg) {
  border-radius: 0.5rem
}

.top-selling-wrapper :is(.border) {
  border-width: 1px
}

.top-selling-wrapper :is(.border-gray-300) {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity))
}

.top-selling-wrapper :is(.border-purple-600) {
  --tw-border-opacity: 1;
  border-color: rgb(147 51 234 / var(--tw-border-opacity))
}

.top-selling-wrapper :is(.bg-danaherlightblue-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(239 251 253 / var(--tw-bg-opacity))
}

.top-selling-wrapper :is(.bg-danaherpurple-800) {
  --tw-bg-opacity: 1;
  background-color: rgb(64 0 165 / var(--tw-bg-opacity))
}

.top-selling-wrapper :is(.bg-purple-600) {
  --tw-bg-opacity: 1;
  background-color: rgb(147 51 234 / var(--tw-bg-opacity))
}

.top-selling-wrapper :is(.bg-white) {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.top-selling-wrapper :is(.object-contain) {
  -o-object-fit: contain;
     object-fit: contain
}

.top-selling-wrapper :is(.p-4) {
  padding: 1rem
}

.top-selling-wrapper :is(.px-2) {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.top-selling-wrapper :is(.px-4) {
  padding-left: 1rem;
  padding-right: 1rem
}

.top-selling-wrapper :is(.py-1) {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.top-selling-wrapper :is(.py-2) {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.top-selling-wrapper :is(.text-center) {
  text-align: center
}

.top-selling-wrapper :is(.text-2xl) {
  font-size: 1.5rem;
  line-height: 2rem
}

.top-selling-wrapper :is(.text-base) {
  font-size: 1rem;
  line-height: 1.5rem
}

.top-selling-wrapper :is(.text-lg) {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.top-selling-wrapper :is(.text-sm) {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.top-selling-wrapper :is(.font-bold) {
  font-weight: 700
}

.top-selling-wrapper :is(.font-medium) {
  font-weight: 500
}

.top-selling-wrapper :is(.font-semibold) {
  font-weight: 700
}

.top-selling-wrapper :is(.text-black) {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.top-selling-wrapper :is(.text-gray-500) {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity))
}

.top-selling-wrapper :is(.text-gray-600) {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity))
}

.top-selling-wrapper :is(.text-gray-900) {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity))
}

.top-selling-wrapper :is(.text-purple-600) {
  --tw-text-opacity: 1;
  color: rgb(147 51 234 / var(--tw-text-opacity))
}

.top-selling-wrapper :is(.text-white) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.top-selling-wrapper :is(.underline) {
  text-decoration-line: underline
}

.top-selling-wrapper :is(.filter) {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

@media (min-width: 768px) {
  .top-selling-wrapper :is(.md\:flex-row) {
    flex-direction: row
  }

  .top-selling-wrapper :is(.md\:px-10) {
    padding-left: 2.5rem;
    padding-right: 2.5rem
  }
}