.product-banner-wrapper :is(.relative) {
  position: relative
}

.product-banner-wrapper :is(.mb-4) {
  margin-bottom: 1rem
}

.product-banner-wrapper :is(.ml-4) {
  margin-left: 1rem
}

.product-banner-wrapper :is(.mr-4) {
  margin-right: 1rem
}

.product-banner-wrapper :is(.mt-10) {
  margin-top: 2.5rem
}

.product-banner-wrapper :is(.mt-4) {
  margin-top: 1rem
}

.product-banner-wrapper :is(.line-clamp-6) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6
}

.product-banner-wrapper :is(.block) {
  display: block
}

.product-banner-wrapper :is(.flex) {
  display: flex
}

.product-banner-wrapper :is(.h-\[460px\]) {
  height: 460px
}

.product-banner-wrapper :is(.h-px) {
  height: 1px
}

.product-banner-wrapper :is(.w-80) {
  width: 20rem
}

.product-banner-wrapper :is(.w-full) {
  width: 100%
}

.product-banner-wrapper :is(.cursor-pointer) {
  cursor: pointer
}

.product-banner-wrapper :is(.flex-col) {
  flex-direction: column
}

.product-banner-wrapper :is(.flex-wrap) {
  flex-wrap: wrap
}

.product-banner-wrapper :is(.items-start) {
  align-items: flex-start
}

.product-banner-wrapper :is(.items-center) {
  align-items: center
}

.product-banner-wrapper :is(.justify-start) {
  justify-content: flex-start
}

.product-banner-wrapper :is(.justify-center) {
  justify-content: center
}

.product-banner-wrapper :is(.self-stretch) {
  align-self: stretch
}

.product-banner-wrapper :is(.overflow-hidden) {
  overflow: hidden
}

.product-banner-wrapper :is(.rounded-\[30px\]) {
  border-radius: 30px
}

.product-banner-wrapper :is(.bg-danaherlightblue-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(239 251 253 / var(--tw-bg-opacity))
}

.product-banner-wrapper :is(.bg-danaherpurple-800) {
  --tw-bg-opacity: 1;
  background-color: rgb(64 0 165 / var(--tw-bg-opacity))
}

.product-banner-wrapper :is(.bg-gray-400) {
  --tw-bg-opacity: 1;
  background-color: rgb(156 163 175 / var(--tw-bg-opacity))
}

.product-banner-wrapper :is(.bg-violet-600) {
  --tw-bg-opacity: 1;
  background-color: rgb(124 58 237 / var(--tw-bg-opacity))
}

.product-banner-wrapper :is(.object-contain) {
  -o-object-fit: contain;
     object-fit: contain
}

.product-banner-wrapper :is(.px-6) {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.product-banner-wrapper :is(.py-3) {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem
}

.product-banner-wrapper :is(.pt-6) {
  padding-top: 1.5rem
}

.product-banner-wrapper :is(.text-4xl) {
  font-size: 2.25rem;
  line-height: 2.5rem
}

.product-banner-wrapper :is(.text-base) {
  font-size: 1rem;
  line-height: 1.5rem
}

.product-banner-wrapper :is(.font-bold) {
  font-weight: 700
}

.product-banner-wrapper :is(.font-extralight) {
  font-weight: 200
}

.product-banner-wrapper :is(.font-normal) {
  font-weight: 200
}

.product-banner-wrapper :is(.leading-\[48px\]) {
  line-height: 48px
}

.product-banner-wrapper :is(.leading-snug) {
  line-height: 1.375
}

.product-banner-wrapper :is(.text-black) {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.product-banner-wrapper :is(.text-violet-600) {
  --tw-text-opacity: 1;
  color: rgb(124 58 237 / var(--tw-text-opacity))
}

.product-banner-wrapper :is(.text-white) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.product-banner-wrapper :is(.shadow-md) {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

@media (min-width: 1024px) {
  .product-banner-wrapper :is(.lg\:w-\[600px\]) {
    width: 600px
  }

  .product-banner-wrapper :is(.lg\:flex-row) {
    flex-direction: row
  }

  .product-banner-wrapper :is(.lg\:pt-12) {
    padding-top: 3rem
  }
}