.hero-wrapper :is(.fixed) {
  position: fixed
}

.hero-wrapper :is(.absolute) {
  position: absolute
}

.hero-wrapper :is(.relative) {
  position: relative
}

.hero-wrapper :is(.inset-0) {
  inset: 0px
}

.hero-wrapper :is(.left-0) {
  left: 0px
}

.hero-wrapper :is(.top-0) {
  top: 0px
}

.hero-wrapper :is(.z-50) {
  z-index: 50
}

.hero-wrapper :is(.mx-auto) {
  margin-left: auto;
  margin-right: auto
}

.hero-wrapper :is(.mb-1) {
  margin-bottom: 0.25rem
}

.hero-wrapper :is(.mb-2) {
  margin-bottom: 0.5rem
}

.hero-wrapper :is(.mt-0) {
  margin-top: 0px
}

.hero-wrapper :is(.mt-8) {
  margin-top: 2rem
}

.hero-wrapper :is(.block) {
  display: block
}

.hero-wrapper :is(.flex) {
  display: flex
}

.hero-wrapper :is(.hidden) {
  display: none
}

.hero-wrapper :is(.h-12) {
  height: 3rem
}

.hero-wrapper :is(.h-80) {
  height: 20rem
}

.hero-wrapper :is(.w-12) {
  width: 3rem
}

.hero-wrapper :is(.w-full) {
  width: 100%
}

.hero-wrapper :is(.\!max-w-\[unset\]) {
  max-width: unset !important
}

.hero-wrapper :is(.max-w-7xl) {
  max-width: 80rem
}

.hero-wrapper :is(.max-w-full) {
  max-width: 100%
}

.hero-wrapper :is(.max-w-sm) {
  max-width: 24rem
}

.hero-wrapper :is(.flex-col) {
  flex-direction: column
}

.hero-wrapper :is(.justify-center) {
  justify-content: center
}

.hero-wrapper :is(.place-self-end) {
  place-self: end
}

.hero-wrapper :is(.overflow-hidden) {
  overflow: hidden
}

.hero-wrapper :is(.rounded) {
  border-radius: 0.25rem
}

.hero-wrapper :is(.rounded-lg) {
  border-radius: 0.5rem
}

.hero-wrapper :is(.rounded-xl) {
  border-radius: 0.75rem
}

.hero-wrapper :is(.border) {
  border-width: 1px
}

.hero-wrapper :is(.border-purple-200) {
  --tw-border-opacity: 1;
  border-color: rgb(125 86 164 / var(--tw-border-opacity))
}

.hero-wrapper :is(.bg-black\/25) {
  background-color: rgb(0 0 0 / 0.25)
}

.hero-wrapper :is(.bg-danaherlightblue-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(239 251 253 / var(--tw-bg-opacity))
}

.hero-wrapper :is(.bg-danaherpurple-800) {
  --tw-bg-opacity: 1;
  background-color: rgb(64 0 165 / var(--tw-bg-opacity))
}

.hero-wrapper :is(.bg-transparent) {
  background-color: transparent
}

.hero-wrapper :is(.object-cover) {
  -o-object-fit: cover;
     object-fit: cover
}

.hero-wrapper :is(.\!p-0) {
  padding: 0px !important
}

.hero-wrapper :is(.p-2) {
  padding: 0.5rem
}

.hero-wrapper :is(.p-4) {
  padding: 1rem
}

.hero-wrapper :is(.pb-\[56\.25\%\]) {
  padding-bottom: 56.25%
}

.hero-wrapper :is(.text-2xl) {
  font-size: 1.5rem;
  line-height: 2rem
}

.hero-wrapper :is(.text-6xl) {
  font-size: 3.75rem;
  line-height: 1
}

.hero-wrapper :is(.font-extrabold) {
  font-weight: 800
}

.hero-wrapper :is(.font-normal) {
  font-weight: 200
}

.hero-wrapper :is(.font-semibold) {
  font-weight: 700
}

.hero-wrapper :is(.leading-none) {
  line-height: 1
}

.hero-wrapper :is(.tracking-wide) {
  letter-spacing: 0.025em
}

.hero-wrapper :is(.text-gray-600) {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity))
}

.hero-wrapper :is(.text-purple-200) {
  --tw-text-opacity: 1;
  color: rgb(125 86 164 / var(--tw-text-opacity))
}

.hero-wrapper :is(.text-white) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.hero-wrapper :is(.backdrop-brightness-50) {
  --tw-backdrop-brightness: brightness(.5);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
          backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
}

@media (min-width: 768px) {
  .md\:btn-lg {
    padding-top: .625rem;
    padding-bottom: .625rem;
    font-size: 1.125rem;
    line-height: 1.75rem
  }
}

.hero-wrapper :is(.hover\:bg-purple-200:hover) {
  --tw-bg-opacity: 1;
  background-color: rgb(125 86 164 / var(--tw-bg-opacity))
}

.hero-wrapper :is(.hover\:text-white:hover) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

@media (min-width: 768px) {
  .hero-wrapper :is(.md\:mt-16) {
    margin-top: 4rem
  }

  .hero-wrapper :is(.md\:h-full) {
    height: 100%
  }

  .hero-wrapper :is(.md\:p-6) {
    padding: 1.5rem
  }

  .hero-wrapper :is(.md\:px-8) {
    padding-left: 2rem;
    padding-right: 2rem
  }
}

@media (min-width: 1024px) {
  .hero-wrapper :is(.lg\:mb-8) {
    margin-bottom: 2rem
  }

  .hero-wrapper :is(.lg\:text-\[11rem\]) {
    font-size: 11rem
  }
}