.application main {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  gap: 2.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.application main .section {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.application .default-content-wrapper h1 {
  padding-bottom: 0.75rem;
  text-align: center;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}

.application .default-content-wrapper p a {
  font-weight: 700;
}

.application .bg-danaherlightblue-50 .default-content-wrapper p {
  text-align: center;
}

.application main > div.columns-container > div.columns-wrapper {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.application main .columns > div div > p:not(.button-container) a {
  position: relative;
  z-index: 0;
  text-decoration-line: underline;
  text-decoration-color: #7523FF;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
  text-decoration-style: solid;
  word-break: break-all;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.application main .columns > div div > p:not(.button-container) a:hover {
  color: rgb(255 255 255);
  background-color: #7523FF;
}

.application main .columns > div div > p:not(.button-container) {
  margin-top: 0.75rem;
  font-size: 1rem;
  line-height: 1.75rem;
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}
