.container {
  width: 100%
}

@media (min-width: 640px) {
  .container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px
  }
}

.opco-banner-wrapper :is(.mx-auto) {
  margin-left: auto;
  margin-right: auto
}

.opco-banner-wrapper :is(.mt-4) {
  margin-top: 1rem
}

.opco-banner-wrapper :is(.block) {
  display: block
}

.opco-banner-wrapper :is(.flex) {
  display: flex
}

.opco-banner-wrapper :is(.hidden) {
  display: none
}

.opco-banner-wrapper :is(.h-40) {
  height: 10rem
}

.opco-banner-wrapper :is(.h-8) {
  height: 2rem
}

.opco-banner-wrapper :is(.h-full) {
  height: 100%
}

.opco-banner-wrapper :is(.w-8) {
  width: 2rem
}

.opco-banner-wrapper :is(.w-auto) {
  width: auto
}

.opco-banner-wrapper :is(.w-full) {
  width: 100%
}

.opco-banner-wrapper :is(.max-w-lg) {
  max-width: 32rem
}

.opco-banner-wrapper :is(.max-w-sm) {
  max-width: 24rem
}

.opco-banner-wrapper :is(.flex-col) {
  flex-direction: column
}

.opco-banner-wrapper :is(.flex-wrap) {
  flex-wrap: wrap
}

.opco-banner-wrapper :is(.items-start) {
  align-items: flex-start
}

.opco-banner-wrapper :is(.items-center) {
  align-items: center
}

.opco-banner-wrapper :is(.justify-center) {
  justify-content: center
}

.opco-banner-wrapper :is(.gap-2) {
  gap: 0.5rem
}

.opco-banner-wrapper :is(.gap-4) {
  gap: 1rem
}

.opco-banner-wrapper :is(.space-y-4 > :not([hidden]) ~ :not([hidden])) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse))
}

.opco-banner-wrapper :is(.whitespace-nowrap) {
  white-space: nowrap
}

.opco-banner-wrapper :is(.rounded) {
  border-radius: 0.25rem
}

.opco-banner-wrapper :is(.rounded-full) {
  border-radius: 9999px
}

.opco-banner-wrapper :is(.bg-danaherlightblue-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(239 251 253 / var(--tw-bg-opacity))
}

.opco-banner-wrapper :is(.bg-danaherpurple-800) {
  --tw-bg-opacity: 1;
  background-color: rgb(64 0 165 / var(--tw-bg-opacity))
}

.opco-banner-wrapper :is(.bg-gray-100) {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}

.opco-banner-wrapper :is(.bg-gray-200) {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity))
}

.opco-banner-wrapper :is(.bg-purple-50) {
  background-color: #6C3F980D
}

.opco-banner-wrapper :is(.bg-purple-600) {
  --tw-bg-opacity: 1;
  background-color: rgb(147 51 234 / var(--tw-bg-opacity))
}

.opco-banner-wrapper :is(.bg-white) {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.opco-banner-wrapper :is(.object-contain) {
  -o-object-fit: contain;
     object-fit: contain
}

.opco-banner-wrapper :is(.px-10) {
  padding-left: 2.5rem;
  padding-right: 2.5rem
}

.opco-banner-wrapper :is(.px-3) {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.opco-banner-wrapper :is(.px-6) {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.opco-banner-wrapper :is(.py-0) {
  padding-top: 0px;
  padding-bottom: 0px
}

.opco-banner-wrapper :is(.py-1) {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.opco-banner-wrapper :is(.py-2) {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.opco-banner-wrapper :is(.text-center) {
  text-align: center
}

.opco-banner-wrapper :is(.text-start) {
  text-align: start
}

.opco-banner-wrapper :is(.text-2xl) {
  font-size: 1.5rem;
  line-height: 2rem
}

.opco-banner-wrapper :is(.text-base) {
  font-size: 1rem;
  line-height: 1.5rem
}

.opco-banner-wrapper :is(.text-lg) {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.opco-banner-wrapper :is(.text-sm) {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.opco-banner-wrapper :is(.font-bold) {
  font-weight: 700
}

.opco-banner-wrapper :is(.font-medium) {
  font-weight: 500
}

.opco-banner-wrapper :is(.font-semibold) {
  font-weight: 700
}

.opco-banner-wrapper :is(.leading-snug) {
  line-height: 1.375
}

.opco-banner-wrapper :is(.text-blue-700) {
  --tw-text-opacity: 1;
  color: rgb(29 78 216 / var(--tw-text-opacity))
}

.opco-banner-wrapper :is(.text-gray-600) {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity))
}

.opco-banner-wrapper :is(.text-gray-700) {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity))
}

.opco-banner-wrapper :is(.text-gray-900) {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity))
}

.opco-banner-wrapper :is(.text-purple-700) {
  --tw-text-opacity: 1;
  color: rgb(126 34 206 / var(--tw-text-opacity))
}

.opco-banner-wrapper :is(.text-white) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.opco-banner-wrapper :is(.filter) {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.opco-banner-wrapper :is(.transition) {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.opco-banner-wrapper :is(.hover\:bg-gray-300:hover) {
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity))
}

.opco-banner-wrapper :is(.hover\:bg-purple-700:hover) {
  --tw-bg-opacity: 1;
  background-color: rgb(126 34 206 / var(--tw-bg-opacity))
}

@media (min-width: 768px) {
  .opco-banner-wrapper :is(.md\:w-1\/2) {
    width: 50%
  }

  .opco-banner-wrapper :is(.md\:flex-row) {
    flex-direction: row
  }

  .opco-banner-wrapper :is(.md\:text-base) {
    font-size: 1rem;
    line-height: 1.5rem
  }

  .opco-banner-wrapper :is(.md\:text-xl) {
    font-size: 1.25rem;
    line-height: 1.75rem
  }
}