.container {
  width: 100%
}

@media (min-width: 640px) {
  .container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px
  }
}

.opco-banner-wrapper :is(.mt-2) {
  margin-top: 0.5rem
}

.opco-banner-wrapper :is(.mt-4) {
  margin-top: 1rem
}

.opco-banner-wrapper :is(.block) {
  display: block
}

.opco-banner-wrapper :is(.flex) {
  display: flex
}

.opco-banner-wrapper :is(.hidden) {
  display: none
}

.opco-banner-wrapper :is(.h-8) {
  height: 2rem
}

.opco-banner-wrapper :is(.h-\[184px\]) {
  height: 184px
}

.opco-banner-wrapper :is(.h-\[600px\]) {
  height: 600px
}

.opco-banner-wrapper :is(.w-8) {
  width: 2rem
}

.opco-banner-wrapper :is(.w-\[300px\]) {
  width: 300px
}

.opco-banner-wrapper :is(.w-\[344px\]) {
  width: 344px
}

.opco-banner-wrapper :is(.w-\[505px\]) {
  width: 505px
}

.opco-banner-wrapper :is(.w-\[572px\]) {
  width: 572px
}

.opco-banner-wrapper :is(.w-full) {
  width: 100%
}

.opco-banner-wrapper :is(.max-w-\[420px\]) {
  max-width: 420px
}

.opco-banner-wrapper :is(.flex-col) {
  flex-direction: column
}

.opco-banner-wrapper :is(.flex-wrap) {
  flex-wrap: wrap
}

.opco-banner-wrapper :is(.content-start) {
  align-content: flex-start
}

.opco-banner-wrapper :is(.items-start) {
  align-items: flex-start
}

.opco-banner-wrapper :is(.items-center) {
  align-items: center
}

.opco-banner-wrapper :is(.justify-center) {
  justify-content: center
}

.opco-banner-wrapper :is(.gap-2) {
  gap: 0.5rem
}

.opco-banner-wrapper :is(.gap-4) {
  gap: 1rem
}

.opco-banner-wrapper :is(.gap-6) {
  gap: 1.5rem
}

.opco-banner-wrapper :is(.rounded) {
  border-radius: 0.25rem
}

.opco-banner-wrapper :is(.rounded-\[30px\]) {
  border-radius: 30px
}

.opco-banner-wrapper :is(.rounded-full) {
  border-radius: 9999px
}

.opco-banner-wrapper :is(.border) {
  border-width: 1px
}

.opco-banner-wrapper :is(.border-b) {
  border-bottom-width: 1px
}

.opco-banner-wrapper :is(.border-danaherpurple-500) {
  --tw-border-opacity: 1;
  border-color: rgb(117 35 255 / var(--tw-border-opacity))
}

.opco-banner-wrapper :is(.border-gray-300) {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity))
}

.opco-banner-wrapper :is(.bg-danaherlightblue-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(239 251 253 / var(--tw-bg-opacity))
}

.opco-banner-wrapper :is(.bg-danaherpurple-500) {
  --tw-bg-opacity: 1;
  background-color: rgb(117 35 255 / var(--tw-bg-opacity))
}

.opco-banner-wrapper :is(.bg-danaherpurple-800) {
  --tw-bg-opacity: 1;
  background-color: rgb(64 0 165 / var(--tw-bg-opacity))
}

.opco-banner-wrapper :is(.bg-gray-100) {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}

.opco-banner-wrapper :is(.bg-purple-50) {
  background-color: #6C3F980D
}

.opco-banner-wrapper :is(.bg-white) {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.opco-banner-wrapper :is(.object-cover) {
  -o-object-fit: cover;
     object-fit: cover
}

.opco-banner-wrapper :is(.p-0) {
  padding: 0px
}

.opco-banner-wrapper :is(.p-10) {
  padding: 2.5rem
}

.opco-banner-wrapper :is(.px-2) {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.opco-banner-wrapper :is(.px-\[25px\]) {
  padding-left: 25px;
  padding-right: 25px
}

.opco-banner-wrapper :is(.py-0) {
  padding-top: 0px;
  padding-bottom: 0px
}

.opco-banner-wrapper :is(.py-0\.5) {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem
}

.opco-banner-wrapper :is(.py-\[13px\]) {
  padding-top: 13px;
  padding-bottom: 13px
}

.opco-banner-wrapper :is(.text-center) {
  text-align: center
}

.opco-banner-wrapper :is(.text-\[14px\]) {
  font-size: 14px
}

.opco-banner-wrapper :is(.text-\[16px\]) {
  font-size: 16px
}

.opco-banner-wrapper :is(.text-\[18px\]) {
  font-size: 18px
}

.opco-banner-wrapper :is(.text-\[20px\]) {
  font-size: 20px
}

.opco-banner-wrapper :is(.text-\[32px\]) {
  font-size: 32px
}

.opco-banner-wrapper :is(.text-\[40px\]) {
  font-size: 40px
}

.opco-banner-wrapper :is(.text-sm) {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.opco-banner-wrapper :is(.font-bold) {
  font-weight: 700
}

.opco-banner-wrapper :is(.font-light) {
  font-weight: 300
}

.opco-banner-wrapper :is(.font-medium) {
  font-weight: 500
}

.opco-banner-wrapper :is(.font-normal) {
  font-weight: 200
}

.opco-banner-wrapper :is(.leading-\[20px\]) {
  line-height: 20px
}

.opco-banner-wrapper :is(.leading-\[22px\]) {
  line-height: 22px
}

.opco-banner-wrapper :is(.leading-\[24px\]) {
  line-height: 24px
}

.opco-banner-wrapper :is(.leading-\[28px\]) {
  line-height: 28px
}

.opco-banner-wrapper :is(.leading-\[40px\]) {
  line-height: 40px
}

.opco-banner-wrapper :is(.leading-\[48px\]) {
  line-height: 48px
}

.opco-banner-wrapper :is(.text-black) {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.opco-banner-wrapper :is(.text-danaherpurple-500) {
  --tw-text-opacity: 1;
  color: rgb(117 35 255 / var(--tw-text-opacity))
}

.opco-banner-wrapper :is(.text-danaherpurple-800) {
  --tw-text-opacity: 1;
  color: rgb(64 0 165 / var(--tw-text-opacity))
}

.opco-banner-wrapper :is(.text-white) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.opco-banner-wrapper :is(.shadow-sm) {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.opco-banner-wrapper :is(.filter) {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.opco-banner-wrapper :is(.transition) {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.opco-banner-wrapper :is(.hover\:opacity-90:hover) {
  opacity: 0.9
}

@media (min-width: 768px) {
  .opco-banner-wrapper :is(.md\:w-1\/2) {
    width: 50%
  }

  .opco-banner-wrapper :is(.md\:flex-row) {
    flex-direction: row
  }

  .opco-banner-wrapper :is(.md\:pl-\[60px\]) {
    padding-left: 60px
  }
}