.btn-outline-trending-brand {
  color: #7523FF;
  background-color: rgb(255 255 255);
  border-color: #7523FF;
  border-width: 2px;
}

.btn-outline-trending-brand:hover {
  color: rgb(255 255 255);
  background-color: #7523FF;
}

.call-to-action-wrapper :is(.m-0) {
  margin: 0px;
}

.call-to-action-wrapper :is(.mx-auto) {
  margin-left: auto;
  margin-right: auto;
}

.call-to-action-wrapper :is(.block) {
  display: block;
}

.call-to-action-wrapper :is(.w-full) {
  width: 100%;
}

.call-to-action-wrapper :is(.max-w-7xl) {
  max-width: 80rem;
}

.call-to-action-wrapper :is(.max-w-sm) {
  max-width: 24rem;
}

.call-to-action-wrapper :is(.shrink-0) {
  flex-shrink: 0;
}

.call-to-action-wrapper :is(.items-center) {
  align-items: center;
}

.call-to-action-wrapper :is(.space-y-8 > :not([hidden]) ~ :not([hidden])) {
  --tw-space-y-reverse: 0;
  margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2rem * var(--tw-space-y-reverse));
}

.call-to-action-wrapper :is(.rounded-full) {
  border-radius: 9999px;
}

.call-to-action-wrapper :is(.bg-danaherlightblue-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(239 251 253 / var(--tw-bg-opacity));
}

.call-to-action-wrapper :is(.bg-danaherpurple-800) {
  --tw-bg-opacity: 1;
  background-color: rgb(64 0 165 / var(--tw-bg-opacity));
}

.call-to-action-wrapper :is(.p-0) {
  padding: 0px;
}

.call-to-action-wrapper :is(.px-6) {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.call-to-action-wrapper :is(.py-3) {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.call-to-action-wrapper :is(.py-8) {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.call-to-action-wrapper :is(.pt-6) {
  padding-top: 1.5rem;
}

.call-to-action-wrapper :is(.text-2xl) {
  font-size: 1.5rem;
  line-height: 2rem;
}

.call-to-action-wrapper :is(.text-base) {
  font-size: 1rem;
  line-height: 1.5rem;
}

.call-to-action-wrapper :is(.text-lg) {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.call-to-action-wrapper :is(.font-normal) {
  font-weight: 200;
}

.call-to-action-wrapper :is(.font-semibold) {
  font-weight: 700;
}

.call-to-action-wrapper :is(.tracking-tight) {
  letter-spacing: -0.025em;
}

.call-to-action-wrapper :is(.tracking-wide) {
  letter-spacing: 0.025em;
}

.call-to-action-wrapper :is(.text-danaherpurple-500) {
  --tw-text-opacity: 1;
  color: rgb(117 35 255 / var(--tw-text-opacity));
}

.call-to-action-wrapper :is(.text-white) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.call-to-action-wrapper :is(.\!no-underline) {
  text-decoration-line: none !important;
}

@media (min-width: 640px) {
  .call-to-action-wrapper :is(.sm\:text-3xl) {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

@media (min-width: 768px) {
  .call-to-action-wrapper :is(.md\:flex) {
    display: flex;
  }

  .call-to-action-wrapper :is(.md\:flex-row) {
    flex-direction: row;
  }

  .call-to-action-wrapper :is(.md\:justify-between) {
    justify-content: space-between;
  }

  .call-to-action-wrapper :is(.md\:space-y-0 > :not([hidden]) ~ :not([hidden])) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0px * var(--tw-space-y-reverse));
  }

  .call-to-action-wrapper :is(.md\:px-12) {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .call-to-action-wrapper :is(.md\:py-16) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media (min-width: 1024px) {
  .call-to-action-wrapper :is(.lg\:max-w-2xl) {
    max-width: 42rem;
  }

  .call-to-action-wrapper :is(.lg\:py-8) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}