.pdp-faqs-wrapper :is(.\!mr-5) {
  margin-right: 1.25rem !important
}

.pdp-faqs-wrapper :is(.block) {
  display: block
}

.pdp-faqs-wrapper :is(.border-b) {
  border-bottom-width: 1px
}

.pdp-faqs-wrapper :is(.border-gray-200) {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity))
}

.pdp-faqs-wrapper :is(.bg-danaherlightblue-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(239 251 253 / var(--tw-bg-opacity))
}

.pdp-faqs-wrapper :is(.bg-danaherpurple-800) {
  --tw-bg-opacity: 1;
  background-color: rgb(64 0 165 / var(--tw-bg-opacity))
}

.pdp-faqs-wrapper :is(.bg-gray-100) {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}

.pdp-faqs-wrapper :is(.\!pb-6) {
  padding-bottom: 1.5rem !important
}