.body-banner-wrapper :is(.mx-auto) {
  margin-left: auto;
  margin-right: auto
}

.body-banner-wrapper :is(.block) {
  display: block
}

.body-banner-wrapper :is(.flex) {
  display: flex
}

.body-banner-wrapper :is(.h-full) {
  height: 100%
}

.body-banner-wrapper :is(.w-\[608px\]) {
  width: 608px
}

.body-banner-wrapper :is(.w-\[630px\]) {
  width: 630px
}

.body-banner-wrapper :is(.w-full) {
  width: 100%
}

.body-banner-wrapper :is(.max-w-\[1440px\]) {
  max-width: 1440px
}

.body-banner-wrapper :is(.flex-col) {
  flex-direction: column
}

.body-banner-wrapper :is(.items-start) {
  align-items: flex-start
}

.body-banner-wrapper :is(.items-center) {
  align-items: center
}

.body-banner-wrapper :is(.items-stretch) {
  align-items: stretch
}

.body-banner-wrapper :is(.justify-center) {
  justify-content: center
}

.body-banner-wrapper :is(.gap-2) {
  gap: 0.5rem
}

.body-banner-wrapper :is(.gap-6) {
  gap: 1.5rem
}

.body-banner-wrapper :is(.self-start) {
  align-self: flex-start
}

.body-banner-wrapper :is(.overflow-hidden) {
  overflow: hidden
}

.body-banner-wrapper :is(.rounded-full) {
  border-radius: 9999px
}

.body-banner-wrapper :is(.rounded-md) {
  border-radius: 0.375rem
}

.body-banner-wrapper :is(.bg-danaherlightblue-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(239 251 253 / var(--tw-bg-opacity))
}

.body-banner-wrapper :is(.bg-danaherpurple-800) {
  --tw-bg-opacity: 1;
  background-color: rgb(64 0 165 / var(--tw-bg-opacity))
}

.body-banner-wrapper :is(.bg-white) {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.body-banner-wrapper :is(.object-cover) {
  -o-object-fit: cover;
     object-fit: cover
}

.body-banner-wrapper :is(.px-0) {
  padding-left: 0px;
  padding-right: 0px
}

.body-banner-wrapper :is(.px-\[25px\]) {
  padding-left: 25px;
  padding-right: 25px
}

.body-banner-wrapper :is(.py-1) {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.body-banner-wrapper :is(.py-\[13px\]) {
  padding-top: 13px;
  padding-bottom: 13px
}

.body-banner-wrapper :is(.text-\[24px\]) {
  font-size: 24px
}

.body-banner-wrapper :is(.text-base) {
  font-size: 1rem;
  line-height: 1.5rem
}

.body-banner-wrapper :is(.text-sm) {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.body-banner-wrapper :is(.font-bold) {
  font-weight: 700
}

.body-banner-wrapper :is(.font-extralight) {
  font-weight: 200
}

.body-banner-wrapper :is(.font-normal) {
  font-weight: 200
}

.body-banner-wrapper :is(.font-semibold) {
  font-weight: 700
}

.body-banner-wrapper :is(.leading-\[22px\]) {
  line-height: 22px
}

.body-banner-wrapper :is(.leading-\[32px\]) {
  line-height: 32px
}

.body-banner-wrapper :is(.text-black) {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.body-banner-wrapper :is(.text-white) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.body-banner-wrapper :is(.transition) {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.body-banner-wrapper :is(.duration-300) {
  transition-duration: 300ms
}

.body-banner-wrapper :is(.hover\:bg-opacity-90:hover) {
  --tw-bg-opacity: 0.9
}

@media (min-width: 768px) {
  .body-banner-wrapper :is(.md\:flex-row) {
    flex-direction: row
  }
}