.bg-danaherpurple-50 {
  background-color: #EADEFF
}

.off-screen {
  position: absolute;
  visibility: hidden;
  left: 0px;
  right: 0px;
  opacity: 0
}

.workflow-tabs-wrapper :is(.mx-auto) {
  margin-left: auto;
  margin-right: auto
}

.workflow-tabs-wrapper :is(.\!ml-0) {
  margin-left: 0px !important
}

.workflow-tabs-wrapper :is(.\!mt-0) {
  margin-top: 0px !important
}

.workflow-tabs-wrapper :is(.block) {
  display: block
}

.workflow-tabs-wrapper :is(.flex) {
  display: flex
}

.workflow-tabs-wrapper :is(.inline-flex) {
  display: inline-flex
}

.workflow-tabs-wrapper :is(.h-full) {
  height: 100%
}

.workflow-tabs-wrapper :is(.h-max) {
  height: -moz-max-content;
  height: max-content
}

.workflow-tabs-wrapper :is(.w-full) {
  width: 100%
}

.workflow-tabs-wrapper :is(.max-w-7xl) {
  max-width: 80rem
}

.workflow-tabs-wrapper :is(.cursor-pointer) {
  cursor: pointer
}

.workflow-tabs-wrapper :is(.flex-col) {
  flex-direction: column
}

.workflow-tabs-wrapper :is(.flex-wrap) {
  flex-wrap: wrap
}

.workflow-tabs-wrapper :is(.items-center) {
  align-items: center
}

.workflow-tabs-wrapper :is(.justify-start) {
  justify-content: flex-start
}

.workflow-tabs-wrapper :is(.justify-center) {
  justify-content: center
}

.workflow-tabs-wrapper :is(.gap-x-2) {
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem
}

.workflow-tabs-wrapper :is(.overflow-hidden) {
  overflow: hidden
}

.workflow-tabs-wrapper :is(.rounded-full) {
  border-radius: 9999px
}

.workflow-tabs-wrapper :is(.border) {
  border-width: 1px
}

.workflow-tabs-wrapper :is(.border-solid) {
  border-style: solid
}

.workflow-tabs-wrapper :is(.border-gray-300) {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity))
}

.workflow-tabs-wrapper :is(.bg-danaherlightblue-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(239 251 253 / var(--tw-bg-opacity))
}

.workflow-tabs-wrapper :is(.bg-danaherpurple-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(234 222 255 / var(--tw-bg-opacity))
}

.workflow-tabs-wrapper :is(.bg-danaherpurple-500) {
  --tw-bg-opacity: 1;
  background-color: rgb(117 35 255 / var(--tw-bg-opacity))
}

.workflow-tabs-wrapper :is(.\!py-0) {
  padding-top: 0px !important;
  padding-bottom: 0px !important
}

.workflow-tabs-wrapper :is(.px-4) {
  padding-left: 1rem;
  padding-right: 1rem
}

.workflow-tabs-wrapper :is(.py-1) {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.workflow-tabs-wrapper :is(.text-xs) {
  font-size: 0.75rem;
  line-height: 1rem
}

.workflow-tabs-wrapper :is(.font-medium) {
  font-weight: 500
}

.workflow-tabs-wrapper :is(.capitalize) {
  text-transform: capitalize
}

.workflow-tabs-wrapper :is(.leading-5) {
  line-height: 1.25rem
}

.workflow-tabs-wrapper :is(.text-danaherpurple-800) {
  --tw-text-opacity: 1;
  color: rgb(64 0 165 / var(--tw-text-opacity))
}

.workflow-tabs-wrapper :is(.text-white) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.workflow-tabs-wrapper :is(.shadow-md) {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.workflow-tabs-wrapper :is(.hover\:text-danaherpurple-800:hover) {
  --tw-text-opacity: 1;
  color: rgb(64 0 165 / var(--tw-text-opacity))
}

@media (min-width: 768px) {
  .workflow-tabs-wrapper :is(.md\:w-2\/5) {
    width: 40%
  }
}