body #lanyard_root * .\!ketch-p-0 {
  padding: 16px 0 !important;
}

body #lanyard_root * .ketch-p-4 {
  padding: 16px 0 !important;
}

body #lanyard_root * .icon svg {
  height: auto;
}

header.header-wrapper {
  display: none;
}

.appear breadcrumb {
  display: none;
}

footer.footer-wrapper.bg-danaherpurple-50 {
  display: none;
}

body #lanyard_root * :is(.ketch-peer:hover ~ .peer-hover\:after\:ketch-bg-gradient-to-r)::after {
  content: var(--tw-content);
  background-image: none !important;
}