.offer-advertisement-wrapper :is(.block) {
  display: block
}

.offer-advertisement-wrapper :is(.flex) {
  display: flex
}

.offer-advertisement-wrapper :is(.items-center) {
  align-items: center
}

.offer-advertisement-wrapper :is(.justify-between) {
  justify-content: space-between
}

.offer-advertisement-wrapper :is(.bg-danaherlightblue-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(239 251 253 / var(--tw-bg-opacity))
}

.offer-advertisement-wrapper :is(.bg-danaherpurple-800) {
  --tw-bg-opacity: 1;
  background-color: rgb(64 0 165 / var(--tw-bg-opacity))
}

.offer-advertisement-wrapper :is(.bg-gray-200) {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity))
}

.offer-advertisement-wrapper :is(.px-12) {
  padding-left: 3rem;
  padding-right: 3rem
}

.offer-advertisement-wrapper :is(.py-8) {
  padding-top: 2rem;
  padding-bottom: 2rem
}

.offer-advertisement-wrapper :is(.text-2xl) {
  font-size: 1.5rem;
  line-height: 2rem
}

.offer-advertisement-wrapper :is(.text-base) {
  font-size: 1rem;
  line-height: 1.5rem
}

.offer-advertisement-wrapper :is(.font-bold) {
  font-weight: 700
}

.offer-advertisement-wrapper :is(.font-normal) {
  font-weight: 200
}

.offer-advertisement-wrapper :is(.leading-loose) {
  line-height: 2
}

.offer-advertisement-wrapper :is(.leading-snug) {
  line-height: 1.375
}

.offer-advertisement-wrapper :is(.text-black) {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.offer-advertisement-wrapper :is(.text-violet-600) {
  --tw-text-opacity: 1;
  color: rgb(124 58 237 / var(--tw-text-opacity))
}