.dhls-container {
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 48px
}

.font-medium p {
  font-weight: 400
}

.offer-advertisement-wrapper :is(.mx-auto) {
  margin-left: auto;
  margin-right: auto
}

.offer-advertisement-wrapper :is(.mt-12) {
  margin-top: 3rem
}

.offer-advertisement-wrapper :is(.block) {
  display: block
}

.offer-advertisement-wrapper :is(.flex) {
  display: flex
}

.offer-advertisement-wrapper :is(.inline-flex) {
  display: inline-flex
}

.offer-advertisement-wrapper :is(.w-full) {
  width: 100%
}

.offer-advertisement-wrapper :is(.flex-col) {
  flex-direction: column
}

.offer-advertisement-wrapper :is(.items-start) {
  align-items: flex-start
}

.offer-advertisement-wrapper :is(.items-center) {
  align-items: center
}

.offer-advertisement-wrapper :is(.justify-start) {
  justify-content: flex-start
}

.offer-advertisement-wrapper :is(.gap-1) {
  gap: 0.25rem
}

.offer-advertisement-wrapper :is(.gap-4) {
  gap: 1rem
}

.offer-advertisement-wrapper :is(.gap-6) {
  gap: 1.5rem
}

.offer-advertisement-wrapper :is(.gap-y-6) {
  row-gap: 1.5rem
}

.offer-advertisement-wrapper :is(.self-stretch) {
  align-self: stretch
}

.offer-advertisement-wrapper :is(.bg-danaherlightblue-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(239 251 253 / var(--tw-bg-opacity))
}

.offer-advertisement-wrapper :is(.bg-danaherpurple-800) {
  --tw-bg-opacity: 1;
  background-color: rgb(64 0 165 / var(--tw-bg-opacity))
}

.offer-advertisement-wrapper :is(.bg-gray-100) {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}

.offer-advertisement-wrapper :is(.bg-gray-200) {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity))
}

.offer-advertisement-wrapper :is(.fill-current) {
  fill: currentColor
}

.offer-advertisement-wrapper :is(.p-6) {
  padding: 1.5rem
}

.offer-advertisement-wrapper :is(.px-5) {
  padding-left: 1.25rem;
  padding-right: 1.25rem
}

.offer-advertisement-wrapper :is(.py-8) {
  padding-top: 2rem;
  padding-bottom: 2rem
}

.offer-advertisement-wrapper :is(.pl-1) {
  padding-left: 0.25rem
}

.offer-advertisement-wrapper :is(.pl-1\.5) {
  padding-left: 0.375rem
}

.offer-advertisement-wrapper :is(.text-2xl) {
  font-size: 1.5rem;
  line-height: 2rem
}

.offer-advertisement-wrapper :is(.text-base) {
  font-size: 1rem;
  line-height: 1.5rem
}

.offer-advertisement-wrapper :is(.font-bold) {
  font-weight: 700
}

.offer-advertisement-wrapper :is(.font-medium) {
  font-weight: 400
}

.offer-advertisement-wrapper :is(.leading-snug) {
  line-height: 1.375
}

.offer-advertisement-wrapper :is(.text-black) {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.offer-advertisement-wrapper :is(.text-danaherpurple-500) {
  --tw-text-opacity: 1;
  color: rgb(117 35 255 / var(--tw-text-opacity))
}

.offer-advertisement-wrapper :is(.hover\:text-danaherpurple-800:hover) {
  --tw-text-opacity: 1;
  color: rgb(64 0 165 / var(--tw-text-opacity))
}

@media (min-width: 768px) {
  .offer-advertisement-wrapper :is(.md\:flex-row) {
    flex-direction: row
  }

  .offer-advertisement-wrapper :is(.md\:items-center) {
    align-items: center
  }

  .offer-advertisement-wrapper :is(.md\:justify-between) {
    justify-content: space-between
  }

  .offer-advertisement-wrapper :is(.md\:px-12) {
    padding-left: 3rem;
    padding-right: 3rem
  }
}

@media (min-width: 1024px) {
  .offer-advertisement-wrapper :is(.lg\:px-0) {
    padding-left: 0px;
    padding-right: 0px
  }
}

.offer-advertisement-wrapper :is(.\[\&_svg\>use\]\:stroke-danaherpurple-500 svg>use) {
  stroke: #7523FF
}

.offer-advertisement-wrapper :is(.group:hover .group-hover\:\[\&_svg\>use\]\:stroke-danaherpurple-800 svg>use) {
  stroke: #4000A5
}