.bg-danaherpurple-50 {
  background-color: #EADEFF
}

.side-nav-wrapper :is(.mb-2) {
  margin-bottom: 0.5rem
}

.side-nav-wrapper :is(.block) {
  display: block
}

.side-nav-wrapper :is(.flex) {
  display: flex
}

.side-nav-wrapper :is(.hidden) {
  display: none
}

.side-nav-wrapper :is(.w-full) {
  width: 100%
}

.side-nav-wrapper :is(.flex-1) {
  flex: 1 1 0%
}

.side-nav-wrapper :is(.flex-col) {
  flex-direction: column
}

.side-nav-wrapper :is(.items-start) {
  align-items: flex-start
}

.side-nav-wrapper :is(.gap-3) {
  gap: 0.75rem
}

.side-nav-wrapper :is(.space-y-4 > :not([hidden]) ~ :not([hidden])) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse))
}

.side-nav-wrapper :is(.border-b) {
  border-bottom-width: 1px
}

.side-nav-wrapper :is(.border-gray-300) {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity))
}

.side-nav-wrapper :is(.bg-danaherlightblue-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(239 251 253 / var(--tw-bg-opacity))
}

.side-nav-wrapper :is(.bg-danaherpurple-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(234 222 255 / var(--tw-bg-opacity))
}

.side-nav-wrapper :is(.px-0) {
  padding-left: 0px;
  padding-right: 0px
}

.side-nav-wrapper :is(.py-4) {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.side-nav-wrapper :is(.pl-2) {
  padding-left: 0.5rem
}

.side-nav-wrapper :is(.pl-2\.5) {
  padding-left: 0.625rem
}

.side-nav-wrapper :is(.pr-2) {
  padding-right: 0.5rem
}

.side-nav-wrapper :is(.pt-0) {
  padding-top: 0px
}

.side-nav-wrapper :is(.pt-6) {
  padding-top: 1.5rem
}

.side-nav-wrapper :is(.text-base) {
  font-size: 1rem;
  line-height: 1.5rem
}

.side-nav-wrapper :is(.text-xl) {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.side-nav-wrapper :is(.font-bold) {
  font-weight: 700
}

.side-nav-wrapper :is(.font-normal) {
  font-weight: 200
}

.side-nav-wrapper :is(.filter) {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.hover\:bg-danaherpurple-50:hover {
  background-color: #EADEFF
}

.side-nav-wrapper :is(.hover\:bg-danaherpurple-25:hover) {
  --tw-bg-opacity: 1;
  background-color: rgb(245 239 255 / var(--tw-bg-opacity))
}

.side-nav-wrapper :is(.hover\:bg-danaherpurple-50:hover) {
  --tw-bg-opacity: 1;
  background-color: rgb(234 222 255 / var(--tw-bg-opacity))
}

@media (min-width: 1024px) {
  .side-nav-wrapper :is(.lg\:col-span-8) {
    grid-column: span 8 / span 8
  }

  .side-nav-wrapper :is(.lg\:col-start-5) {
    grid-column-start: 5
  }

  .side-nav-wrapper :is(.lg\:block) {
    display: block
  }

  .side-nav-wrapper :is(.lg\:pt-6) {
    padding-top: 1.5rem
  }
}