.topic main > .side-nav-container, .topichub main > .side-nav-container {
  display: none
}

@media (min-width: 1024px) {
  .topic main > .side-nav-container, .topichub main > .side-nav-container {
    grid-column: span 1 / span 1 !important;
    grid-column-start: 1 !important;
    grid-row: span 6 / span 6 !important;
    display: grid;
    padding-left: 1.5rem !important
  }

  .topic main > .side-nav-container + .section, .topichub main > .side-nav-container + .section {
    padding-top: 1rem !important
  }
}

.topic main, .topichub main {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  max-width: 80rem;
  padding-left: 1rem;
  padding-right: 1rem
}

@media (min-width: 1024px) {
  .topic main, .topichub main {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    padding-left: 0px;
    padding-right: 0px
  }
}

.topic main > div, .topichub main > div {
  margin-bottom: 0.5rem;
  flex: 1 1 0%
}

.topic main > div > :not([hidden]) ~ :not([hidden]), .topichub main > div > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse))
}

.topic main > div, .topichub main > div {
  padding: 0px;
  padding-left: 0px
}

@media (min-width: 1024px) {
  .topic main > div, .topichub main > div {
    grid-column: span 3 / span 3;
    grid-column-start: 2;
    padding-left: 3rem
  }
}