.container {
  width: 100%
}

@media (min-width: 640px) {
  .container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px
  }
}

.carousel-wrapper :is(.visible) {
  visibility: visible
}

.carousel-wrapper :is(.absolute) {
  position: absolute
}

.carousel-wrapper :is(.relative) {
  position: relative
}

.carousel-wrapper :is(.left-0) {
  left: 0px
}

.carousel-wrapper :is(.top-0) {
  top: 0px
}

.carousel-wrapper :is(.mb-4) {
  margin-bottom: 1rem
}

.carousel-wrapper :is(.mr-2) {
  margin-right: 0.5rem
}

.carousel-wrapper :is(.mt-4) {
  margin-top: 1rem
}

.carousel-wrapper :is(.mt-8) {
  margin-top: 2rem
}

.carousel-wrapper :is(.block) {
  display: block
}

.carousel-wrapper :is(.flex) {
  display: flex
}

.carousel-wrapper :is(.inline-flex) {
  display: inline-flex
}

.carousel-wrapper :is(.grid) {
  display: grid
}

.carousel-wrapper :is(.hidden) {
  display: none
}

.carousel-wrapper :is(.h-10) {
  height: 2.5rem
}

.carousel-wrapper :is(.h-24) {
  height: 6rem
}

.carousel-wrapper :is(.h-40) {
  height: 10rem
}

.carousel-wrapper :is(.h-44) {
  height: 11rem
}

.carousel-wrapper :is(.h-5) {
  height: 1.25rem
}

.carousel-wrapper :is(.h-6) {
  height: 1.5rem
}

.carousel-wrapper :is(.h-8) {
  height: 2rem
}

.carousel-wrapper :is(.max-h-24) {
  max-height: 6rem
}

.carousel-wrapper :is(.w-10) {
  width: 2.5rem
}

.carousel-wrapper :is(.w-14) {
  width: 3.5rem
}

.carousel-wrapper :is(.w-24) {
  width: 6rem
}

.carousel-wrapper :is(.w-5) {
  width: 1.25rem
}

.carousel-wrapper :is(.w-6) {
  width: 1.5rem
}

.carousel-wrapper :is(.w-64) {
  width: 16rem
}

.carousel-wrapper :is(.w-72) {
  width: 18rem
}

.carousel-wrapper :is(.w-8) {
  width: 2rem
}

.carousel-wrapper :is(.w-full) {
  width: 100%
}

.carousel-wrapper :is(.flex-1) {
  flex: 1 1 0%
}

.carousel-wrapper :is(.flex-grow) {
  flex-grow: 1
}

.carousel-wrapper :is(.cursor-not-allowed) {
  cursor: not-allowed
}

.carousel-wrapper :is(.cursor-pointer) {
  cursor: pointer
}

.carousel-wrapper :is(.flex-col) {
  flex-direction: column
}

.carousel-wrapper :is(.flex-wrap) {
  flex-wrap: wrap
}

.carousel-wrapper :is(.items-start) {
  align-items: flex-start
}

.carousel-wrapper :is(.items-end) {
  align-items: flex-end
}

.carousel-wrapper :is(.items-center) {
  align-items: center
}

.carousel-wrapper :is(.justify-start) {
  justify-content: flex-start
}

.carousel-wrapper :is(.justify-end) {
  justify-content: flex-end
}

.carousel-wrapper :is(.justify-center) {
  justify-content: center
}

.carousel-wrapper :is(.justify-between) {
  justify-content: space-between
}

.carousel-wrapper :is(.gap-1) {
  gap: 0.25rem
}

.carousel-wrapper :is(.gap-2) {
  gap: 0.5rem
}

.carousel-wrapper :is(.gap-2\.5) {
  gap: 0.625rem
}

.carousel-wrapper :is(.gap-3) {
  gap: 0.75rem
}

.carousel-wrapper :is(.gap-4) {
  gap: 1rem
}

.carousel-wrapper :is(.gap-5) {
  gap: 1.25rem
}

.carousel-wrapper :is(.gap-6) {
  gap: 1.5rem
}

.carousel-wrapper :is(.self-stretch) {
  align-self: stretch
}

.carousel-wrapper :is(.overflow-hidden) {
  overflow: hidden
}

.carousel-wrapper :is(.whitespace-nowrap) {
  white-space: nowrap
}

.carousel-wrapper :is(.rounded-\[20px\]) {
  border-radius: 20px
}

.carousel-wrapper :is(.rounded-md) {
  border-radius: 0.375rem
}

.carousel-wrapper :is(.rounded-bl-\[20px\]) {
  border-bottom-left-radius: 20px
}

.carousel-wrapper :is(.rounded-br-\[20px\]) {
  border-bottom-right-radius: 20px
}

.carousel-wrapper :is(.rounded-tl-\[20px\]) {
  border-top-left-radius: 20px
}

.carousel-wrapper :is(.rounded-tr-\[20px\]) {
  border-top-right-radius: 20px
}

.carousel-wrapper :is(.border) {
  border-width: 1px
}

.carousel-wrapper :is(.border-gray-200) {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity))
}

.carousel-wrapper :is(.bg-danaherlightblue-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(239 251 253 / var(--tw-bg-opacity))
}

.carousel-wrapper :is(.bg-danaherpurple-800) {
  --tw-bg-opacity: 1;
  background-color: rgb(64 0 165 / var(--tw-bg-opacity))
}

.carousel-wrapper :is(.bg-gray-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity))
}

.carousel-wrapper :is(.bg-violet-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(245 243 255 / var(--tw-bg-opacity))
}

.carousel-wrapper :is(.bg-violet-600) {
  --tw-bg-opacity: 1;
  background-color: rgb(124 58 237 / var(--tw-bg-opacity))
}

.carousel-wrapper :is(.bg-white) {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.carousel-wrapper :is(.fill-current) {
  fill: currentColor
}

.carousel-wrapper :is(.object-cover) {
  -o-object-fit: cover;
     object-fit: cover
}

.carousel-wrapper :is(.p-3) {
  padding: 0.75rem
}

.carousel-wrapper :is(.p-6) {
  padding: 1.5rem
}

.carousel-wrapper :is(.px-3) {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.carousel-wrapper :is(.px-4) {
  padding-left: 1rem;
  padding-right: 1rem
}

.carousel-wrapper :is(.px-5) {
  padding-left: 1.25rem;
  padding-right: 1.25rem
}

.carousel-wrapper :is(.py-1) {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.carousel-wrapper :is(.py-1\.5) {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem
}

.carousel-wrapper :is(.py-2) {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.carousel-wrapper :is(.py-3) {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem
}

.carousel-wrapper :is(.py-6) {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem
}

.carousel-wrapper :is(.text-left) {
  text-align: left
}

.carousel-wrapper :is(.text-center) {
  text-align: center
}

.carousel-wrapper :is(.text-right) {
  text-align: right
}

.carousel-wrapper :is(.font-\[\"TWK_Lausanne_Pan\"\]) {
  font-family: "TWK Lausanne Pan"
}

.carousel-wrapper :is(.font-\[\'Inter\'\]) {
  font-family: 'Inter'
}

.carousel-wrapper :is(.font-\[\'TWK_Lausanne_Pan\'\]) {
  font-family: 'TWK Lausanne Pan'
}

.carousel-wrapper :is(.text-2xl) {
  font-size: 1.5rem;
  line-height: 2rem
}

.carousel-wrapper :is(.text-base) {
  font-size: 1rem;
  line-height: 1.5rem
}

.carousel-wrapper :is(.text-sm) {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.carousel-wrapper :is(.text-xl) {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.carousel-wrapper :is(.font-bold) {
  font-weight: 700
}

.carousel-wrapper :is(.font-extralight) {
  font-weight: 200
}

.carousel-wrapper :is(.font-normal) {
  font-weight: 200
}

.carousel-wrapper :is(.leading-7) {
  line-height: 1.75rem
}

.carousel-wrapper :is(.leading-loose) {
  line-height: 2
}

.carousel-wrapper :is(.leading-normal) {
  line-height: 1.5
}

.carousel-wrapper :is(.leading-snug) {
  line-height: 1.375
}

.carousel-wrapper :is(.leading-tight) {
  line-height: 1.25
}

.carousel-wrapper :is(.text-black) {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.carousel-wrapper :is(.text-gray-400) {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity))
}

.carousel-wrapper :is(.text-gray-600) {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity))
}

.carousel-wrapper :is(.text-gray-700) {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity))
}

.carousel-wrapper :is(.text-violet-600) {
  --tw-text-opacity: 1;
  color: rgb(124 58 237 / var(--tw-text-opacity))
}

.carousel-wrapper :is(.text-white) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.carousel-wrapper :is(.shadow-\[0px_1px_2px_0px_rgba\(0\2c 0\2c 0\2c 0\.05\)\]) {
  --tw-shadow: 0px 1px 2px 0px rgba(0,0,0,0.05);
  --tw-shadow-colored: 0px 1px 2px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.carousel-wrapper :is(.shadow-sm) {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.carousel-wrapper :is(.outline) {
  outline-style: solid
}

.carousel-wrapper :is(.outline-1) {
  outline-width: 1px
}

.carousel-wrapper :is(.outline-offset-\[-1px\]) {
  outline-offset: -1px
}

.carousel-wrapper :is(.outline-gray-300) {
  outline-color: #d1d5db
}

.carousel-wrapper :is(.outline-gray-900) {
  outline-color: #111827
}

.carousel-wrapper :is(.outline-violet-600) {
  outline-color: #7c3aed
}

.carousel-wrapper :is(.hover\:bg-gray-100:hover) {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}

.carousel-wrapper :is(.hover\:underline:hover) {
  text-decoration-line: underline
}

@media (min-width: 640px) {
  .carousel-wrapper :is(.sm\:w-\[calc\(50\%-10px\)\]) {
    width: calc(50% - 10px)
  }

  .carousel-wrapper :is(.sm\:flex-row) {
    flex-direction: row
  }

  .carousel-wrapper :is(.sm\:flex-nowrap) {
    flex-wrap: nowrap
  }
}

@media (min-width: 768px) {
  .carousel-wrapper :is(.md\:flex) {
    display: flex
  }

  .carousel-wrapper :is(.md\:hidden) {
    display: none
  }

  .carousel-wrapper :is(.md\:flex-nowrap) {
    flex-wrap: nowrap
  }
}

@media (min-width: 1024px) {
  .carousel-wrapper :is(.lg\:w-\[calc\(25\%-15px\)\]) {
    width: calc(25% - 15px)
  }
}

.carousel-wrapper :is(.\[\&_svg\>use\]\:stroke-current svg>use) {
  stroke: currentColor
}

.carousel-wrapper :is(.\[\&_svg\>use\]\:stroke-gray-600 svg>use) {
  stroke: #4b5563
}

.carousel-wrapper :is(.\[\&_svg\>use\]\:stroke-white svg>use) {
  stroke: #fff
}