.bg-danaherpurple-50 {
  background-color: #EADEFF;
}

.btn-lg {
  padding-top: .625rem;
  padding-bottom: .625rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.eyebrow {
  color: #4000A5;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.75rem;
}

.btn-outline-trending-brand {
  color: #7523FF;
  background-color: rgb(255 255 255);
  border-color: #7523FF;
  border-width: 2px;
}

.btn-outline-trending-brand:hover {
  color: rgb(255 255 255);
  background-color: #7523FF;
}

.carousel-wrapper .carousel, .product-recommendations-wrapper .product-recommendations {
  scrollbar-width: none;
}

.carousel-wrapper :is(.sr-only) {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.carousel-wrapper :is(.absolute) {
  position: absolute;
}

.carousel-wrapper :is(.relative) {
  position: relative;
}

.carousel-wrapper :is(.inset-0) {
  inset: 0px;
}

.carousel-wrapper :is(.bottom-0) {
  bottom: 0px;
}

.carousel-wrapper :is(.z-10) {
  z-index: 10;
}

.carousel-wrapper :is(.m-0) {
  margin: 0px;
}

.carousel-wrapper :is(.mx-auto) {
  margin-left: auto;
  margin-right: auto;
}

.carousel-wrapper :is(.mt-10) {
  margin-top: 2.5rem;
}

.carousel-wrapper :is(.mt-6) {
  margin-top: 1.5rem;
}

.carousel-wrapper :is(.block) {
  display: block;
}

.carousel-wrapper :is(.flex) {
  display: flex;
}

.carousel-wrapper :is(.inline-flex) {
  display: inline-flex;
}

.carousel-wrapper :is(.grid) {
  display: grid;
}

.carousel-wrapper :is(.hidden) {
  display: none;
}

.carousel-wrapper :is(.h-3) {
  height: 0.75rem;
}

.carousel-wrapper :is(.h-48) {
  height: 12rem;
}

.carousel-wrapper :is(.h-5) {
  height: 1.25rem;
}

.carousel-wrapper :is(.h-8) {
  height: 2rem;
}

.carousel-wrapper :is(.h-auto) {
  height: auto;
}

.carousel-wrapper :is(.h-full) {
  height: 100%;
}

.carousel-wrapper :is(.min-h-\[30rem\]) {
  min-height: 30rem;
}

.carousel-wrapper :is(.w-3) {
  width: 0.75rem;
}

.carousel-wrapper :is(.w-5) {
  width: 1.25rem;
}

.carousel-wrapper :is(.w-8) {
  width: 2rem;
}

.carousel-wrapper :is(.w-full) {
  width: 100%;
}

.carousel-wrapper :is(.max-w-7xl) {
  max-width: 80rem;
}

.carousel-wrapper :is(.transform) {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.carousel-wrapper :is(.cursor-pointer) {
  cursor: pointer;
}

.carousel-wrapper :is(.snap-x) {
  scroll-snap-type: x var(--tw-scroll-snap-strictness);
}

.carousel-wrapper :is(.snap-mandatory) {
  --tw-scroll-snap-strictness: mandatory;
}

.carousel-wrapper :is(.snap-start) {
  scroll-snap-align: start;
}

.carousel-wrapper :is(.list-none) {
  list-style-type: none;
}

.carousel-wrapper :is(.grid-flow-col) {
  grid-auto-flow: column;
}

.carousel-wrapper :is(.flex-col) {
  flex-direction: column;
}

.carousel-wrapper :is(.items-center) {
  align-items: center;
}

.carousel-wrapper :is(.justify-center) {
  justify-content: center;
}

.carousel-wrapper :is(.gap-5) {
  gap: 1.25rem;
}

.carousel-wrapper :is(.gap-6) {
  gap: 1.5rem;
}

.carousel-wrapper :is(.gap-x-2) {
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}

.carousel-wrapper :is(.gap-x-4) {
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}

.carousel-wrapper :is(.space-x-2 > :not([hidden]) ~ :not([hidden])) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.carousel-wrapper :is(.space-x-3 > :not([hidden]) ~ :not([hidden])) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.75rem * var(--tw-space-x-reverse));
  margin-left: calc(0.75rem * calc(1 - var(--tw-space-x-reverse)));
}

.carousel-wrapper :is(.overflow-hidden) {
  overflow: hidden;
}

.carousel-wrapper :is(.overflow-x-auto) {
  overflow-x: auto;
}

.carousel-wrapper :is(.scroll-smooth) {
  scroll-behavior: smooth;
}

.carousel-wrapper :is(.rounded-full) {
  border-radius: 9999px;
}

.carousel-wrapper :is(.rounded-md) {
  border-radius: 0.375rem;
}

.carousel-wrapper :is(.border-b) {
  border-bottom-width: 1px;
}

.carousel-wrapper :is(.border-t) {
  border-top-width: 1px;
}

.carousel-wrapper :is(.border-solid) {
  border-style: solid;
}

.carousel-wrapper :is(.border-black) {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity));
}

.carousel-wrapper :is(.bg-danaherlightblue-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(239 251 253 / var(--tw-bg-opacity));
}

.carousel-wrapper :is(.bg-danaherpurple-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(234 222 255 / var(--tw-bg-opacity));
}

.carousel-wrapper :is(.bg-white) {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.carousel-wrapper :is(.object-cover) {
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel-wrapper :is(.\!px-6) {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

.carousel-wrapper :is(.\!py-16) {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}

.carousel-wrapper :is(.px-4) {
  padding-left: 1rem;
  padding-right: 1rem;
}

.carousel-wrapper :is(.px-6) {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.carousel-wrapper :is(.py-8) {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.carousel-wrapper :is(.text-2xl) {
  font-size: 1.5rem;
  line-height: 2rem;
}

.carousel-wrapper :is(.text-base) {
  font-size: 1rem;
  line-height: 1.5rem;
}

.carousel-wrapper :is(.text-xl) {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.carousel-wrapper :is(.font-bold) {
  font-weight: 700;
}

.carousel-wrapper :is(.font-extralight) {
  font-weight: 200;
}

.carousel-wrapper :is(.font-medium) {
  font-weight: 500;
}

.carousel-wrapper :is(.leading-6) {
  line-height: 1.5rem;
}

.carousel-wrapper :is(.leading-7) {
  line-height: 1.75rem;
}

.carousel-wrapper :is(.tracking-tight) {
  letter-spacing: -0.025em;
}

.carousel-wrapper :is(.tracking-wide) {
  letter-spacing: 0.025em;
}

.carousel-wrapper :is(.text-danaherpurple-500) {
  --tw-text-opacity: 1;
  color: rgb(117 35 255 / var(--tw-text-opacity));
}

.carousel-wrapper :is(.filter) {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.carousel-wrapper :is(.transition) {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.carousel-wrapper :is(.transition-transform) {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.carousel-wrapper :is(.ease-in-out) {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.carousel-wrapper :is(.focus\:outline-none:focus) {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.carousel-wrapper :is(.group:hover .group-hover\:translate-x-1) {
  --tw-translate-x: 0.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@media (min-width: 768px) {
  .carousel-wrapper :is(.md\:absolute) {
    position: absolute;
  }

  .carousel-wrapper :is(.md\:bottom-16) {
    bottom: 4rem;
  }

  .carousel-wrapper :is(.md\:h-\[35rem\]) {
    height: 35rem;
  }

  .carousel-wrapper :is(.md\:min-h-\[37rem\]) {
    min-height: 37rem;
  }

  .carousel-wrapper :is(.md\:flex-row) {
    flex-direction: row;
  }

  .carousel-wrapper :is(.md\:text-4xl) {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .carousel-wrapper :is(.md\:leading-\[44px\]) {
    line-height: 44px;
  }

  .carousel-wrapper :is(.md\:tracking-tight) {
    letter-spacing: -0.025em;
  }
}

@media (min-width: 1024px) {
  .carousel-wrapper :is(.lg\:absolute) {
    position: absolute;
  }

  .carousel-wrapper :is(.lg\:inset-y-0) {
    top: 0px;
    bottom: 0px;
  }

  .carousel-wrapper :is(.lg\:right-0) {
    right: 0px;
  }

  .carousel-wrapper :is(.lg\:m-auto) {
    margin: auto;
  }

  .carousel-wrapper :is(.lg\:w-1\/2) {
    width: 50%;
  }

  .carousel-wrapper :is(.lg\:px-8) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .carousel-wrapper :is(.lg\:py-0) {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .carousel-wrapper :is(.lg\:text-\[40px\]) {
    font-size: 40px;
  }
}

@media (min-width: 1280px) {
  .carousel-wrapper :is(.xl\:pr-10) {
    padding-right: 2.5rem;
  }
}