.table {
  width: 100%;
  overflow-x: auto;
}

.table table {
  width: 100%;
  max-width: 100%;
  font-size: var(--body-font-size-xs);
}

@media (min-width: 600px) {
  .table table {
    font-size: var(--body-font-size-s);
  }
}

@media (min-width: 900px) {
  .table table {
    font-size: var(--body-font-size-m);
  }
}

.table table th {
  font-weight: 400;
}

.table table th, .table table td {
  text-align: left;
}
