.blog main {
  @apply mx-auto max-w-7xl flex flex-row gap-10 max-w-7xl mx-auto w-full bg-white;
}

.blog main .section {
  @apply py-10 sm:py-8 md:px-5 empty:hidden;
}

.blog main .default-content-wrapper h1:first-child {
  @apply text-gray-900 font-extrabold text-4xl mt-0 mb-2;
}

.blog main .default-content-wrapper p:not(:first-of-type) {
  @apply mt-3 leading-7 text-base text-danahergray-700;
}

.blog main .default-content-wrapper img:first-child {
  @apply mt-2 mb-4;
}

.blog main p {
  @apply mt-3 leading-7 href-text text-base text-danahergray-700;
}

.blog main .default-content-wrapper p {
  @apply !px-2;
}

.blog main a {
  @apply font-semibold;
}

.blog main p.button-container>a {
  @apply bg-transparent no-underline text-lg px-5 py-3 text-danaherpurple-500 border border-danaherpurple-500 leading-5 rounded-full font-medium mt-6 ease-in-out duration-150 transition-all;
}

.blog main p.button-container>a:hover {
  @apply bg-danaherpurple-500 text-white;
}

.blog main .default-content-wrapper ol, .blog main .default-content-wrapper ul {
  @apply mt-3 leading-7 href-text text-base text-danahergray-700 ml-12 list-outside;
}

.blog main .default-content-wrapper ol>li, .blog main .default-content-wrapper ul>li {
  @apply mb-1
}

.blog main .default-content-wrapper ol {
  @apply list-decimal;
}

.blog main .default-content-wrapper ul {
  @apply list-disc;
}

.blog main .popular-articles {
  @apply lg:w-96 hidden lg:block flex-shrink-0 py-10 bg-danaherlightblue-50;
}

.blog main .table {
  @apply py-6
}