.container {
  width: 100%
}

@media (min-width: 640px) {
  .container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px
  }
}

.bg-danaherpurple-50 {
  background-color: #EADEFF
}

.eyebrow-sm {
  color: #4000A5;
  font-size: 0.875rem;
  line-height: 1.25rem;
  opacity: 1
}

.card-list-wrapper :is(.relative) {
  position: relative
}

.card-list-wrapper :is(.col-span-1) {
  grid-column: span 1 / span 1
}

.card-list-wrapper :is(.mx-auto) {
  margin-left: auto;
  margin-right: auto
}

.card-list-wrapper :is(.my-2) {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

.card-list-wrapper :is(.\!mb-4) {
  margin-bottom: 1rem !important
}

.card-list-wrapper :is(.-mt-px) {
  margin-top: -1px
}

.card-list-wrapper :is(.mb-3) {
  margin-bottom: 0.75rem
}

.card-list-wrapper :is(.mb-4) {
  margin-bottom: 1rem
}

.card-list-wrapper :is(.mt-3) {
  margin-top: 0.75rem
}

.card-list-wrapper :is(.mt-4) {
  margin-top: 1rem
}

.card-list-wrapper :is(.mt-8) {
  margin-top: 2rem
}

.card-list-wrapper :is(.mt-auto) {
  margin-top: auto
}

.card-list-wrapper :is(.\!line-clamp-3) {
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 3 !important
}

.card-list-wrapper :is(.line-clamp-3) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3
}

.card-list-wrapper :is(.line-clamp-4) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4
}

.card-list-wrapper :is(.block) {
  display: block
}

.card-list-wrapper :is(.inline-block) {
  display: inline-block
}

.card-list-wrapper :is(.flex) {
  display: flex
}

.card-list-wrapper :is(.inline-flex) {
  display: inline-flex
}

.card-list-wrapper :is(.grid) {
  display: grid
}

.card-list-wrapper :is(.hidden) {
  display: none
}

.card-list-wrapper :is(.\!h-20) {
  height: 5rem !important
}

.card-list-wrapper :is(.\!h-24) {
  height: 6rem !important
}

.card-list-wrapper :is(.h-20) {
  height: 5rem
}

.card-list-wrapper :is(.h-full) {
  height: 100%
}

.card-list-wrapper :is(.w-0) {
  width: 0px
}

.card-list-wrapper :is(.w-full) {
  width: 100%
}

.card-list-wrapper :is(.max-w-7xl) {
  max-width: 80rem
}

.card-list-wrapper :is(.max-w-xl) {
  max-width: 36rem
}

.card-list-wrapper :is(.flex-1) {
  flex: 1 1 0%
}

.card-list-wrapper :is(.grow) {
  flex-grow: 1
}

.card-list-wrapper :is(.transform) {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.card-list-wrapper :is(.grid-cols-1) {
  grid-template-columns: repeat(1, minmax(0, 1fr))
}

.card-list-wrapper :is(.flex-col) {
  flex-direction: column
}

.card-list-wrapper :is(.flex-wrap) {
  flex-wrap: wrap
}

.card-list-wrapper :is(.items-center) {
  align-items: center
}

.card-list-wrapper :is(.justify-end) {
  justify-content: flex-end
}

.card-list-wrapper :is(.justify-center) {
  justify-content: center
}

.card-list-wrapper :is(.justify-between) {
  justify-content: space-between
}

.card-list-wrapper :is(.justify-items-center) {
  justify-items: center
}

.card-list-wrapper :is(.gap-2) {
  gap: 0.5rem
}

.card-list-wrapper :is(.gap-6) {
  gap: 1.5rem
}

.card-list-wrapper :is(.gap-y-0) {
  row-gap: 0px
}

.card-list-wrapper :is(.overflow-hidden) {
  overflow: hidden
}

.card-list-wrapper :is(.\!break-words) {
  overflow-wrap: break-word !important
}

.card-list-wrapper :is(.break-words) {
  overflow-wrap: break-word
}

.card-list-wrapper :is(.rounded-full) {
  border-radius: 9999px
}

.card-list-wrapper :is(.rounded-lg) {
  border-radius: 0.5rem
}

.card-list-wrapper :is(.border) {
  border-width: 1px
}

.card-list-wrapper :is(.border-t) {
  border-top-width: 1px
}

.card-list-wrapper :is(.border-t-2) {
  border-top-width: 2px
}

.card-list-wrapper :is(.border-danaherpurple-500) {
  --tw-border-opacity: 1;
  border-color: rgb(117 35 255 / var(--tw-border-opacity))
}

.card-list-wrapper :is(.bg-danaherlightblue-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(239 251 253 / var(--tw-bg-opacity))
}

.card-list-wrapper :is(.bg-danaherpurple-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(234 222 255 / var(--tw-bg-opacity))
}

.card-list-wrapper :is(.bg-danaherpurple-500) {
  --tw-bg-opacity: 1;
  background-color: rgb(117 35 255 / var(--tw-bg-opacity))
}

.card-list-wrapper :is(.bg-white) {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.card-list-wrapper :is(.\!px-6) {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important
}

.card-list-wrapper :is(.px-4) {
  padding-left: 1rem;
  padding-right: 1rem
}

.card-list-wrapper :is(.px-6) {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.card-list-wrapper :is(.py-0) {
  padding-top: 0px;
  padding-bottom: 0px
}

.card-list-wrapper :is(.py-0\.5) {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem
}

.card-list-wrapper :is(.py-4) {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.card-list-wrapper :is(.py-5) {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem
}

.card-list-wrapper :is(.pb-0) {
  padding-bottom: 0px
}

.card-list-wrapper :is(.pb-4) {
  padding-bottom: 1rem
}

.card-list-wrapper :is(.pl-2) {
  padding-left: 0.5rem
}

.card-list-wrapper :is(.pt-0) {
  padding-top: 0px
}

.card-list-wrapper :is(.pt-4) {
  padding-top: 1rem
}

.card-list-wrapper :is(.text-center) {
  text-align: center
}

.card-list-wrapper :is(.\!text-lg) {
  font-size: 1.125rem !important;
  line-height: 1.75rem !important
}

.card-list-wrapper :is(.\!text-xl) {
  font-size: 1.25rem !important;
  line-height: 1.75rem !important
}

.card-list-wrapper :is(.text-base) {
  font-size: 1rem;
  line-height: 1.5rem
}

.card-list-wrapper :is(.text-sm) {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.card-list-wrapper :is(.\!font-semibold) {
  font-weight: 700 !important
}

.card-list-wrapper :is(.font-extralight) {
  font-weight: 200
}

.card-list-wrapper :is(.font-medium) {
  font-weight: 500
}

.card-list-wrapper :is(.font-semibold) {
  font-weight: 700
}

.card-list-wrapper :is(.leading-5) {
  line-height: 1.25rem
}

.card-list-wrapper :is(.\!text-danahergray-900) {
  --tw-text-opacity: 1 !important;
  color: rgb(17 24 39 / var(--tw-text-opacity)) !important
}

.card-list-wrapper :is(.text-black) {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.card-list-wrapper :is(.text-danaherblue-600) {
  --tw-text-opacity: 1;
  color: rgb(13 49 114 / var(--tw-text-opacity))
}

.card-list-wrapper :is(.text-danahergray-700) {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity))
}

.card-list-wrapper :is(.text-danaherpurple-500) {
  --tw-text-opacity: 1;
  color: rgb(117 35 255 / var(--tw-text-opacity))
}

.card-list-wrapper :is(.text-gray-500) {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity))
}

.card-list-wrapper :is(.text-white) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.card-list-wrapper :is(.shadow-lg) {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.card-list-wrapper :is(.filter) {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.card-list-wrapper :is(.transition) {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.card-list-wrapper :is(.duration-500) {
  transition-duration: 500ms
}

.card-list-wrapper :is(.hover\:scale-105:hover) {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.card-list-wrapper :is(.hover\:border-t-2:hover) {
  border-top-width: 2px
}

.card-list-wrapper :is(.hover\:border-gray-300:hover) {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity))
}

.card-list-wrapper :is(.hover\:bg-danaherpurple-500:hover) {
  --tw-bg-opacity: 1;
  background-color: rgb(117 35 255 / var(--tw-bg-opacity))
}

.card-list-wrapper :is(.hover\:text-gray-700:hover) {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity))
}

.card-list-wrapper :is(.hover\:text-white:hover) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

@media (min-width: 640px) {
  .card-list-wrapper :is(.sm\:grid-cols-2) {
    grid-template-columns: repeat(2, minmax(0, 1fr))
  }

  .card-list-wrapper :is(.sm\:px-0) {
    padding-left: 0px;
    padding-right: 0px
  }
}

@media (min-width: 768px) {
  .card-list-wrapper :is(.md\:mt-12) {
    margin-top: 3rem
  }

  .card-list-wrapper :is(.md\:flex) {
    display: flex
  }

  .card-list-wrapper :is(.md\:grid-cols-2) {
    grid-template-columns: repeat(2, minmax(0, 1fr))
  }

  .card-list-wrapper :is(.md\:py-0) {
    padding-top: 0px;
    padding-bottom: 0px
  }
}

@media (min-width: 1024px) {
  .card-list-wrapper :is(.lg\:grid-cols-3) {
    grid-template-columns: repeat(3, minmax(0, 1fr))
  }

  .card-list-wrapper :is(.lg\:grid-cols-4) {
    grid-template-columns: repeat(4, minmax(0, 1fr))
  }
}