.embed-wrapper :is(.absolute) {
  position: absolute
}

.embed-wrapper :is(.relative) {
  position: relative
}

.embed-wrapper :is(.mx-auto) {
  margin-left: auto;
  margin-right: auto
}

.embed-wrapper :is(.my-8) {
  margin-top: 2rem;
  margin-bottom: 2rem
}

.embed-wrapper :is(.block) {
  display: block
}

.embed-wrapper :is(.flex) {
  display: flex
}

.embed-wrapper :is(.w-full) {
  width: 100%
}

.embed-wrapper :is(.max-w-3xl) {
  max-width: 48rem
}

.embed-wrapper :is(.justify-center) {
  justify-content: center
}

.embed-wrapper :is(.border) {
  border-width: 1px
}

.embed-wrapper :is(.bg-danaherlightblue-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(239 251 253 / var(--tw-bg-opacity))
}

.embed-wrapper :is(.text-center) {
  text-align: center
}

.embed-wrapper :is(.filter) {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}