.container {
  width: 100%
}

@media (min-width: 640px) {
  .container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px
  }
}

.bg-danaherpurple-50 {
  background-color: #EADEFF
}

.product-category-list-wrapper :is(.relative) {
  position: relative
}

.product-category-list-wrapper :is(.col-span-1) {
  grid-column: span 1 / span 1
}

.product-category-list-wrapper :is(.mx-auto) {
  margin-left: auto;
  margin-right: auto
}

.product-category-list-wrapper :is(.my-2) {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

.product-category-list-wrapper :is(.mb-2) {
  margin-bottom: 0.5rem
}

.product-category-list-wrapper :is(.mb-3) {
  margin-bottom: 0.75rem
}

.product-category-list-wrapper :is(.mb-4) {
  margin-bottom: 1rem
}

.product-category-list-wrapper :is(.mt-2) {
  margin-top: 0.5rem
}

.product-category-list-wrapper :is(.mt-3) {
  margin-top: 0.75rem
}

.product-category-list-wrapper :is(.block) {
  display: block
}

.product-category-list-wrapper :is(.inline-block) {
  display: inline-block
}

.product-category-list-wrapper :is(.flex) {
  display: flex
}

.product-category-list-wrapper :is(.grid) {
  display: grid
}

.product-category-list-wrapper :is(.h-24) {
  height: 6rem
}

.product-category-list-wrapper :is(.h-52) {
  height: 13rem
}

.product-category-list-wrapper :is(.w-48) {
  width: 12rem
}

.product-category-list-wrapper :is(.w-full) {
  width: 100%
}

.product-category-list-wrapper :is(.max-w-7xl) {
  max-width: 80rem
}

.product-category-list-wrapper :is(.max-w-xl) {
  max-width: 36rem
}

.product-category-list-wrapper :is(.transform) {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.product-category-list-wrapper :is(.grid-cols-2) {
  grid-template-columns: repeat(2, minmax(0, 1fr))
}

.product-category-list-wrapper :is(.flex-col) {
  flex-direction: column
}

.product-category-list-wrapper :is(.flex-wrap) {
  flex-wrap: wrap
}

.product-category-list-wrapper :is(.justify-center) {
  justify-content: center
}

.product-category-list-wrapper :is(.justify-items-center) {
  justify-items: center
}

.product-category-list-wrapper :is(.gap-2) {
  gap: 0.5rem
}

.product-category-list-wrapper :is(.gap-6) {
  gap: 1.5rem
}

.product-category-list-wrapper :is(.overflow-hidden) {
  overflow: hidden
}

.product-category-list-wrapper :is(.break-words) {
  overflow-wrap: break-word
}

.product-category-list-wrapper :is(.rounded-full) {
  border-radius: 9999px
}

.product-category-list-wrapper :is(.border-l) {
  border-left-width: 1px
}

.product-category-list-wrapper :is(.border-danahergray-300) {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity))
}

.product-category-list-wrapper :is(.bg-danaherlightblue-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(239 251 253 / var(--tw-bg-opacity))
}

.product-category-list-wrapper :is(.bg-danaherpurple-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(234 222 255 / var(--tw-bg-opacity))
}

.product-category-list-wrapper :is(.bg-danaherpurple-500) {
  --tw-bg-opacity: 1;
  background-color: rgb(117 35 255 / var(--tw-bg-opacity))
}

.product-category-list-wrapper :is(.bg-danaherpurple-800) {
  --tw-bg-opacity: 1;
  background-color: rgb(64 0 165 / var(--tw-bg-opacity))
}

.product-category-list-wrapper :is(.bg-white) {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.product-category-list-wrapper :is(.object-cover) {
  -o-object-fit: cover;
     object-fit: cover
}

.product-category-list-wrapper :is(.px-1) {
  padding-left: 0.25rem;
  padding-right: 0.25rem
}

.product-category-list-wrapper :is(.px-4) {
  padding-left: 1rem;
  padding-right: 1rem
}

.product-category-list-wrapper :is(.py-1) {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.product-category-list-wrapper :is(.py-4) {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.product-category-list-wrapper :is(.\!pb-0) {
  padding-bottom: 0px !important
}

.product-category-list-wrapper :is(.pl-6) {
  padding-left: 1.5rem
}

.product-category-list-wrapper :is(.pr-6) {
  padding-right: 1.5rem
}

.product-category-list-wrapper :is(.pr-8) {
  padding-right: 2rem
}

.product-category-list-wrapper :is(.text-center) {
  text-align: center
}

.product-category-list-wrapper :is(.text-sm) {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.product-category-list-wrapper :is(.font-bold) {
  font-weight: 700
}

.product-category-list-wrapper :is(.font-medium) {
  font-weight: 500
}

.product-category-list-wrapper :is(.font-semibold) {
  font-weight: 700
}

.product-category-list-wrapper :is(.leading-5) {
  line-height: 1.25rem
}

.product-category-list-wrapper :is(.text-danahergray-900) {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity))
}

.product-category-list-wrapper :is(.text-danaherpurple-500) {
  --tw-text-opacity: 1;
  color: rgb(117 35 255 / var(--tw-text-opacity))
}

.product-category-list-wrapper :is(.text-white) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.product-category-list-wrapper :is(.filter) {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.product-category-list-wrapper :is(.transition) {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.product-category-list-wrapper :is(.duration-500) {
  transition-duration: 500ms
}

.product-category-list-wrapper :is(.hover\:scale-105:hover) {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.product-category-list-wrapper :is(.hover\:bg-gray-100:hover) {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}

.product-category-list-wrapper :is(.hover\:text-gray-500:hover) {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity))
}

@media (min-width: 640px) {
  .product-category-list-wrapper :is(.sm\:px-0) {
    padding-left: 0px;
    padding-right: 0px
  }
}

@media (min-width: 768px) {
  .product-category-list-wrapper :is(.md\:grid-cols-3) {
    grid-template-columns: repeat(3, minmax(0, 1fr))
  }
}

@media (min-width: 1024px) {
  .product-category-list-wrapper :is(.lg\:w-44) {
    width: 11rem
  }

  .product-category-list-wrapper :is(.lg\:grid-cols-4) {
    grid-template-columns: repeat(4, minmax(0, 1fr))
  }

  .product-category-list-wrapper :is(.lg\:px-4) {
    padding-left: 1rem;
    padding-right: 1rem
  }

  .product-category-list-wrapper :is(.lg\:pr-0) {
    padding-right: 0px
  }
}

@media (min-width: 1280px) {
  .product-category-list-wrapper :is(.xl\:grid-cols-6) {
    grid-template-columns: repeat(6, minmax(0, 1fr))
  }
}