.carousel-wrapper .carousel, .product-recommendations-wrapper .product-recommendations {
  scrollbar-width: none
}

.related-category-wrapper :is(.relative) {
  position: relative
}

.related-category-wrapper :is(.mb-4) {
  margin-bottom: 1rem
}

.related-category-wrapper :is(.block) {
  display: block
}

.related-category-wrapper :is(.flex) {
  display: flex
}

.related-category-wrapper :is(.inline-flex) {
  display: inline-flex
}

.related-category-wrapper :is(.h-10) {
  height: 2.5rem
}

.related-category-wrapper :is(.h-40) {
  height: 10rem
}

.related-category-wrapper :is(.h-52) {
  height: 13rem
}

.related-category-wrapper :is(.w-10) {
  width: 2.5rem
}

.related-category-wrapper :is(.w-72) {
  width: 18rem
}

.related-category-wrapper :is(.w-full) {
  width: 100%
}

.related-category-wrapper :is(.flex-1) {
  flex: 1 1 0%
}

.related-category-wrapper :is(.transform) {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.related-category-wrapper :is(.cursor-pointer) {
  cursor: pointer
}

.related-category-wrapper :is(.flex-col) {
  flex-direction: column
}

.related-category-wrapper :is(.flex-wrap) {
  flex-wrap: wrap
}

.related-category-wrapper :is(.items-start) {
  align-items: flex-start
}

.related-category-wrapper :is(.items-center) {
  align-items: center
}

.related-category-wrapper :is(.justify-start) {
  justify-content: flex-start
}

.related-category-wrapper :is(.justify-end) {
  justify-content: flex-end
}

.related-category-wrapper :is(.justify-center) {
  justify-content: center
}

.related-category-wrapper :is(.justify-between) {
  justify-content: space-between
}

.related-category-wrapper :is(.gap-1) {
  gap: 0.25rem
}

.related-category-wrapper :is(.gap-2) {
  gap: 0.5rem
}

.related-category-wrapper :is(.gap-3) {
  gap: 0.75rem
}

.related-category-wrapper :is(.gap-4) {
  gap: 1rem
}

.related-category-wrapper :is(.gap-5) {
  gap: 1.25rem
}

.related-category-wrapper :is(.gap-6) {
  gap: 1.5rem
}

.related-category-wrapper :is(.self-stretch) {
  align-self: stretch
}

.related-category-wrapper :is(.overflow-hidden) {
  overflow: hidden
}

.related-category-wrapper :is(.overflow-x-auto) {
  overflow-x: auto
}

.related-category-wrapper :is(.whitespace-nowrap) {
  white-space: nowrap
}

.related-category-wrapper :is(.bg-danaherlightblue-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(239 251 253 / var(--tw-bg-opacity))
}

.related-category-wrapper :is(.bg-danaherpurple-800) {
  --tw-bg-opacity: 1;
  background-color: rgb(64 0 165 / var(--tw-bg-opacity))
}

.related-category-wrapper :is(.bg-white) {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.related-category-wrapper :is(.p-3) {
  padding: 0.75rem
}

.related-category-wrapper :is(.py-6) {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem
}

.related-category-wrapper :is(.font-\[\"TWK_Lausanne_Pan\"\]) {
  font-family: "TWK Lausanne Pan"
}

.related-category-wrapper :is(.text-2xl) {
  font-size: 1.5rem;
  line-height: 2rem
}

.related-category-wrapper :is(.text-base) {
  font-size: 1rem;
  line-height: 1.5rem
}

.related-category-wrapper :is(.text-xl) {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.related-category-wrapper :is(.font-bold) {
  font-weight: 700
}

.related-category-wrapper :is(.font-extralight) {
  font-weight: 200
}

.related-category-wrapper :is(.font-normal) {
  font-weight: 200
}

.related-category-wrapper :is(.leading-7) {
  line-height: 1.75rem
}

.related-category-wrapper :is(.leading-loose) {
  line-height: 2
}

.related-category-wrapper :is(.leading-snug) {
  line-height: 1.375
}

.related-category-wrapper :is(.text-black) {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.related-category-wrapper :is(.text-gray-700) {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity))
}

.related-category-wrapper :is(.text-violet-600) {
  --tw-text-opacity: 1;
  color: rgb(124 58 237 / var(--tw-text-opacity))
}

.related-category-wrapper :is(.outline) {
  outline-style: solid
}

.related-category-wrapper :is(.outline-1) {
  outline-width: 1px
}

.related-category-wrapper :is(.outline-gray-300) {
  outline-color: #d1d5db
}

@media (min-width: 640px) {
  .related-category-wrapper :is(.sm\:flex-row) {
    flex-direction: row
  }

  .related-category-wrapper :is(.sm\:flex-nowrap) {
    flex-wrap: nowrap
  }
}