.href-text a {
  position: relative;
  z-index: 0;
  text-decoration-line: underline;
  text-decoration-color: #7523FF;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
  text-decoration-style: solid;
  word-break: break-words;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.href-text a:hover {
  color: rgb(255 255 255);
  background-color: #7523FF;
}

.product-overview-wrapper :is(.block) {
  display: block;
}

.product-overview-wrapper :is(.list-disc) {
  list-style-type: disc;
}

.product-overview-wrapper :is(.bg-danaherlightblue-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(239 251 253 / var(--tw-bg-opacity));
}

.product-overview-wrapper :is(.pl-12) {
  padding-left: 3rem;
}

.product-overview-wrapper :is(.pt-2) {
  padding-top: 0.5rem;
}

.product-overview-wrapper :is(.pt-2\.5) {
  padding-top: 0.625rem;
}

.product-overview-wrapper :is(.text-lg) {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.product-overview-wrapper :is(.leading-7) {
  line-height: 1.75rem;
}

@media (min-width: 1280px) {
  .product-overview-wrapper :is(.xl\:w-3\/4) {
    width: 75%;
  }
}