footer {
  padding: 2rem;
  font-size: var(--body-font-size-s);

  @apply bg-gray-800;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

.footer-wrapper .footer>div {
  @apply max-w-7xl mx-auto py-12 px-6 sm:px-6 lg:py-16 lg:px-8;
}

.footer-wrapper .footer>div>div:not(:last-child) {
  @apply md:align-top flex flex-col justify-between h-full;
}

.footer-wrapper .footer>div {
  @apply grid grid-cols-1 md:grid-cols-2 gap-4 mt-12 md:mt-0;
}

.footer-wrapper .footer>div>div:not(:last-child)>p {
  @apply text-sm font-semibold text-gray-400 tracking-wider uppercase;
}

.footer-wrapper .footer>div>div:not(:last-child)>ul {
  @apply mt-4 space-y-4 align-top h-full;
}

.footer-wrapper .footer>div li>a {
  @apply text-base text-gray-300 hover:text-white;
}

.footer-wrapper .footer>div>div:last-child {
  @apply mt-8 border-t border-gray-700 pt-8 md:items-center md:justify-between md:col-span-2;
}

.footer-wrapper .footer>div>div:last-child>p {
  @apply mt-8 text-base text-gray-400 md:mt-0 md:order-1;
}