footer {
  font-size: var(--body-font-size-s);
}

footer .footer {
  @apply bg-gray-800;

  margin: auto;
}

.footer-wrapper .footer>div {
  @apply grid max-w-7xl mx-auto py-12 px-6 sm:px-6 lg:py-16 lg:px-8 sm:grid-cols-1 md:grid-cols-2 gap-y-0 xl:gap-x-8 md:mt-0;
}

.footer-wrapper .footer>div>div:not(:last-child){
  @apply mt-10 md:mt-0 xl:mt-0 lg:mt-0;
}

.footer-wrapper .footer>div>div:not(:last-child)>p {
  @apply mt-0 text-sm font-semibold text-gray-400 tracking-wider uppercase;
}

.footer-wrapper .footer>div>div:not(:last-child)>ul {
  @apply mt-4 space-y-4 align-top h-full;
}

.footer-wrapper .footer>div li {
  height: 1.5rem;
  line-height: 1.25rem;
}

.footer-wrapper .footer>div li>a {
  @apply text-base text-gray-300 hover:text-white;
}

.footer-wrapper .footer>div>div:last-child {
  @apply mt-8 border-t border-gray-700 pt-8 md:items-center md:justify-between md:col-span-2;
}

.footer-wrapper .footer>div>div:last-child>p {
  @apply mt-8 text-base text-gray-400 md:mt-0 md:order-1;
}