.sticky-footer {
  position: fixed;
  bottom: 0.75rem;
  z-index: 10;
  display: flex;
  width: 100%;
  justify-content: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.sticky-footer button, .sticky-footer a {
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
  padding-left: 0.875rem;
  padding-right: 0.875rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.sticky-footer button:hover, .sticky-footer a:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(117 35 255 / var(--tw-bg-opacity))
}

.sticky-footer svg.users {
  fill: transparent
}

.sticky-footer .btn-group a:first-child {
  border-top-left-radius: 9999px !important;
  border-bottom-left-radius: 9999px !important
}

.sticky-footer .btn-group button:last-child {
  border-top-right-radius: 9999px !important;
  border-bottom-right-radius: 9999px !important
}

.sticky-footer button.accessibility {
  -moz-column-gap: 0.25rem;
       column-gap: 0.25rem;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.sticky-footer button.accessibility:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(117 35 255 / var(--tw-bg-opacity))
}

.sticky-footer button.accessibility svg {
  fill: none;
  stroke: #fff
}
