.bg-danaherpurple-50 {
  background-color: #EADEFF;
}

.btn-group {
  display: inline-flex;
  position: relative;
}

.btn-outline-trending-brand {
  color: #7523FF;
  background-color: rgb(255 255 255);
  border-color: #7523FF;
  border-width: 2px;
}

.btn-outline-trending-brand:hover {
  color: rgb(255 255 255);
  background-color: #7523FF;
}

.footer-wrapper :is(.sr-only) {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.footer-wrapper :is(.fixed) {
  position: fixed;
}

.footer-wrapper :is(.bottom-3) {
  bottom: 0.75rem;
}

.footer-wrapper :is(.z-10) {
  z-index: 10;
}

.footer-wrapper :is(.m-0) {
  margin: 0px;
}

.footer-wrapper :is(.mx-auto) {
  margin-left: auto;
  margin-right: auto;
}

.footer-wrapper :is(.my-auto) {
  margin-top: auto;
  margin-bottom: auto;
}

.footer-wrapper :is(.mb-2) {
  margin-bottom: 0.5rem;
}

.footer-wrapper :is(.mt-4) {
  margin-top: 1rem;
}

.footer-wrapper :is(.block) {
  display: block;
}

.footer-wrapper :is(.flex) {
  display: flex;
}

.footer-wrapper :is(.hidden) {
  display: none;
}

.footer-wrapper :is(.h-5) {
  height: 1.25rem;
}

.footer-wrapper :is(.h-full) {
  height: 100%;
}

.footer-wrapper :is(.h-max) {
  height: -moz-max-content;
  height: max-content;
}

.footer-wrapper :is(.w-5) {
  width: 1.25rem;
}

.footer-wrapper :is(.w-full) {
  width: 100%;
}

.footer-wrapper :is(.max-w-7xl) {
  max-width: 80rem;
}

.footer-wrapper :is(.flex-col) {
  flex-direction: column;
}

.footer-wrapper :is(.flex-wrap) {
  flex-wrap: wrap;
}

.footer-wrapper :is(.justify-center) {
  justify-content: center;
}

.footer-wrapper :is(.justify-between) {
  justify-content: space-between;
}

.footer-wrapper :is(.gap-x-1) {
  -moz-column-gap: 0.25rem;
       column-gap: 0.25rem;
}

.footer-wrapper :is(.gap-x-16) {
  -moz-column-gap: 4rem;
       column-gap: 4rem;
}

.footer-wrapper :is(.gap-x-2) {
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}

.footer-wrapper :is(.gap-y-8) {
  row-gap: 2rem;
}

.footer-wrapper :is(.space-y-4 > :not([hidden]) ~ :not([hidden])) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.footer-wrapper :is(.divide-y > :not([hidden]) ~ :not([hidden])) {
  --tw-divide-y-reverse: 0;
  border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
}

.footer-wrapper :is(.divide-danaherpurple-500 > :not([hidden]) ~ :not([hidden])) {
  --tw-divide-opacity: 1;
  border-color: rgb(117 35 255 / var(--tw-divide-opacity));
}

.footer-wrapper :is(.rounded-full) {
  border-radius: 9999px;
}

.footer-wrapper :is(.rounded-l-full) {
  border-top-left-radius: 9999px;
  border-bottom-left-radius: 9999px;
}

.footer-wrapper :is(.rounded-r-full) {
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
}

.footer-wrapper :is(.bg-danahergray-900) {
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
}

.footer-wrapper :is(.bg-danaherlightblue-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(239 251 253 / var(--tw-bg-opacity));
}

.footer-wrapper :is(.bg-danaherpurple-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(234 222 255 / var(--tw-bg-opacity));
}

.footer-wrapper :is(.bg-danaherpurple-800) {
  --tw-bg-opacity: 1;
  background-color: rgb(64 0 165 / var(--tw-bg-opacity));
}

.footer-wrapper :is(.fill-transparent) {
  fill: transparent;
}

.footer-wrapper :is(.px-2) {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.footer-wrapper :is(.px-2\.5) {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.footer-wrapper :is(.px-3) {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.footer-wrapper :is(.px-3\.5) {
  padding-left: 0.875rem;
  padding-right: 0.875rem;
}

.footer-wrapper :is(.px-5) {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.footer-wrapper :is(.px-6) {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.footer-wrapper :is(.px-9) {
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}

.footer-wrapper :is(.py-2) {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.footer-wrapper :is(.py-2\.5) {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.footer-wrapper :is(.py-6) {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.footer-wrapper :is(.py-8) {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer-wrapper :is(.align-top) {
  vertical-align: top;
}

.footer-wrapper :is(.text-base) {
  font-size: 1rem;
  line-height: 1.5rem;
}

.footer-wrapper :is(.font-bold) {
  font-weight: 700;
}

.footer-wrapper :is(.font-normal) {
  font-weight: 200;
}

.footer-wrapper :is(.font-semibold) {
  font-weight: 700;
}

.footer-wrapper :is(.text-white) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.footer-wrapper :is(.transition) {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.footer-wrapper :is(.hover\:bg-danaherpurple-500:hover) {
  --tw-bg-opacity: 1;
  background-color: rgb(117 35 255 / var(--tw-bg-opacity));
}

.footer-wrapper :is(.hover\:fill-danaherpurple-800:hover) {
  fill: #4000A5;
}

.footer-wrapper :is(.hover\:text-danaherpurple-800:hover) {
  --tw-text-opacity: 1;
  color: rgb(64 0 165 / var(--tw-text-opacity));
}

.footer-wrapper :is(.hover\:underline:hover) {
  text-decoration-line: underline;
}

@media (min-width: 640px) {
  .footer-wrapper :is(.sm\:px-6) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 768px) {
  .footer-wrapper :is(.md\:block) {
    display: block;
  }

  .footer-wrapper :is(.md\:h-6) {
    height: 1.5rem;
  }

  .footer-wrapper :is(.md\:w-6) {
    width: 1.5rem;
  }

  .footer-wrapper :is(.md\:flex-row) {
    flex-direction: row;
  }

  .footer-wrapper :is(.md\:flex-wrap) {
    flex-wrap: wrap;
  }
}

@media (min-width: 1024px) {
  .footer-wrapper :is(.lg\:px-8) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media print {
  .footer-wrapper :is(.print\:hidden) {
    display: none;
  }
}