.product-menu-wrapper :is(.block) {
  display: block
}

.product-menu-wrapper :is(.flex) {
  display: flex
}

.product-menu-wrapper :is(.hidden) {
  display: none
}

.product-menu-wrapper :is(.h-20) {
  height: 5rem
}

.product-menu-wrapper :is(.\!w-full) {
  width: 100% !important
}

.product-menu-wrapper :is(.w-20) {
  width: 5rem
}

.product-menu-wrapper :is(.w-full) {
  width: 100%
}

.product-menu-wrapper :is(.scale-95) {
  --tw-scale-x: .95;
  --tw-scale-y: .95;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.product-menu-wrapper :is(.transform) {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.product-menu-wrapper :is(.cursor-pointer) {
  cursor: pointer
}

.product-menu-wrapper :is(.flex-col) {
  flex-direction: column
}

.product-menu-wrapper :is(.items-center) {
  align-items: center
}

.product-menu-wrapper :is(.justify-between) {
  justify-content: space-between
}

.product-menu-wrapper :is(.gap-10) {
  gap: 2.5rem
}

.product-menu-wrapper :is(.gap-2) {
  gap: 0.5rem
}

.product-menu-wrapper :is(.space-x-3 > :not([hidden]) ~ :not([hidden])) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.75rem * var(--tw-space-x-reverse));
  margin-left: calc(0.75rem * calc(1 - var(--tw-space-x-reverse)))
}

.product-menu-wrapper :is(.self-center) {
  align-self: center
}

.product-menu-wrapper :is(.rounded-md) {
  border-radius: 0.375rem
}

.product-menu-wrapper :is(.border-2) {
  border-width: 2px
}

.product-menu-wrapper :is(.border-white) {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity))
}

.product-menu-wrapper :is(.bg-danaherlightblue-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(239 251 253 / var(--tw-bg-opacity))
}

.product-menu-wrapper :is(.bg-danaherpurple-800) {
  --tw-bg-opacity: 1;
  background-color: rgb(64 0 165 / var(--tw-bg-opacity))
}

.product-menu-wrapper :is(.object-contain) {
  -o-object-fit: contain;
     object-fit: contain
}

.product-menu-wrapper :is(.object-center) {
  -o-object-position: center;
     object-position: center
}

.product-menu-wrapper :is(.p-3) {
  padding: 0.75rem
}

.product-menu-wrapper :is(.py-4) {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.product-menu-wrapper :is(.text-lg) {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.product-menu-wrapper :is(.font-semibold) {
  font-weight: 700
}

.product-menu-wrapper :is(.leading-6) {
  line-height: 1.5rem
}

.product-menu-wrapper :is(.shadow-md) {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.product-menu-wrapper :is(.duration-300) {
  transition-duration: 300ms
}

.product-menu-wrapper :is(.hover\:scale-95:hover) {
  --tw-scale-x: .95;
  --tw-scale-y: .95;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.product-menu-wrapper :is(.hover\:bg-danaherlightblue-50:hover) {
  --tw-bg-opacity: 1;
  background-color: rgb(239 251 253 / var(--tw-bg-opacity))
}

@media (min-width: 768px) {
  .product-menu-wrapper :is(.md\:w-1\/3) {
    width: 33.333333%
  }

  .product-menu-wrapper :is(.md\:flex-row) {
    flex-direction: row
  }
}

@media (min-width: 1024px) {
  .product-menu-wrapper :is(.lg\:flex-shrink-0) {
    flex-shrink: 0
  }
}