@media (min-width: 1024px) {
  .topic main > .side-nav-container + .section, .topichub main > .side-nav-container + .section {
    padding-top: 1rem !important
  }
}

.topic main, .topichub main {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  max-width: 80rem;
  padding-left: 1rem;
  padding-right: 1rem
}

@media (min-width: 1024px) {
  .topic main, .topichub main {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    padding-left: 0px;
    padding-right: 0px
  }
}

.topic main > div, .topichub main > div {
  margin-bottom: 0.5rem;
  flex: 1 1 0%
}

.topic main > div > :not([hidden]) ~ :not([hidden]), .topichub main > div > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse))
}

.topic main > div, .topichub main > div {
  padding: 0px;
  padding-left: 0px
}

@media (min-width: 1024px) {
  .topic main > div, .topichub main > div {
    grid-column: span 3 / span 3;
    grid-column-start: 2;
    padding-left: 3rem
  }
}

.topic main p:not(.show-modal-btn) {
  margin-bottom: 1rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity))
}