.topic main .button-container a {
  @apply btn-outline-trending-brand text-lg px-6 py-2.5 my-8 rounded-full;
}

.topic main .default-content-wrapper h1 {
  @apply text-gray-900 my-2 font-extrabold text-4xl py-2 px-0;
}

.topic main p:not(.show-modal-btn) {
  @apply leading-7 text-lg mb-4 text-danahergray-700;
}

.topic main h1+p, .topic main h2+p {
  @apply mt-2 mb-8;
}

.topic main img {
  @apply w-full mt-10 mb-4;
}
