.btn-lg {
  padding-top: .625rem;
  padding-bottom: .625rem;
  font-size: 1.125rem;
  line-height: 1.75rem
}

.dhls-container {
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 48px
}

.dhls-container .font-medium {
  font-weight: 400;
  font-family: TWK Lausanne EDS
}

.dashboard-wrapper :is(.fixed) {
  position: fixed
}

.dashboard-wrapper :is(.absolute) {
  position: absolute
}

.dashboard-wrapper :is(.relative) {
  position: relative
}

.dashboard-wrapper :is(.inset-0) {
  inset: 0px
}

.dashboard-wrapper :is(.left-0) {
  left: 0px
}

.dashboard-wrapper :is(.left-\[46\%\]) {
  left: 46%
}

.dashboard-wrapper :is(.right-0) {
  right: 0px
}

.dashboard-wrapper :is(.right-10) {
  right: 2.5rem
}

.dashboard-wrapper :is(.top-0) {
  top: 0px
}

.dashboard-wrapper :is(.top-1\/2) {
  top: 50%
}

.dashboard-wrapper :is(.top-6) {
  top: 1.5rem
}

.dashboard-wrapper :is(.z-0) {
  z-index: 0
}

.dashboard-wrapper :is(.z-10) {
  z-index: 10
}

.dashboard-wrapper :is(.z-50) {
  z-index: 50
}

.dashboard-wrapper :is(.m-0) {
  margin: 0px
}

.dashboard-wrapper :is(.ml-2) {
  margin-left: 0.5rem
}

.dashboard-wrapper :is(.ml-\[20px\]) {
  margin-left: 20px
}

.dashboard-wrapper :is(.mr-\[8px\]) {
  margin-right: 8px
}

.dashboard-wrapper :is(.mt-1) {
  margin-top: 0.25rem
}

.dashboard-wrapper :is(.mt-2) {
  margin-top: 0.5rem
}

.dashboard-wrapper :is(.mt-4) {
  margin-top: 1rem
}

.dashboard-wrapper :is(.mt-6) {
  margin-top: 1.5rem
}

.dashboard-wrapper :is(.mt-\[-75px\]) {
  margin-top: -75px
}

.dashboard-wrapper :is(.block) {
  display: block
}

.dashboard-wrapper :is(.flex) {
  display: flex
}

.dashboard-wrapper :is(.inline-flex) {
  display: inline-flex
}

.dashboard-wrapper :is(.table) {
  display: table
}

.dashboard-wrapper :is(.hidden) {
  display: none
}

.dashboard-wrapper :is(.\!h-\[60px\]) {
  height: 60px !important
}

.dashboard-wrapper :is(.h-0) {
  height: 0px
}

.dashboard-wrapper :is(.h-0\.5) {
  height: 0.125rem
}

.dashboard-wrapper :is(.h-10) {
  height: 2.5rem
}

.dashboard-wrapper :is(.h-24) {
  height: 6rem
}

.dashboard-wrapper :is(.h-3) {
  height: 0.75rem
}

.dashboard-wrapper :is(.h-5) {
  height: 1.25rem
}

.dashboard-wrapper :is(.h-9) {
  height: 2.25rem
}

.dashboard-wrapper :is(.h-\[100px\]) {
  height: 100px
}

.dashboard-wrapper :is(.h-\[10px\]) {
  height: 10px
}

.dashboard-wrapper :is(.h-\[118px\]) {
  height: 118px
}

.dashboard-wrapper :is(.h-\[131px\]) {
  height: 131px
}

.dashboard-wrapper :is(.h-\[20px\]) {
  height: 20px
}

.dashboard-wrapper :is(.h-\[210px\]) {
  height: 210px
}

.dashboard-wrapper :is(.h-\[2px\]) {
  height: 2px
}

.dashboard-wrapper :is(.h-\[3\.5rem\]) {
  height: 3.5rem
}

.dashboard-wrapper :is(.h-\[4\.5rem\]) {
  height: 4.5rem
}

.dashboard-wrapper :is(.h-\[46px\]) {
  height: 46px
}

.dashboard-wrapper :is(.h-px) {
  height: 1px
}

.dashboard-wrapper :is(.max-h-48) {
  max-height: 12rem
}

.dashboard-wrapper :is(.\!w-\[60px\]) {
  width: 60px !important
}

.dashboard-wrapper :is(.w-28) {
  width: 7rem
}

.dashboard-wrapper :is(.w-3) {
  width: 0.75rem
}

.dashboard-wrapper :is(.w-5) {
  width: 1.25rem
}

.dashboard-wrapper :is(.w-80) {
  width: 20rem
}

.dashboard-wrapper :is(.w-\[100px\]) {
  width: 100px
}

.dashboard-wrapper :is(.w-\[10px\]) {
  width: 10px
}

.dashboard-wrapper :is(.w-\[178px\]) {
  width: 178px
}

.dashboard-wrapper :is(.w-\[186\.4px\]) {
  width: 186.4px
}

.dashboard-wrapper :is(.w-\[200px\]) {
  width: 200px
}

.dashboard-wrapper :is(.w-\[205px\]) {
  width: 205px
}

.dashboard-wrapper :is(.w-\[310px\]) {
  width: 310px
}

.dashboard-wrapper :is(.w-\[480px\]) {
  width: 480px
}

.dashboard-wrapper :is(.w-\[930px\]) {
  width: 930px
}

.dashboard-wrapper :is(.w-\[932px\]) {
  width: 932px
}

.dashboard-wrapper :is(.w-\[980px\]) {
  width: 980px
}

.dashboard-wrapper :is(.w-full) {
  width: 100%
}

.dashboard-wrapper :is(.min-w-\[320px\]) {
  min-width: 320px
}

.dashboard-wrapper :is(.min-w-\[415px\]) {
  min-width: 415px
}

.dashboard-wrapper :is(.max-w-\[792px\]) {
  max-width: 792px
}

.dashboard-wrapper :is(.cursor-pointer) {
  cursor: pointer
}

.dashboard-wrapper :is(.flex-col) {
  flex-direction: column
}

.dashboard-wrapper :is(.items-start) {
  align-items: flex-start
}

.dashboard-wrapper :is(.items-end) {
  align-items: flex-end
}

.dashboard-wrapper :is(.items-center) {
  align-items: center
}

.dashboard-wrapper :is(.items-baseline) {
  align-items: baseline
}

.dashboard-wrapper :is(.justify-start) {
  justify-content: flex-start
}

.dashboard-wrapper :is(.justify-end) {
  justify-content: flex-end
}

.dashboard-wrapper :is(.justify-center) {
  justify-content: center
}

.dashboard-wrapper :is(.justify-between) {
  justify-content: space-between
}

.dashboard-wrapper :is(.gap-1) {
  gap: 0.25rem
}

.dashboard-wrapper :is(.gap-1\.5) {
  gap: 0.375rem
}

.dashboard-wrapper :is(.gap-2) {
  gap: 0.5rem
}

.dashboard-wrapper :is(.gap-28) {
  gap: 7rem
}

.dashboard-wrapper :is(.gap-3) {
  gap: 0.75rem
}

.dashboard-wrapper :is(.gap-4) {
  gap: 1rem
}

.dashboard-wrapper :is(.gap-5) {
  gap: 1.25rem
}

.dashboard-wrapper :is(.gap-6) {
  gap: 1.5rem
}

.dashboard-wrapper :is(.gap-\[20px\]) {
  gap: 20px
}

.dashboard-wrapper :is(.space-y-2 > :not([hidden]) ~ :not([hidden])) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse))
}

.dashboard-wrapper :is(.self-stretch) {
  align-self: stretch
}

.dashboard-wrapper :is(.overflow-hidden) {
  overflow: hidden
}

.dashboard-wrapper :is(.overflow-scroll) {
  overflow: scroll
}

.dashboard-wrapper :is(.rounded) {
  border-radius: 0.25rem
}

.dashboard-wrapper :is(.rounded-full) {
  border-radius: 9999px
}

.dashboard-wrapper :is(.rounded-md) {
  border-radius: 0.375rem
}

.dashboard-wrapper :is(.border) {
  border-width: 1px
}

.dashboard-wrapper :is(.border-2) {
  border-width: 2px
}

.dashboard-wrapper :is(.border-b) {
  border-bottom-width: 1px
}

.dashboard-wrapper :is(.border-b-2) {
  border-bottom-width: 2px
}

.dashboard-wrapper :is(.border-l) {
  border-left-width: 1px
}

.dashboard-wrapper :is(.border-l-\[4px\]) {
  border-left-width: 4px
}

.dashboard-wrapper :is(.border-r) {
  border-right-width: 1px
}

.dashboard-wrapper :is(.border-t) {
  border-top-width: 1px
}

.dashboard-wrapper :is(.border-solid) {
  border-style: solid
}

.dashboard-wrapper :is(.border-danaherblue-500) {
  --tw-border-opacity: 1;
  border-color: rgb(0 74 89 / var(--tw-border-opacity))
}

.dashboard-wrapper :is(.border-danaherpurple-500) {
  --tw-border-opacity: 1;
  border-color: rgb(117 35 255 / var(--tw-border-opacity))
}

.dashboard-wrapper :is(.border-gray-200) {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity))
}

.dashboard-wrapper :is(.border-gray-300) {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity))
}

.dashboard-wrapper :is(.border-white) {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity))
}

.dashboard-wrapper :is(.bg-black) {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}

.dashboard-wrapper :is(.bg-danaherlightblue-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(239 251 253 / var(--tw-bg-opacity))
}

.dashboard-wrapper :is(.bg-danaherpurple-25) {
  --tw-bg-opacity: 1;
  background-color: rgb(245 239 255 / var(--tw-bg-opacity))
}

.dashboard-wrapper :is(.bg-danaherpurple-500) {
  --tw-bg-opacity: 1;
  background-color: rgb(117 35 255 / var(--tw-bg-opacity))
}

.dashboard-wrapper :is(.bg-danaherpurple-800) {
  --tw-bg-opacity: 1;
  background-color: rgb(64 0 165 / var(--tw-bg-opacity))
}

.dashboard-wrapper :is(.bg-gray-100) {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}

.dashboard-wrapper :is(.bg-gray-200) {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity))
}

.dashboard-wrapper :is(.bg-green-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(240 253 244 / var(--tw-bg-opacity))
}

.dashboard-wrapper :is(.bg-red-100) {
  --tw-bg-opacity: 1;
  background-color: rgb(254 226 226 / var(--tw-bg-opacity))
}

.dashboard-wrapper :is(.bg-sky-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(240 249 255 / var(--tw-bg-opacity))
}

.dashboard-wrapper :is(.bg-transparent) {
  background-color: transparent
}

.dashboard-wrapper :is(.bg-white) {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.dashboard-wrapper :is(.bg-opacity-50) {
  --tw-bg-opacity: 0.5
}

.dashboard-wrapper :is(.fill-current) {
  fill: currentColor
}

.dashboard-wrapper :is(.fill-gray-400) {
  fill: #9ca3af
}

.dashboard-wrapper :is(.p-0) {
  padding: 0px
}

.dashboard-wrapper :is(.p-3) {
  padding: 0.75rem
}

.dashboard-wrapper :is(.p-4) {
  padding: 1rem
}

.dashboard-wrapper :is(.p-6) {
  padding: 1.5rem
}

.dashboard-wrapper :is(.p-8) {
  padding: 2rem
}

.dashboard-wrapper :is(.p-\[0\.5rem\]) {
  padding: 0.5rem
}

.dashboard-wrapper :is(.p-\[18px\]) {
  padding: 18px
}

.dashboard-wrapper :is(.px-2) {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.dashboard-wrapper :is(.px-3) {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.dashboard-wrapper :is(.px-4) {
  padding-left: 1rem;
  padding-right: 1rem
}

.dashboard-wrapper :is(.px-6) {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.dashboard-wrapper :is(.px-8) {
  padding-left: 2rem;
  padding-right: 2rem
}

.dashboard-wrapper :is(.py-1) {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.dashboard-wrapper :is(.py-1\.5) {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem
}

.dashboard-wrapper :is(.py-2) {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.dashboard-wrapper :is(.py-3) {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem
}

.dashboard-wrapper :is(.py-4) {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.dashboard-wrapper :is(.py-5) {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem
}

.dashboard-wrapper :is(.py-6) {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem
}

.dashboard-wrapper :is(.pb-3) {
  padding-bottom: 0.75rem
}

.dashboard-wrapper :is(.pb-6) {
  padding-bottom: 1.5rem
}

.dashboard-wrapper :is(.pb-\[3px\]) {
  padding-bottom: 3px
}

.dashboard-wrapper :is(.pl-1) {
  padding-left: 0.25rem
}

.dashboard-wrapper :is(.pl-2) {
  padding-left: 0.5rem
}

.dashboard-wrapper :is(.pl-9) {
  padding-left: 2.25rem
}

.dashboard-wrapper :is(.pr-1) {
  padding-right: 0.25rem
}

.dashboard-wrapper :is(.pr-2) {
  padding-right: 0.5rem
}

.dashboard-wrapper :is(.pr-2\.5) {
  padding-right: 0.625rem
}

.dashboard-wrapper :is(.pr-3) {
  padding-right: 0.75rem
}

.dashboard-wrapper :is(.pr-8) {
  padding-right: 2rem
}

.dashboard-wrapper :is(.pt-0) {
  padding-top: 0px
}

.dashboard-wrapper :is(.pt-4) {
  padding-top: 1rem
}

.dashboard-wrapper :is(.pt-\[5px\]) {
  padding-top: 5px
}

.dashboard-wrapper :is(.text-left) {
  text-align: left
}

.dashboard-wrapper :is(.text-center) {
  text-align: center
}

.dashboard-wrapper :is(.text-right) {
  text-align: right
}

.dashboard-wrapper :is(.\!text-4xl) {
  font-size: 2.25rem !important;
  line-height: 2.5rem !important
}

.dashboard-wrapper :is(.text-2xl) {
  font-size: 1.5rem;
  line-height: 2rem
}

.dashboard-wrapper :is(.text-base) {
  font-size: 1rem;
  line-height: 1.5rem
}

.dashboard-wrapper :is(.text-sm) {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.dashboard-wrapper :is(.text-xl) {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.dashboard-wrapper :is(.text-xs) {
  font-size: 0.75rem;
  line-height: 1rem
}

.dashboard-wrapper :is(.font-\[400\]) {
  font-weight: 400
}

.dashboard-wrapper :is(.font-bold) {
  font-weight: 700
}

.dashboard-wrapper :is(.font-extralight) {
  font-weight: 200
}

.dashboard-wrapper :is(.font-medium) {
  font-weight: 500
}

.dashboard-wrapper :is(.font-normal) {
  font-weight: 200
}

.dashboard-wrapper :is(.leading-4) {
  line-height: 1rem
}

.dashboard-wrapper :is(.leading-5) {
  line-height: 1.25rem
}

.dashboard-wrapper :is(.leading-7) {
  line-height: 1.75rem
}

.dashboard-wrapper :is(.leading-\[48px\]) {
  line-height: 48px
}

.dashboard-wrapper :is(.leading-loose) {
  line-height: 2
}

.dashboard-wrapper :is(.leading-none) {
  line-height: 1
}

.dashboard-wrapper :is(.leading-snug) {
  line-height: 1.375
}

.dashboard-wrapper :is(.leading-tight) {
  line-height: 1.25
}

.dashboard-wrapper :is(.text-black) {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.dashboard-wrapper :is(.text-danaherpurple-500) {
  --tw-text-opacity: 1;
  color: rgb(117 35 255 / var(--tw-text-opacity))
}

.dashboard-wrapper :is(.text-gray-400) {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity))
}

.dashboard-wrapper :is(.text-gray-600) {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity))
}

.dashboard-wrapper :is(.text-gray-700) {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity))
}

.dashboard-wrapper :is(.text-gray-800) {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity))
}

.dashboard-wrapper :is(.text-gray-900) {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity))
}

.dashboard-wrapper :is(.text-green-700) {
  --tw-text-opacity: 1;
  color: rgb(21 128 61 / var(--tw-text-opacity))
}

.dashboard-wrapper :is(.text-red-500) {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity))
}

.dashboard-wrapper :is(.text-red-800) {
  --tw-text-opacity: 1;
  color: rgb(153 27 27 / var(--tw-text-opacity))
}

.dashboard-wrapper :is(.text-sky-800) {
  --tw-text-opacity: 1;
  color: rgb(7 89 133 / var(--tw-text-opacity))
}

.dashboard-wrapper :is(.text-white) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.dashboard-wrapper :is(.shadow) {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.dashboard-wrapper :is(.shadow-\[0px_1px_2px_0px_rgba\(0\2c 0\2c 0\2c 0\.05\)\]) {
  --tw-shadow: 0px 1px 2px 0px rgba(0,0,0,0.05);
  --tw-shadow-colored: 0px 1px 2px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.dashboard-wrapper :is(.outline) {
  outline-style: solid
}

.dashboard-wrapper :is(.outline-1) {
  outline-width: 1px
}

.dashboard-wrapper :is(.outline-offset-\[-1px\]) {
  outline-offset: -1px
}

.dashboard-wrapper :is(.outline-gray-300) {
  outline-color: #d1d5db
}

.dashboard-wrapper :is(.ring) {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}

.dashboard-wrapper :is(.blur) {
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.dashboard-wrapper :is(.transition-transform) {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.hover\:bg-danaherpurple-50:hover {
  background-color: #EADEFF
}

.dashboard-wrapper :is(.hover\:bg-danaherpurple-50:hover) {
  --tw-bg-opacity: 1;
  background-color: rgb(234 222 255 / var(--tw-bg-opacity))
}

.dashboard-wrapper :is(.focus\:outline-none:focus) {
  outline: 2px solid transparent;
  outline-offset: 2px
}

.dashboard-wrapper :is(.focus\:ring-danaherpurple-500:focus) {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(117 35 255 / var(--tw-ring-opacity))
}

.dashboard-wrapper :is(.group:hover .group-hover\:-translate-x-0) {
  --tw-translate-x: -0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.dashboard-wrapper :is(.group:hover .group-hover\:-translate-x-0\.5) {
  --tw-translate-x: -0.125rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.dashboard-wrapper :is(.peer:checked ~ .peer-checked\:block) {
  display: block
}

@media (min-width: 768px) {
  .dashboard-wrapper :is(.md\:flex) {
    display: flex
  }

  .dashboard-wrapper :is(.md\:w-\[20\%\]) {
    width: 20%
  }

  .dashboard-wrapper :is(.md\:w-\[80\%\]) {
    width: 80%
  }

  .dashboard-wrapper :is(.md\:flex-row) {
    flex-direction: row
  }
}

@media (min-width: 1024px) {
  .dashboard-wrapper :is(.lg\:px-10) {
    padding-left: 2.5rem;
    padding-right: 2.5rem
  }
}

@media (min-width: 1280px) {
  .dashboard-wrapper :is(.dhlsBp\:py-12) {
    padding-top: 3rem;
    padding-bottom: 3rem
  }
}

.dashboard-wrapper :is(.\[\&_svg\>use\]\:stroke-black svg>use) {
  stroke: #000
}

.dashboard-wrapper :is(.\[\&_svg\>use\]\:stroke-current svg>use) {
  stroke: currentColor
}

.dashboard-wrapper :is(.\[\&_svg\>use\]\:stroke-danaherpurple-500 svg>use) {
  stroke: #7523FF
}

.dashboard-wrapper :is(.\[\&_svg\>use\]\:hover\:stroke-danaherpurple-800:hover svg>use) {
  stroke: #4000A5
}