/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */
@import '../styles/modal/modal.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply m-0 leading-relaxed hidden antialiased;
  }

  main img {
    @apply max-w-full w-auto h-auto;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply mt-4 mb-2 text-danahergray-900 antialiased;
  }

  h1 {
    @apply !leading-12 !font-medium !text-4xl2;
  }

  h2 { 
    @apply !leading-9 !font-medium !text-3xl;
  }

  h3 { 
    @apply !leading-8 !font-medium !text-2xl; 
  }

  h4 { 
    @apply leading-7 font-normal text-xl; 
  }

  h5 {
    @apply leading-7 font-normal text-lg; 
  }

  h6 {
    @apply font-normal text-base; 
  }

  .eyebrow {
    @apply text-danaherpurple-800 text-lg;
  }

  .eyebrow-sm {
    @apply text-danaherpurple-800 text-sm;
  }

  main .default-content-wrapper h1 {
    @apply text-gray-900 font-extrabold text-4xl;
  }

  main .default-content-wrapper h2 {
    @apply text-gray-900 font-medium text-3xl;
  }

}

@layer components {
  body.appear {
    @apply block;
  }

  #categories {
    @apply mt-16;
  }

 .icon {
    @apply w-6 h-6 inline-block;
  }

  .icon svg {
    @apply h-full w-full;
  }

  main .section:not(.stretch, .product-hero-container, .workflow-carousel-container, .product-card-container, .page-jump-menu-container, .page-tabs-container) {
    @apply px-6 py-8 md:py-12;
  }

  main .section.carousel-container {
    @apply p-0;
  }

  main .section > div:not(.carousel-wrapper, .page-jump-menu-wrapper, .page-tabs-wrapper) {
    @apply md:max-w-7xl md:mx-auto;
  }

  .btn {
    @apply inline-flex justify-center place-items-center py-1.5 px-3 text-white text-base text-center font-normal whitespace-nowrap no-underline align-middle cursor-pointer space-x-1 tracking-wide select-none rounded transition focus:outline-none bg-danaherorange-500 hover:bg-danaherorange-800;
  }

  .btn-sm {
    @apply py-0.5 text-sm;
  }

  .btn-lg {
    @apply py-2.5 text-lg;
  }

  .btn:disabled {
    @apply cursor-not-allowed opacity-50 focus:ring-0;
  }

  .btn.loading {
    @apply text-opacity-25 cursor-wait opacity-50 focus:ring-0;
  }

  .btn-group {
    @apply relative inline-flex;
  }


  /* START OF CORE STYLES */
  .btn-primary-purple {
    @apply text-white bg-danaherpurple-500 hover:bg-danaherpurple-800 border-danaherpurple-500 hover:border-danaherpurple-800;
  }

  .btn-primary {
    @apply text-white bg-danaherorange-500 hover:bg-danaherorange-800 border-danaherorange-500 hover:border-danaherorange-800;
  }

  .btn-secondary {
    @apply text-danaherorange-500 bg-white border-2 border-danaherorange-500 hover:text-white hover:bg-danaherorange-500;
  }

  .btn-outline-primary {
    @apply text-danaherpurple-500 bg-white border-2 border-danaherpurple-500 hover:text-white hover:bg-danaherpurple-500;
  }

  .btn-outline-secondary {
    @apply text-gray-500 bg-white border-2 border-gray-500 hover:text-white hover:bg-gray-500;
  }

  .btn-outline-trending-brand {
    @apply text-danaherpurple-500 bg-white border-2 border-danaherpurple-500 hover:text-white hover:bg-danaherpurple-500;
  }

  .btn-info {
    @apply text-white bg-lightblue-500 hover:bg-lightblue-600 border-lightblue-500 hover:border-lightblue-600;
  }

  .container-two-col .col-right {
    @apply leading-7 text-base text-danahergray-700;
  }

  .container-two-col .col-right h2 {
    @apply inline-flex font-semibold !text-xl text-danahergray-900;
  }

  .container-two-col .col-right ul, .accordion-answer ul {
    @apply list-disc list-outside ml-12 mb-4 space-y-4;
  }

  main .default-content-wrapper p {
    @apply leading-7 href-text text-lg text-danahergray-700;
  }

  main .default-content-wrapper p.button-container>a {
    @apply bg-transparent no-underline text-lg px-5 py-3 text-danaherpurple-500 border border-danaherpurple-500 leading-5 rounded-full font-medium mt-6 ease-in-out duration-150 transition-all;
  }
  
  main .default-content-wrapper p.button-container>a:hover {
    @apply bg-danaherpurple-500 text-white;
  }

  main div:not(.workflow-carousel-container) > .default-content-wrapper p:not(img) {
    @apply mt-4 mb-6;
  }

  main .default-content-wrapper ol, main .default-content-wrapper ul {
    @apply mt-3 leading-7 href-text text-base ml-12 list-outside;
  }
  
  main .default-content-wrapper ol>li, main .default-content-wrapper ul>li {
    @apply mb-1
  }
  
  main .default-content-wrapper ol {
    @apply list-decimal;
  }
  
  main .default-content-wrapper ul {
    @apply list-disc;
  }

  .section {
    @apply empty:hidden;
  }

  header {
    @apply h-[52px] md:h-[80px] lg:h-[179px] bg-white print:hidden;
  }

  .topic main, .topichub main {
    @apply grid px-4 lg:px-0 max-w-7xl mx-auto lg:grid-cols-12;
  }

  .topic main > div, .topichub main > div {
    @apply lg:col-span-8 lg:col-start-5 space-y-4 mb-2 flex-1 p-0;
  }

  .topic main > .side-nav-container, .topichub main > .side-nav-container {
    @apply hidden lg:block lg:col-span-3 lg:col-start-1 lg:row-span-6 p-0;
  }

  .topic main > .side-nav-container + .section, .topichub main > .side-nav-container + .section {
    @apply lg:pt-4
  }

  .topic main p:not(.show-modal-btn) {
    @apply leading-7 text-lg mb-4 text-danahergray-700;
  }

  .topic main .section.social-media-container, main .section.takeway-container, main .section.call-to-action-container {
    @apply p-0;
  }

  .processstep main .default-content-wrapper.section.side-nav-container {
    @apply flex flex-col lg:flex-row mx-auto gap-6;
  } 
  
  .processstep main .default-content-wrapper.section.side-nav-container div:nth-child(2) {
    @apply !w-9/12;
  } 

  .processstep main .default-content-wrapper.section.side-nav-container > div.side-nav-wrapper{
    @apply !pl-4 !w-80;
  }
  
  .processstep main .default-content-wrapper.section.side-nav-container > div{
    @apply !max-w-5xl !mr-0 !ml-0;
  }

  .blog main {
    @apply mx-auto max-w-7xl flex flex-row gap-8 w-full;
  }

  .blog main > div {
    @apply !py-10 sm:!py-8 md:!px-5 empty:hidden;
  }
  
  .blog main .recent-articles-container {
    @apply hidden lg:block lg:w-recent-articles bg-danaherpurple-25 space-y-4 !py-28 shrink-0;
  }

  .library main {
    @apply flex flex-row gap-8 max-w-7xl mx-auto w-full bg-white;
  }

  .library main > div {
    @apply !py-10 sm:!py-8 md:!px-5 empty:hidden;
  }
  
  .library main .recent-articles-container {
    @apply hidden lg:block lg:w-recent-articles bg-danaherpurple-25 space-y-4 !py-28 shrink-0;
  }
  
  .appear div.timeline > div:not(:last-child) { 
    .t-line::after {
        @apply content-[""] left-[38%] md:left-[18%] lg:left-[28%] w-px h-full absolute top-14 bottom-0 bg-danahergray-300;
    }
  }

  .productdetail > main > div:nth-child(1) {
    @apply block h-14 w-full px-4 py-2 bg-white md:hidden order-last;
  }

  .productdetail > main > div:nth-child(1) select.selected-tab {
    @apply block w-auto py-2 pl-4 text-base border border-gray-300 rounded text-danaherblue-600 focus:outline-none;
  }
  
  .column-wrapper{
    @apply max-w-7xl w-full mx-auto;
  }
  
  .columns:not(.columns-2-cols) > div div > p:not(.button-container) {
    @apply text-lg block leading-5;
  }

  .columns.features-card-left > div > div.h-full > .card {
    @apply flex flex-row pb-6;
  }
  
  .columns.features-card-left > div > div.h-full > div.card > .left-content {
    @apply pr-3;
  }
  
  main .top-border > div.columns-wrapper:first-child {
    @apply !py-0;
  }
  
  .blog main .section.default-content-wrapper > p {
    @apply mt-3 leading-7 text-base;
  }
  
  .blog main > .section:first-child {
    @apply lg:w-recent-articles-left;
  }
  
  .blog main .columns h2 {
    @apply inline-flex font-semibold text-xl text-danahergray-900;
  }
  
  .blog main .columns > div > div > p:not(.button-container) {
    @apply mt-3 leading-7 text-base text-danahergray-700;
  }
  
  .blog main > div.columns-container > div.columns-wrapper > div.columns > div {
    @apply py-0;
  }
  
  .blog main > div.columns-container > div.columns-wrapper {
    @apply bg-white;
  }
  
  .blog main > div.tags-list-container > div.tags-list-wrapper div > a {
    @apply text-center inline-block rounded-full px-4 py-1 font-semibold text-danaherpurple-500 bg-danaherpurple-50;
  }

  .blog main > div.tags-list-container > div.tags-list-wrapper div > a:hover {
    @apply bg-danaherpurple-500 text-white;
  }

  .productdetail main .columns p.embed-vimeo {
    @apply my-2;
  }
  
  .productdetail main .columns.columns-2-cols .picdiv p:not(picture) + p:last-child, 
  .productdetail main .columns p.embed-vimeo~p {
    @apply text-sm leading-5 text-gray-300;
  }
  
  .productdetail main .columns p > strong{
    @apply !font-medium !text-lg !leading-5 !text-gray-900;
  }
  
  .productdetail main .columns p {
    @apply pt-2 !text-base text-danahergray-700;
  }
  
  .productdetail main .columns.columns-2-cols .h-full {
    @apply text-base text-danahergray-700 py-2;
  }
  
  .productdetail main .columns.columns-2-cols .icon svg {
    @apply stroke-white stroke-0;
  }
  
  .productdetail main .columns.columns-3-cols > li {
    @apply text-center mb-3;
  }
  
  .productdetail main .default-content-wrapper > p {
    @apply w-3/4;
  }
  
  .productdetail main .default-content-wrapper > h2:only-child {
    @apply text-center;
  }

  main .section.product-hero-container {
    @apply bg-gray-50 px-2 pt-2 pb-32;
  }

  .product-hero {
      @apply p-4;
  }

  .product-hero .btn-outline-trending-brand {
      @apply text-center;
  }

  .product-hero .product-hero-content {
      @apply flex flex-col md:flex-row lg:gap-16 md:gap-12 gap-2;
  }

  .product-hero .hero-default-content {
      @apply md:col-span-6;
  }

  .product-hero .hero-default-content > div {
      @apply w-full h-full text-left;
  }

  .product-hero .hero-default-content > div .category-name {
      @apply text-sm font-normal leading-5 text-danaherpurple-500;
  }

  .product-hero .hero-default-content > div h1.title {
      @apply mt-3 mb-3 text-gray-900 mb-3;
  }

  .product-hero .hero-default-content > div h4 {
      @apply font-bold;
  }

  .product-hero .hero-default-content > div ul,
  .product-hero .hero-default-content > div p {
      @apply text-base;
  }

  .product-hero .hero-default-content > div ul {
      @apply list-disc ml-12 mt-3;
  }

  .product-hero .hero-default-content > div ul li {
      @apply mb-2.5;
  }

  .product-hero .hero-default-content > div .basic-info {
      @apply flex justify-between mt-8;
  }

  .product-hero .hero-default-content > div .basic-info div > p:nth-child(1) {
      @apply text-base font-bold;
  }

  .product-hero .hero-default-content > div .basic-info a {
      @apply border-b-2 border-danaherpurple-500;
  }

  .product-hero .vertical-gallery-container {
      @apply shrink-0 order-first;
  }

  .product-hero .vertical-gallery-container > div {
      @apply flex flex-col lg:flex-row gap-3 bg-transparent overflow-hidden;
  }

  .product-hero .vertical-gallery-container > div div:nth-child(1) {
      @apply relative bg-white shadow-lg md:shadow-none;
  }

  .product-hero .vertical-gallery-container > div div:nth-child(1) img {
      @apply w-[400px] h-[400px] max-w-[400px] mx-auto shadow-none md:shadow-lg object-contain transition duration-700;
  }

  .product-hero .vertical-gallery-container > div > div:not(:nth-child(1)) {
      @apply w-full lg:w-20 flex flex-row lg:flex-col lg:order-first gap-2 overflow-auto bg-transparent scroll-pl-6 snap-x [&>picture]:w-max 
          [&>*.view-more]:w-[75px] [&>*.view-more]:h-[75px] [&>*.view-more]:cursor-pointer 
          [&>*>img]:w-[75px] [&>*>img]:h-[75px] [&>*>img]:cursor-pointer 
          [&>*.active>img]:opacity-80 [&>*.active>img]:border-2 [&>*.active>img]:border-danaherpurple-500;
  }

  .product-hero .vertical-gallery-container .view-more {
      @apply flex flex-col leading-tight text-danaherpurple-500 text-sm font-semibold px-3 py-2 hover:border hover:border-danaherpurple-500 bg-white;
  }

  .product-hero .vertical-gallery-container > div > div:not(:nth-child(1)) img {
      @apply object-cover transition duration-500 hover:border hover:border-danaherpurple-500;
  }

  .category main .section {
    @apply py-8;
  }

  .category .container-two-col .col-right p {
    @apply pb-6;
  }

  .category .default-content-wrapper p {
    @apply xl:w-3/4;
  }

  .category .default-content-wrapper h2, .category .accordion-wrapper h2 {
    @apply font-semibold text-2xl pt-4;
  }

  svg symbol path {
    stroke: inherit;
  }

  .page-jump-menu-container.fixed, .page-tabs-container.fixed {
    @apply mt-[-1px] bg-white shadow-lg;
  }

  .page-jump-menu-container.fixed ul, .page-tabs-container.fixed ul {
      @apply shadow-none rounded-none;
  }

  .page-jump-menu-container li[aria-selected="false"] > a, .page-tabs-container li[aria-selected="false"] > a {
      @apply bg-white;
  }
   
  .page-jump-menu-container li[aria-selected="true"] > a, .page-tabs-container li[aria-selected="true"] > a {
    @apply text-white bg-danaherpurple-500;
  }

  .page-jump-menu-container li[aria-selected="true"] svg, .page-tabs-container li[aria-selected="true"] svg {
      @apply stroke-white;
  }
    
  .page-jump-menu-container.fixed li > a, .page-tabs-container.fixed li > a {
      @apply rounded-full;
  }

  .page-jump-menu-container li:hover > a, .page-tabs-container li:hover > a,
  .page-jump-menu-container li[aria-selected="true"] > a, .page-tabs-container li[aria-selected="true"] > a {
      @apply text-white bg-danaherpurple-500;
  }

  .page-jump-menu-container.fixed li a .icon svg > use, .page-tabs-container.fixed li a .icon svg > use {
      @apply stroke-danaherpurple-500;
  }

  .page-jump-menu-container.fixed li:hover > a .icon svg > use, .page-tabs-container.fixed li:hover > a .icon svg > use,
  .page-jump-menu-container.fixed li[aria-selected="true"] > a .icon svg > use, .page-tabs-container.fixed li[aria-selected="true"] > a .icon svg > use {
      @apply stroke-white;
  }

  .page-jump-menu-container, .page-tabs-container {
    @apply hidden md:block -mt-20 px-0 md:px-4 lg:px-0 [&_.page-jump-menu-wrapper]:flex [&_.page-tabs-wrapper]:flex [&_.page-jump-menu-wrapper]:mx-auto [&_.page-tabs-wrapper]:mx-auto [&_.page-jump-menu-wrapper]:md:max-w-max [&_.page-tabs-wrapper]:md:max-w-max [&_.page-jump-menu-wrapper]:pt-4 [&_.page-jump-menu-wrapper]:pb-0 [&_.page-tabs-wrapper]:pt-4 [&_.page-tabs-wrapper]:pb-0 [&_ul>li>a]:h-40 [&_ul>li>a]:flex-col [&_ul>li>a]:justify-center ;
  }
  
  .processstep main .default-content-wrapper.section.side-nav-container,
  .topic main, 
  .topichub main {
    @apply grid px-4 lg:px-0 max-w-7xl mx-auto lg:grid-cols-12;
  }

  .processstep main .default-content-wrapper.section.side-nav-container > div.side-nav-wrapper, 
  .topic main .side-nav-container, 
  .topichub main .side-nav-container {
    @apply hidden lg:block lg:col-span-3 lg:col-start-1 lg:row-span-6 lg:pt-4 p-0;
  }
  
  .processstep main .default-content-wrapper.section.side-nav-container > div,
  .topic main div:nth-child(2),
  .topichub main .section.topic-list-container {
    @apply lg:col-span-8 lg:col-start-5 space-y-4 mb-2 flex-1;
  }
}

@layer utilities {
  .external-links::after {
    @apply w-3 h-3 inline-block ml-1 bg-contain bg-no-repeat bg-center content-[''];
    
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewBox='0 0 18 18'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
  }
  
  main .section.top-border {
    @apply border-t border-solid border-black m-auto max-w-7xl mt-10;
  }

  .off-screen {
    @apply absolute invisible opacity-0 left-0 right-0;
  }
}
