/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@import '../blocks/cards/cards.css';
@import '../blocks/columns/columns.css';
@import '../blocks/footer/footer.css';
@import '../blocks/header/header.css';
@import '../blocks/hero/hero.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply m-0 leading-relaxed hidden;
  }

  main img {
    @apply max-w-full w-auto h-auto;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply mt-4 mb-2 text-danahergray-900;
  }

  h1 {
    @apply leading-10 font-semibold text-6xl;
  }

  h2 { 
    @apply leading-10 font-medium text-[40px];
  }

  h3 { 
    @apply leading-7 font-medium text-2xl; 
  }

  h4 { 
    @apply leading-7 font-normal text-xl; 
  }

  h5 {
    @apply leading-7 font-normal text-lg; 
  }

  h6 {
    @apply font-normal text-base; 
  }
}

@layer components {
  .font-fort {
    font-family: fort,sans-serif
  }

  .icon {
    @apply w-6 h-6 inline-block;
  }

  .icon svg {
    @apply h-full w-full;
  }

  main .section {
    @apply px-6 py-8 sm:py-8;
  }

  main .section>div {
    @apply md:max-w-7xl md:mx-auto
  }

  .btn {
    @apply inline-flex justify-center place-items-center py-1.5 px-3 text-white text-base text-center font-normal whitespace-nowrap no-underline align-middle cursor-pointer space-x-1 tracking-wide select-none rounded transition focus:outline-none bg-danaherorange-500 hover:bg-danaherorange-800;
  }

  /* START OF TEMP STYLES */
  .btn.orange {
    @apply text-white bg-danaherorange-500 hover:bg-danaherorange-800 border-danaherorange-500 hover:border-danaherorange-800;
  }

  .btn.white {
    @apply text-danaherorange-500 bg-white border-2 border-danaherorange-500 hover:text-white hover:bg-danaherorange-500;
  }

  /* END OF TEMP STYLES */
  .btn>* {
    @apply inline-block fill-current;
  }

  .btn-sm {
    @apply py-0.5 text-sm;
  }

  .btn-lg {
    @apply py-2.5 text-lg;
  }

  .btn:disabled {
    @apply cursor-not-allowed opacity-50 focus:ring-0;
  }

  .btn.loading {
    @apply text-opacity-25 cursor-wait opacity-50 focus:ring-0;
  }

  .btn-group {
    @apply relative inline-flex;
  }

  .btn-group>.btn {
    @apply rounded-none focus:ring-0 focus:ring-offset-0;
  }

  .btn-group>.btn:first-child {
    @apply rounded-tl rounded-bl;
  }

  .btn-group>.btn:last-child {
    @apply rounded-tr rounded-br;
  }

  /* START OF CORE STYLES */
  .btn-primary {
    @apply text-white bg-danaherorange-500 hover:bg-danaherorange-800 border-danaherorange-500 hover:border-danaherorange-800;
  }

  .btn-secondary {
    @apply text-danaherorange-500 bg-white border-2 border-danaherorange-500 hover:text-white hover:bg-danaherorange-500;
  }

  .btn-tertiary {
    @apply text-white bg-lightblue-500 hover:bg-lightblue-600 border-lightblue-500 hover:border-lightblue-600;
  }

  .btn-brand {
    @apply text-white bg-danaherorange-500 hover:bg-danaherorange-800 border-danaherorange-500 hover:border-danaherorange-800;
  }

  .btn-info {
    @apply text-white bg-lightblue-500 hover:bg-lightblue-600 border-lightblue-500 hover:border-lightblue-600;
  }

  .btn-trending-brand {
    @apply text-white bg-danaherpurple-500 hover:bg-danaherpurple-800 border-danaherpurple-500;
  }

  .btn-outline-brand {
    @apply text-danaherorange-500 bg-white border-2 border-danaherorange-500 hover:text-white hover:bg-danaherorange-500;
  }

  .btn-outline-trending-brand {
    @apply text-danaherpurple-500 bg-white border-2 border-danaherpurple-500 hover:text-white hover:bg-danaherpurple-800;
  }

  /* END OF CORE STYLES */
  .btn-dialog {
    @apply text-white bg-salmon-500 hover:bg-salmon-700 focus:ring-salmon-700;
  }

  .btn-success {
    @apply text-white bg-green-500 hover:bg-green-600 focus:ring-green-600;
  }

  .btn-danger {
    @apply text-white bg-red-500 hover:bg-red-600 focus:ring-red-600;
  }

  .btn-warning {
    @apply text-white bg-yellow-500 hover:bg-yellow-600 focus:ring-yellow-600;
  }

  .outline {
    @apply text-black bg-white border-2 border-gray-100 hover:text-white hover:bg-gray-200;
  }

  .btn-outline-dialog {
    @apply text-salmon-500 bg-white border-2 border-salmon-500 hover:text-white hover:bg-salmon-500;
  }

  .btn-outline-primary {
    @apply text-blue-500 bg-white border-2 border-blue-500 hover:text-white hover:bg-blue-500;
  }

  .btn-outline-secondary {
    @apply text-gray-500 bg-white border-2 border-gray-500 hover:text-white hover:bg-gray-500;
  }

  .btn-outline-success {
    @apply text-green-500 bg-white border-2 border-green-500 hover:text-white hover:bg-green-500;
  }

  .btn-outline-danger {
    @apply text-red-500 bg-white border-2 border-red-500 hover:text-white hover:bg-red-500 focus:ring-red-500;
  }

  .btn-outline-warning {
    @apply text-yellow-500 bg-white border-2 border-yellow-500 hover:text-white hover:bg-yellow-500 focus:ring-yellow-500;
  }

  .btn-outline-info {
    @apply text-lightblue-500 bg-white border-2 border-lightblue-500 hover:text-white hover:bg-lightblue-500 focus:ring-lightblue-500;
  }

  .btn-primary-brand {
    @apply text-white bg-danaherblue-600 focus:ring-danaherblue-600 hover:bg-danaherorange-500;
  }

  .btn-transparent {
    @apply text-white bg-transparent border border-white focus:ring-white px-10 py-5 text-xl hover:bg-white hover:text-black;
  }

  .form-input,
  .form-select,
  .form-date {
    @apply w-full block px-2 text-gray-600 font-normal bg-gray-50 rounded shadow-sm tracking-wide border border-solid border-gray-300 transition duration-300 focus:outline-none focus:ring-1 focus:ring-offset-1 focus:ring-gray-400 focus:border-gray-400;
  }

  .form-date {
    @apply py-1 text-base;
  }

  .form-date-sm {
    @apply py-0.5 text-sm;
  }

  .form-date-lg {
    @apply py-1.5 text-lg;
  }

  .form-input,
  .form-select {
    @apply py-1.5 text-base;
  }

  .form-input-sm,
  .form-select-sm {
    @apply py-1 text-sm;
  }

  .form-input-lg,
  .form-select-lg {
    @apply py-2 text-lg;
  }

  .sticky-footer {
    @apply fixed w-full flex gap-x-2 justify-center bottom-3 px-5 transition z-30;
  }

  .sticky-footer a, .sticky-footer button {
    @apply btn gap-x-1 px-3.5 py-2.5 text-white bg-danahergray-900 hover:bg-danaherorange-600;
  }

  .sticky-footer .btn-group a:first-child {
    @apply !rounded-l-full;
  }
  
  .sticky-footer .btn-group button:last-child {
    @apply !rounded-r-full;
  }
  
  .sticky-footer button.accessibility {
    @apply btn gap-x-1 px-2.5 py-2.5 text-white rounded-full bg-danahergray-900 hover:bg-danaherorange-600;
  }
  
  .sticky-footer button.accessibility svg {
    @apply fill-none;
  }
}

@layer utilities {
  .href-text a {
    @apply relative z-0 underline decoration-[#3bc7e5] decoration-[3px];
  }

  .href-text a:hover {
    @apply text-white transition ease-in-out bg-[#3BC7E5];
  }

  .external-links::after {
    @apply w-3 h-3 inline-block ml-1 bg-contain bg-no-repeat bg-center content-[''];
    
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='currentColor' viewBox='0 0 18 18'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
  }
}
