.container {
  width: 100%
}

@media (min-width: 640px) {
  .container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px
  }
}

.btn-lg {
  padding-top: .625rem;
  padding-bottom: .625rem;
  font-size: 1.125rem;
  line-height: 1.75rem
}

.newlab-join-today-form-wrapper :is(.absolute) {
  position: absolute
}

.newlab-join-today-form-wrapper :is(.relative) {
  position: relative
}

.newlab-join-today-form-wrapper :is(.z-10) {
  z-index: 10
}

.newlab-join-today-form-wrapper :is(.col-span-1) {
  grid-column: span 1 / span 1
}

.newlab-join-today-form-wrapper :is(.mx-0) {
  margin-left: 0px;
  margin-right: 0px
}

.newlab-join-today-form-wrapper :is(.mx-auto) {
  margin-left: auto;
  margin-right: auto
}

.newlab-join-today-form-wrapper :is(.my-0) {
  margin-top: 0px;
  margin-bottom: 0px
}

.newlab-join-today-form-wrapper :is(.my-2) {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

.newlab-join-today-form-wrapper :is(.mt-1) {
  margin-top: 0.25rem
}

.newlab-join-today-form-wrapper :is(.mt-5) {
  margin-top: 1.25rem
}

.newlab-join-today-form-wrapper :is(.mt-6) {
  margin-top: 1.5rem
}

.newlab-join-today-form-wrapper :is(.box-border) {
  box-sizing: border-box
}

.newlab-join-today-form-wrapper :is(.block) {
  display: block
}

.newlab-join-today-form-wrapper :is(.flex) {
  display: flex
}

.newlab-join-today-form-wrapper :is(.grid) {
  display: grid
}

.newlab-join-today-form-wrapper :is(.hidden) {
  display: none
}

.newlab-join-today-form-wrapper :is(.h-3) {
  height: 0.75rem
}

.newlab-join-today-form-wrapper :is(.max-h-48) {
  max-height: 12rem
}

.newlab-join-today-form-wrapper :is(.w-3) {
  width: 0.75rem
}

.newlab-join-today-form-wrapper :is(.w-full) {
  width: 100%
}

.newlab-join-today-form-wrapper :is(.max-w-4xl) {
  max-width: 56rem
}

.newlab-join-today-form-wrapper :is(.cursor-pointer) {
  cursor: pointer
}

.newlab-join-today-form-wrapper :is(.grid-cols-1) {
  grid-template-columns: repeat(1, minmax(0, 1fr))
}

.newlab-join-today-form-wrapper :is(.items-center) {
  align-items: center
}

.newlab-join-today-form-wrapper :is(.items-baseline) {
  align-items: baseline
}

.newlab-join-today-form-wrapper :is(.justify-between) {
  justify-content: space-between
}

.newlab-join-today-form-wrapper :is(.gap-x-4) {
  -moz-column-gap: 1rem;
       column-gap: 1rem
}

.newlab-join-today-form-wrapper :is(.gap-y-6) {
  row-gap: 1.5rem
}

.newlab-join-today-form-wrapper :is(.space-y-2 > :not([hidden]) ~ :not([hidden])) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse))
}

.newlab-join-today-form-wrapper :is(.overflow-hidden) {
  overflow: hidden
}

.newlab-join-today-form-wrapper :is(.overflow-scroll) {
  overflow: scroll
}

.newlab-join-today-form-wrapper :is(.rounded-full) {
  border-radius: 9999px
}

.newlab-join-today-form-wrapper :is(.rounded-lg) {
  border-radius: 0.5rem
}

.newlab-join-today-form-wrapper :is(.rounded-xl) {
  border-radius: 0.75rem
}

.newlab-join-today-form-wrapper :is(.border) {
  border-width: 1px
}

.newlab-join-today-form-wrapper :is(.border-solid) {
  border-style: solid
}

.newlab-join-today-form-wrapper :is(.border-gray-300) {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity))
}

.newlab-join-today-form-wrapper :is(.bg-danaherlightblue-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(239 251 253 / var(--tw-bg-opacity))
}

.newlab-join-today-form-wrapper :is(.bg-danaherpurple-800) {
  --tw-bg-opacity: 1;
  background-color: rgb(64 0 165 / var(--tw-bg-opacity))
}

.newlab-join-today-form-wrapper :is(.bg-white) {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.newlab-join-today-form-wrapper :is(.p-4) {
  padding: 1rem
}

.newlab-join-today-form-wrapper :is(.p-6) {
  padding: 1.5rem
}

.newlab-join-today-form-wrapper :is(.px-2) {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.newlab-join-today-form-wrapper :is(.px-4) {
  padding-left: 1rem;
  padding-right: 1rem
}

.newlab-join-today-form-wrapper :is(.px-6) {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.newlab-join-today-form-wrapper :is(.py-2) {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.newlab-join-today-form-wrapper :is(.py-4) {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.newlab-join-today-form-wrapper :is(.pl-2) {
  padding-left: 0.5rem
}

.newlab-join-today-form-wrapper :is(.text-base) {
  font-size: 1rem;
  line-height: 1.5rem
}

.newlab-join-today-form-wrapper :is(.text-sm) {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.newlab-join-today-form-wrapper :is(.font-extralight) {
  font-weight: 200
}

.newlab-join-today-form-wrapper :is(.font-medium) {
  font-weight: 500
}

.newlab-join-today-form-wrapper :is(.font-normal) {
  font-weight: 200
}

.newlab-join-today-form-wrapper :is(.leading-4) {
  line-height: 1rem
}

.newlab-join-today-form-wrapper :is(.text-danaherpurple-500) {
  --tw-text-opacity: 1;
  color: rgb(117 35 255 / var(--tw-text-opacity))
}

.newlab-join-today-form-wrapper :is(.text-gray-600) {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity))
}

.newlab-join-today-form-wrapper :is(.text-gray-700) {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity))
}

.newlab-join-today-form-wrapper :is(.text-red-500) {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity))
}

.newlab-join-today-form-wrapper :is(.shadow) {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.hover\:bg-danaherpurple-50:hover {
  background-color: #EADEFF
}

.newlab-join-today-form-wrapper :is(.hover\:bg-danaherpurple-50:hover) {
  --tw-bg-opacity: 1;
  background-color: rgb(234 222 255 / var(--tw-bg-opacity))
}

.newlab-join-today-form-wrapper :is(.focus\:outline-none:focus) {
  outline: 2px solid transparent;
  outline-offset: 2px
}

.newlab-join-today-form-wrapper :is(.focus\:ring-danaherpurple-500:focus) {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(117 35 255 / var(--tw-ring-opacity))
}

.newlab-join-today-form-wrapper :is(.peer:checked ~ .peer-checked\:block) {
  display: block
}

@media (min-width: 768px) {
  .newlab-join-today-form-wrapper :is(.md\:col-span-2) {
    grid-column: span 2 / span 2
  }

  .newlab-join-today-form-wrapper :is(.md\:ml-2) {
    margin-left: 0.5rem
  }

  .newlab-join-today-form-wrapper :is(.md\:grid-cols-2) {
    grid-template-columns: repeat(2, minmax(0, 1fr))
  }
}