.container {
  width: 100%
}

@media (min-width: 640px) {
  .container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px
  }
}

.carousel-wrapper .carousel, .product-recommendations-wrapper .product-recommendations {
  scrollbar-width: none
}

.product-recommendations-wrapper :is(.relative) {
  position: relative
}

.product-recommendations-wrapper :is(.col-span-1) {
  grid-column: span 1 / span 1
}

.product-recommendations-wrapper :is(.mx-auto) {
  margin-left: auto;
  margin-right: auto
}

.product-recommendations-wrapper :is(.mb-3) {
  margin-bottom: 0.75rem
}

.product-recommendations-wrapper :is(.mb-4) {
  margin-bottom: 1rem
}

.product-recommendations-wrapper :is(.mt-12) {
  margin-top: 3rem
}

.product-recommendations-wrapper :is(.mt-3) {
  margin-top: 0.75rem
}

.product-recommendations-wrapper :is(.\!line-clamp-3) {
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 3 !important
}

.product-recommendations-wrapper :is(.line-clamp-4) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4
}

.product-recommendations-wrapper :is(.block) {
  display: block
}

.product-recommendations-wrapper :is(.flex) {
  display: flex
}

.product-recommendations-wrapper :is(.inline-flex) {
  display: inline-flex
}

.product-recommendations-wrapper :is(.grid) {
  display: grid
}

.product-recommendations-wrapper :is(.hidden) {
  display: none
}

.product-recommendations-wrapper :is(.\!h-14) {
  height: 3.5rem !important
}

.product-recommendations-wrapper :is(.\!h-20) {
  height: 5rem !important
}

.product-recommendations-wrapper :is(.w-full) {
  width: 100%
}

.product-recommendations-wrapper :is(.max-w-7xl) {
  max-width: 80rem
}

.product-recommendations-wrapper :is(.max-w-xl) {
  max-width: 36rem
}

.product-recommendations-wrapper :is(.transform) {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.product-recommendations-wrapper :is(.snap-x) {
  scroll-snap-type: x var(--tw-scroll-snap-strictness)
}

.product-recommendations-wrapper :is(.snap-mandatory) {
  --tw-scroll-snap-strictness: mandatory
}

.product-recommendations-wrapper :is(.auto-cols-\[calc\(100\%\)\]) {
  grid-auto-columns: calc(100%)
}

.product-recommendations-wrapper :is(.grid-flow-col) {
  grid-auto-flow: column
}

.product-recommendations-wrapper :is(.grid-cols-1) {
  grid-template-columns: repeat(1, minmax(0, 1fr))
}

.product-recommendations-wrapper :is(.flex-col) {
  flex-direction: column
}

.product-recommendations-wrapper :is(.items-center) {
  align-items: center
}

.product-recommendations-wrapper :is(.justify-center) {
  justify-content: center
}

.product-recommendations-wrapper :is(.justify-between) {
  justify-content: space-between
}

.product-recommendations-wrapper :is(.justify-items-center) {
  justify-items: center
}

.product-recommendations-wrapper :is(.gap-6) {
  gap: 1.5rem
}

.product-recommendations-wrapper :is(.gap-x-4) {
  -moz-column-gap: 1rem;
       column-gap: 1rem
}

.product-recommendations-wrapper :is(.space-x-2 > :not([hidden]) ~ :not([hidden])) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)))
}

.product-recommendations-wrapper :is(.space-x-4 > :not([hidden]) ~ :not([hidden])) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)))
}

.product-recommendations-wrapper :is(.space-y-3 > :not([hidden]) ~ :not([hidden])) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse))
}

.product-recommendations-wrapper :is(.overflow-hidden) {
  overflow: hidden
}

.product-recommendations-wrapper :is(.overflow-x-auto) {
  overflow-x: auto
}

.product-recommendations-wrapper :is(.scroll-smooth) {
  scroll-behavior: smooth
}

.product-recommendations-wrapper :is(.\!break-words) {
  overflow-wrap: break-word !important
}

.product-recommendations-wrapper :is(.break-words) {
  overflow-wrap: break-word
}

.product-recommendations-wrapper :is(.\!rounded-full) {
  border-radius: 9999px !important
}

.product-recommendations-wrapper :is(.rounded-lg) {
  border-radius: 0.5rem
}

.product-recommendations-wrapper :is(.rounded-md) {
  border-radius: 0.375rem
}

.product-recommendations-wrapper :is(.border) {
  border-width: 1px
}

.product-recommendations-wrapper :is(.border-8) {
  border-width: 8px
}

.product-recommendations-wrapper :is(.bg-danaherlightblue-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(239 251 253 / var(--tw-bg-opacity))
}

.product-recommendations-wrapper :is(.bg-danaherpurple-800) {
  --tw-bg-opacity: 1;
  background-color: rgb(64 0 165 / var(--tw-bg-opacity))
}

.product-recommendations-wrapper :is(.bg-gray-100) {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}

.product-recommendations-wrapper :is(.bg-white) {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.product-recommendations-wrapper :is(.\!px-7) {
  padding-left: 1.75rem !important;
  padding-right: 1.75rem !important
}

.product-recommendations-wrapper :is(.px-2) {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.product-recommendations-wrapper :is(.px-4) {
  padding-left: 1rem;
  padding-right: 1rem
}

.product-recommendations-wrapper :is(.px-6) {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.product-recommendations-wrapper :is(.py-5) {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem
}

.product-recommendations-wrapper :is(.pb-2) {
  padding-bottom: 0.5rem
}

.product-recommendations-wrapper :is(.pt-8) {
  padding-top: 2rem
}

.product-recommendations-wrapper :is(.\!text-lg) {
  font-size: 1.125rem !important;
  line-height: 1.75rem !important
}

.product-recommendations-wrapper :is(.text-base) {
  font-size: 1rem;
  line-height: 1.5rem
}

.product-recommendations-wrapper :is(.text-sm) {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.product-recommendations-wrapper :is(.\!font-semibold) {
  font-weight: 700 !important
}

.product-recommendations-wrapper :is(.font-bold) {
  font-weight: 700
}

.product-recommendations-wrapper :is(.\!text-danahergray-900) {
  --tw-text-opacity: 1 !important;
  color: rgb(17 24 39 / var(--tw-text-opacity)) !important
}

.product-recommendations-wrapper :is(.text-danaherpurple-500) {
  --tw-text-opacity: 1;
  color: rgb(117 35 255 / var(--tw-text-opacity))
}

.product-recommendations-wrapper :is(.text-gray-900) {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity))
}

.product-recommendations-wrapper :is(.shadow-lg) {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.product-recommendations-wrapper :is(.transition) {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.product-recommendations-wrapper :is(.duration-500) {
  transition-duration: 500ms
}

.product-recommendations-wrapper :is(.hover\:scale-105:hover) {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

@media (min-width: 640px) {
  .product-recommendations-wrapper :is(.sm\:grid-cols-2) {
    grid-template-columns: repeat(2, minmax(0, 1fr))
  }

  .product-recommendations-wrapper :is(.sm\:px-0) {
    padding-left: 0px;
    padding-right: 0px
  }
}

@media (min-width: 768px) {
  .product-recommendations-wrapper :is(.md\:auto-cols-\[calc\(100\%\/2\)\]) {
    grid-auto-columns: calc(100% / 2)
  }
}

@media (min-width: 1024px) {
  .product-recommendations-wrapper :is(.lg\:auto-cols-\[calc\(\(100\%\/3\)-20px\)\]) {
    grid-auto-columns: calc((100% / 3) - 20px)
  }

  .product-recommendations-wrapper :is(.lg\:grid-cols-4) {
    grid-template-columns: repeat(4, minmax(0, 1fr))
  }
}

@media (min-width: 1280px) {
  .product-recommendations-wrapper :is(.xl\:auto-cols-\[calc\(\(100\%\/4\)-20px\)\]) {
    grid-auto-columns: calc((100% / 4) - 20px)
  }
}